# Desafío 3
Generar una función que tome un dataset, identifique qué variables son fechas, y genere una columna nueva para cada una, en donde se muestre la distancia en términos de días, con la fecha de hoy.

In [ ]:
import pandas as pd
import numpy as np

:

In [ ]:
import pandas as pd
datos = pd.read_csv("data_desafio_3.csv", parse_dates = ["date"])
datos.head()

   id       date  revenue product
0   1 2020-06-01     7189    desk
1   2 2020-07-22    11318   chair
2   3 2020-09-11     4638  pencil
3   4 2020-08-03     4076   chair
4   5 2020-06-27    10232  pencil

Paso 1: identificar las columnas en formato fecha

In [ ]:
dates = []
no_dates = []

for i in range(len(data.columns)):
  if data[data.columns[i]].dtype == 'datetime64[ns]':
    dates.append(data.columns[i])
  else:
    no_dates.append(data.columns[i])

print(f"""
El dataset contiene {len(dates)} columnas con formato fecha. 
Estas son: {dates}. 
Por otro lado, contiene {len(no_dates)} columnas con otro formato. 
Estas son: {no_dates}
""")

El dataset contiene 1 columnas con formato fecha.
Estas son: ['date'].
Por otro lado, contiene 3 columnas con otro formato.
Estas son: ['id', 'revenue', 'product']

Paso 2: cómo encontrar la diferencia en días entre dos columnas con fechas.

In [ ]:
from datetime import datetime as dt

dias = []

for i in range(len(data["date"])):
  a = dt.today() - data["date"][i] 
  dias.append(a.days)

dates_dif = pd.Series(dias, dtype = 'int')
dates_dif

0      338
1      287
2      236
3      275
4      312
      ...
195    142
196    209
197    184
198    178
199     29
Length: 200, dtype: int64

Paso 3: insertar la serie generada al dataset original

In [ ]:
data["dates_dif"] = dates_dif
data.head()

   id       date  revenue product  dates_dif
0   1 2020-06-01     7189    desk        338
1   2 2020-07-22    11318   chair        287
2   3 2020-09-11     4638  pencil        236
3   4 2020-08-03     4076   chair        275
4   5 2020-06-27    10232  pencil        312

Paso 4: generar una función estandarizada

In [ ]:
def diferencia_de_fechas(data):
  dates = []
  no_dates = []

  for i in range(len(data.columns)):
    if data[data.columns[i]].dtype == 'datetime64[ns]':
      dates.append(data.columns[i])
    else:
      no_dates.append(data.columns[i])

  print(f"""
  El dataset contiene {len(dates)} columnas con formato fecha. 
  Estas son: {dates}. 
  Por otro lado, contiene {len(no_dates)} columnas con otro formato. 
  Estas son: {no_dates}
  """)

  
  for d in range(len(dates)):
    dias = []
    for i in range(len(data[dates[d]])):
      a = dt.today() - data[dates[d]][i]
      dias.append(a.days)

    dates_dif = pd.Series(dias, dtype = 'int')
    
    nombre = dates[d] + ' - Diferencia de días con hoy'

    data[nombre] = dates_dif

  return data.head()

In [ ]:
diferencia_de_fechas(datos)

  El dataset contiene 2 columnas con formato fecha.
  Estas son: ['date', 'new_date'].
  Por otro lado, contiene 5 columnas con otro formato.
  Estas son: ['id', 'revenue', 'product', 'date - Diferencia de días con hoy', 'new_date - Diferencia de días con hoy']

   id       date  ...   new_date new_date - Diferencia de días con hoy
0   1 2020-06-01  ... 2020-01-01                                   490
1   2 2020-07-22  ... 2020-01-01                                   490
2   3 2020-09-11  ... 2020-01-01                                   490
3   4 2020-08-03  ... 2020-01-01                                   490
4   5 2020-06-27  ... 2020-01-01                                   490

[5 rows x 7 columns]