In [ ]:
P: ¿Cuánto se ganó en 2019?
P: ¿Cuál fue el mejor mes para las ventas? ¿Cuánto se ganó ese mes?
P: ¿Qué ciudad tuvo el mayor número de ventas?
P: ¿A qué hora debemos mostrar publicidad para maximizar probabilidad de que el cliente compre el producto?
P: ¿Qué producto vendió más? ¿Por qué crees que vendió más?

In [1]:
import pandas as pd
import numpy as np

In [4]:
v_enero = pd.read_csv("Sales_January_2019 (1).csv",delimiter=',', decimal='.')
v_febrero = pd.read_csv("Sales_February_2019 (1).csv",delimiter=',', decimal='.')
v_marzo = pd.read_csv("Sales_March_2019 (1).csv",delimiter=',', decimal='.')
v_abril = pd.read_csv("Sales_April_2019 (1).csv",delimiter=',', decimal='.')
v_mayo = pd.read_csv("Sales_May_2019 (1).csv",delimiter=',', decimal='.')
v_junio = pd.read_csv("Sales_June_2019 (1).csv", delimiter=',', decimal='.')
v_julio = pd.read_csv("Sales_July_2019 (1).csv",delimiter=',', decimal='.')
v_agosto = pd.read_csv("Sales_August_2019 (1).csv",delimiter=',', decimal='.')
v_setiembre = pd.read_csv("Sales_September_2019 (1).csv",delimiter=',', decimal='.')
v_octubre = pd.read_csv("Sales_October_2019 (1).csv", delimiter=',', decimal='.')
v_noviembre = pd.read_csv("Sales_November_2019 (1).csv", delimiter=',', decimal='.')
v_diciembre = pd.read_csv("Sales_December_2019 (1).csv", delimiter=',', decimal='.')


v_febrero.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

In [5]:

v_febrero.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,150502,iPhone,1,700,02/18/19 01:35,"866 Spruce St, Portland, ME 04101"
1,150503,AA Batteries (4-pack),1,3.84,02/13/19 07:24,"18 13th St, San Francisco, CA 94016"
2,150504,27in 4K Gaming Monitor,1,389.99,02/18/19 09:46,"52 6th St, New York City, NY 10001"
3,150505,Lightning Charging Cable,1,14.95,02/02/19 16:47,"129 Cherry St, Atlanta, GA 30301"
4,150506,AA Batteries (4-pack),2,3.84,02/28/19 20:32,"548 Lincoln St, Seattle, WA 98101"

In [7]:
v_anuales=pd.concat([v_enero,v_febrero,v_marzo,v_abril,v_mayo,v_junio,v_julio,v_agosto,v_setiembre,v_octubre,v_noviembre,v_diciembre],ignore_index=True)
v_anuales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

In [8]:
v_anuales.shape

(186850, 6)

In [9]:
v_anuales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

In [10]:
v_anuales.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [11]:
v_anuales_sin_nulos = v_anuales.dropna()

In [13]:
v_anuales_sin_nulos.shape

(186305, 6)

In [15]:
v_anuales_sin_nulos["Price Each"].unique()

array(['700', '14.95', '11.99', '149.99', '2.99', '389.99', '11.95',
       '99.99', '150', '1700', '300', '400', '3.84', '600', '109.99',
       '379.99', '999.99', '600.0', 'Price Each', '700.0', '150.0',
       '300.0', '1700.0', '400.0'], dtype=object)

In [18]:
v_anuales_sin_nulos = v_anuales_sin_nulos.drop(
    v_anuales_sin_nulos[v_anuales_sin_nulos["Price Each"] == 'Price Each'].index)

In [22]:
v_anuales_sin_nulos["Price Each"].unique()

array([ 700.  ,   14.95,   11.99,  149.99,    2.99,  389.99,   11.95,
         99.99,  150.  , 1700.  ,  300.  ,  400.  ,    3.84,  600.  ,
        109.99,  379.99,  999.99])

In [21]:
v_anuales_sin_nulos["Price Each"] = v_anuales_sin_nulos["Price Each"].astype(
    'float')

In [36]:
v_anuales_sin_nulos.dtypes

Order ID                    object
Product                   category
Quantity Ordered           float64
Price Each                 float64
Order Date          datetime64[ns]
Purchase Address            object
dtype: object

In [26]:
v_anuales_sin_nulos["Quantity Ordered"].unique()

array([1., 2., 3., 5., 4., 7., 6., 9., 8.])

In [25]:
v_anuales_sin_nulos["Quantity Ordered"] = v_anuales_sin_nulos["Quantity Ordered"].astype(
    'float')

In [30]:
v_anuales_sin_nulos["Product"]= v_anuales_sin_nulos["Product"].astype(
    'category')

In [35]:
v_anuales_sin_nulos.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1.0,700.00,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1.0,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2.0,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1.0,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1.0,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301"

In [34]:
v_anuales_sin_nulos["Order Date"] = pd.to_datetime(v_anuales_sin_nulos['Order Date'], format="mixed")
#pd.to_datetime(df['Fecha'], format='%m/%d/%y %H:%M')

In [38]:
v_anuales_sin_nulos["Purchase Address"].unique()

array(['944 Walnut St, Boston, MA 02215',
       '185 Maple St, Portland, OR 97035',
       '538 Adams St, San Francisco, CA 94016', ...,
       '273 Wilson St, Seattle, WA 98101',
       '778 River St, Dallas, TX 75001',
       '747 Chestnut St, Los Angeles, CA 90001'], dtype=object)