In [38]:
#importamos algunas librerías necesarias
import pandas as pd  #
from datetime import datetime

## 1 - Importamos el dataset con el que vamos a trabajar

In [39]:
df = pd.read_csv('https://catalogodatos.gub.uy/dataset/2ed18ffb-074c-472a-800e-324388ec0c7a/resource/3a7cfb1a-102a-4d2b-994f-5013bf2ce772/download/rupe-enero-2021.csv', 
                 delimiter=';', encoding='iso-8859-1')

## 2 - Exploramos el data frame

In [40]:
df.shape

(81624, 7)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81624 entries, 0 to 81623
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   pais_prov                 81624 non-null  object
 1   identificacion_prov       81624 non-null  object
 2   denominacion_social_prov  81616 non-null  object
 3   domicilio_fiscal          68208 non-null  object
 4   localidad_prov            47582 non-null  object
 5   departamento_prov         49615 non-null  object
 6   estado_prov               81624 non-null  object
dtypes: object(7)
memory usage: 4.4+ MB

In [42]:
df.describe()

,pais_prov,identificacion_prov,denominacion_social_prov,domicilio_fiscal,localidad_prov,departamento_prov,estado_prov
count,81624,81624,81616,68208,47582,49615,81624
unique,73,81617,81541,54870,654,19,4
top,URUGUAY,200052,KARMA S R L,0,MONTEVIDEO,Montevideo,ACTIVO
freq,79567,2,2,3139,28316,30029,39583

In [43]:
df.duplicated().sum()

0

In [44]:
df.isna()

,pais_prov,identificacion_prov,denominacion_social_prov,domicilio_fiscal,localidad_prov,departamento_prov,estado_prov
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
81619,False,False,False,False,False,False,False
81620,False,False,False,False,False,False,False
81621,False,False,False,False,False,False,False
81622,False,False,False,False,False,False,False
81623,False,False,False,False,False,False,False

In [45]:
df.isnull()

,pais_prov,identificacion_prov,denominacion_social_prov,domicilio_fiscal,localidad_prov,departamento_prov,estado_prov
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
81619,False,False,False,False,False,False,False
81620,False,False,False,False,False,False,False
81621,False,False,False,False,False,False,False
81622,False,False,False,False,False,False,False
81623,False,False,False,False,False,False,False

In [46]:
df.isna().sum()

pais_prov                       0
identificacion_prov             0
denominacion_social_prov        8
domicilio_fiscal            13416
localidad_prov              34042
departamento_prov           32009
estado_prov                     0
dtype: int64

In [47]:
df.isnull().sum()

pais_prov                       0
identificacion_prov             0
denominacion_social_prov        8
domicilio_fiscal            13416
localidad_prov              34042
departamento_prov           32009
estado_prov                     0
dtype: int64

## 3 - Como medir el tiempo de un proceso

In [48]:
import time
antes1 = datetime.now()  # time.time()
antes2 = time.time()  # time.time()

#Aqui el proceso que queremos ejecutar  
for i in range(0,100000):
  pass

despues1 = datetime.now()  # time.time() #
diff1 = despues1 - antes1

despues1 = datetime.now()  # time.time() #
despues2 = time.time()  # time.time() #

diff1 = despues1 - antes1
diff2 = despues2 - antes2


print("La diferencia1 es : " + str(diff1))
print("La diferencia2 es : " + str(diff2))

La diferencia1 es : 0:00:00.017653
La diferencia2 es : 0.01865983009338379

## 4 - Iterar el dataframe fila a fila (Caso #1)

In [49]:
inicio = time.time()
direcciones = []
for ind,fila in df.iterrows():
    direcciones.append(fila['domicilio_fiscal'])
fin = time.time()

tiempo_proceso = fin - inicio

print(f'El proceso llevo {str(tiempo_proceso)}')

El proceso llevo 17.30386996269226

In [50]:
tiempos = pd.DataFrame(columns=['Tipo_Test', 'Tiempo'])
tiempos.head()

Empty DataFrame
Columns: [Tipo_Test, Tiempo]
Index: []

In [51]:
tiempos = pd.concat([tiempos, pd.DataFrame({'Tipo_Test': ['Iterar por filas'], 'Tiempo':[diff2]})],ignore_index= True)
tiempos

C:\Users\carlos\AppData\Local\Temp\ipykernel_12336\1294596578.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  tiempos = pd.concat([tiempos, pd.DataFrame({'Tipo_Test': ['Iterar por filas'], 'Tiempo':[diff2]})],ignore_index= True)

          Tipo_Test   Tiempo
0  Iterar por filas  0.01866

## 5 - Iterar el dataframe por el indice (Caso #2)

In [52]:
inicio = time.time()
temp = []
for idx in range(0, len(df)):
  temp.append(df['domicilio_fiscal'].iloc[idx])
fin = time.time()
diff3 = fin - inicio
print("La diferencia: " + str(diff3))
tiempos = pd.concat([tiempos, pd.DataFrame(
    {'Tipo_Test': ['Iterar por indice'], 'Tiempo': [diff3]})], ignore_index=True)
tiempos

La diferencia: 3.5197651386260986

           Tipo_Test    Tiempo
0   Iterar por filas  0.018660
1  Iterar por indice  3.519765

## 6 - Iterar desde un diccionario (Caso #3)

In [53]:
df_dict = df.to_dict('records')
inicio = time.time()
temp = []
for row in df_dict:
  temp.append(row['domicilio_fiscal'])
fin = time.time()
diff4 = fin - inicio
print("La diferencia: " + str(diff4))
# resultado = resultado.append({'Tipo_Test':'Iterar desde un diccionario','Tiempo':diff},ignore_index=1)
tiempos = pd.concat([tiempos, pd.DataFrame(
    {'Tipo_Test': ['Iterar desde un diccionario'], 'Tiempo': [diff4]})], ignore_index=True)
tiempos

La diferencia: 0.06228756904602051

                     Tipo_Test    Tiempo
0             Iterar por filas  0.018660
1            Iterar por indice  3.519765
2  Iterar desde un diccionario  0.062288

## 7 - Iterar con una funcion lambda (Caso #4)

In [54]:
df_dict = df.to_dict('records')
inicio = time.time()
temp = []
temp.append(df['domicilio_fiscal'].apply(lambda x: x))
fin = time.time()
diff5 = fin - inicio
print("La diferencia: " + str(diff5))
# resultado = resultado.append({'Tipo_Test':'Iterar con funcion lambda','Tiempo':diff},ignore_index=1)
tiempos = pd.concat([tiempos, pd.DataFrame(
    {'Tipo_Test': ['Iterar con funcion lambda'], 'Tiempo': [diff5]})], ignore_index=True)

La diferencia: 0.07338953018188477

## 8 - Veamos el resultado

In [55]:
tiempos

                     Tipo_Test    Tiempo
0             Iterar por filas  0.018660
1            Iterar por indice  3.519765
2  Iterar desde un diccionario  0.062288
3    Iterar con funcion lambda  0.073390