# 1 - COMPRENSION DEL NEGOCIO (BUSINESS UNDERSTANDING)

# Contexto del problema
### General
Como consecuencia de los recursos limitados para la correcta atencion a los pacientes, particularmente a los enfermos de diabetes.
Cuya cantidad va en aumento y teniendo en cuenta la mejora de atencion y esfuerzo en la prevencion temprana, es que el hospital se plantea formas de mejorar la atencion y optimizar los esfuerzos en este sentido.

# Objetivo 
### Alcance
En base al contexto general del problema,es que se plantea como solucion, la realizacion de un modelo que ayude a prevenir y/o atender precozmente a futuros pacientes con diabetes.
Asimismo, este modelo servira como herramienta para priorizar pacientes potenciales y a su vez, optimizar los recursos para el tratamiento de los ya diagnosticados.

Este modelo podra ser utilizado, alimentandose de nuevos datos para generar estimaciones de nuevos pacientes.

# Componentes

### Requerimientos

En base a la problematica y el objetivo planteado, es que se establecen requerimientos minimos para el logro del objetivo. como:

# 2 - ENTENDIMIENTO DE LOS DATOS (DATA UNDERSTANDING)

In [9]:
# 3 - PREPARACION DE LOS DATOS (DATA PREPARATION)

# 4 - MODELADO (MODELING)

# 5 - EVALUACION (EVALUATION)

# 6 - DESPLIEGUE (DEPLOYMENT)

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('diabetes_prediction_dataset.csv')

In [12]:
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [13]:
round(df.describe(),0)

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0
mean,42.0,0.0,0.0,27.0,6.0,138.0,0.0
std,23.0,0.0,0.0,7.0,1.0,41.0,0.0
min,0.0,0.0,0.0,10.0,4.0,80.0,0.0
25%,24.0,0.0,0.0,24.0,5.0,100.0,0.0
50%,43.0,0.0,0.0,27.0,6.0,140.0,0.0
75%,60.0,0.0,0.0,30.0,6.0,159.0,0.0
max,80.0,1.0,1.0,96.0,9.0,300.0,1.0