In [ ]:
import pandas as pd
import numpy as np

# 1 - Obtenga el dataset “data_ventas”.

In [ ]:
ventas = pd.read_excel('data_ventas.xlsx') # Importamos los datos para utilizarlos

Inspeccionamos los datos a utilizar y algunas propiedades estadisticas del mismo

In [ ]:
ventas.head() # Inspeccionamos los primeros elementos del dataset

,IdVenta,Fecha,Cantidad,Monto,Producto,Color,Departamento,Revenue,Barrio
0,1,2012-03-30,16.0,1600.0,Puerta,Negro,Montevideo,25600.0,1
1,2,2014-06-16,120.0,2400.0,Ventana,Negro,Durazno,288000.0,Sin datos
2,3,2014-08-20,61.0,520.0,Puerta,Negro,Paysandú,31720.0,Sin datos
3,4,2010-02-16,4.0,780.0,Hazada,Rojo,Salto,3120.0,Sin datos
4,5,2009-06-11,16.0,520.0,"Chapa 3,2",Negro,Cerro Largo,8320.0,Sin datos

In [ ]:
ventas.info() # Observamos tipos de datos de las columnas y cantidad de valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   IdVenta       100000 non-null  int64
 1   Fecha         100000 non-null  datetime64[ns]
 2   Cantidad      99988 non-null   float64
 3   Monto         99977 non-null   float64
 4   Producto      100000 non-null  object
 5   Color         100000 non-null  object
 6   Departamento  100000 non-null  object
 7   Revenue       100000 non-null  float64
 8   Barrio        100000 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 6.9+ MB

In [ ]:
# Analizamos parametros de la población analizada para tener una idea sobre los ordenes de magnitud y outliers
ventas.describe()

             IdVenta      Cantidad         Monto       Revenue
count  100000.000000  99988.000000  99977.000000  1.000000e+05
mean    50000.500000     72.891747    675.288016  5.480474e+04
std     28867.657797    102.278427    448.049767  1.455684e+05
min         1.000000      1.000000    260.000000  0.000000e+00
25%     25000.750000     31.000000    387.000000  1.534000e+04
50%     50000.500000     62.000000    400.000000  3.042000e+04
75%     75000.250000     93.000000    800.000000  5.280000e+04
max    100000.000000   1200.000000   4800.000000  5.760000e+06

## a. Filtre el dataset de modo de trabajar solo con datos de Montevideo

In [ ]:
# Utilizamos el comando '.loc[]' para filtrar los datos que nos interesan
ventas = ventas.loc[(ventas['Departamento'] == 'Montevideo')]
ventas.head()

,IdVenta,Fecha,Cantidad,Monto,Producto,Color,Departamento,Revenue,Barrio
0,1,2012-03-30,16.0,1600.0,Puerta,Negro,Montevideo,25600.0,1
15,16,2010-05-28,118.0,780.0,"Chapa 2,3",Negro,Montevideo,92040.0,53
27,28,2012-10-27,69.0,2400.0,Hazada,Verde,Montevideo,165600.0,21
53,54,2009-06-22,1190.0,1200.0,Pala Pocera,Negro,Montevideo,1428000.0,47
55,56,2013-01-25,570.0,2400.0,Hazada,Rojo,Montevideo,1368000.0,78

## b. Elimine la columna “Color”

In [ ]:
# Eliminamos la columna 'Color' debido a que no nos interesa en el análisis
ventas = ventas.drop(columns = 'Color')
ventas.head()

## c. Identifique los valores faltantes (no necesariamente son valores nulos)

Aquí comienza el trabajo más arduo del analista de datos, analizar los datos que tiene con rigurosidad. Para comenzar podríamos utilizar algún comando para observar valores nulos.

### I. Valores numericos, reemplace los faltantes por la media del valor de la columna.

In [ ]:
# Utilizamos este comando para revisar que columnas son valores numericos
ventas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7090 entries, 0 to 99987
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IdVenta       7090 non-null   int64
 1   Fecha         7090 non-null   datetime64[ns]
 2   Cantidad      7078 non-null   float64
 3   Monto         7067 non-null   float64
 4   Producto      7090 non-null   object
 5   Departamento  7090 non-null   object
 6   Revenue       7090 non-null   float64
 7   Barrio        7090 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 498.5+ KB

**Podemos observar que solo existen 4 columnas con valores numericos. La IdVenta no es tan importante para analizar valores nulos, ya que es un entero auto-incremental.**

In [ ]:
ventas.isnull().sum() # Observamos los valores que son nulos en el dataset

IdVenta          0
Fecha            0
Cantidad        12
Monto           23
Producto         0
Departamento     0
Revenue          0
Barrio           0
dtype: int64

In [ ]:
# Analizamos que sucede cuando las columnas 'Cantidad' y 'Monto' son nulas
ventas.loc[(ventas['Cantidad'].isnull()) | (ventas['Monto'].isnull())] # Recordar que el simbolo "|" implica "or"

Empty DataFrame
Columns: [IdVenta, Fecha, Cantidad, Monto, Producto, Departamento, Revenue, Barrio]
Index: []

**Notese el comportamiento de la columna 'Revenue' cuando la cantidad o el monto son valores nulos. Analizamos todos los valores donde Revenue == 0**

In [ ]:
ventas.loc[ventas['Revenue'] == 0] # Vemos que la columna Revenue == 0 SOLO cuando cantidad o monto son NaN.

,IdVenta,Fecha,Cantidad,Monto,Producto,Color,Departamento,Revenue,Barrio
87,88,2012-08-04,790.0,NaN,Pala hogar,Negro,Montevideo,0.0,13
193,194,2011-09-17,1140.0,NaN,Pico,Rojo,Montevideo,0.0,17
219,220,2014-06-02,70.0,NaN,Pico,Verde,Montevideo,0.0,15
29829,29830,2014-02-13,NaN,800.0,Rastrillo,Verde,Montevideo,0.0,37
29831,29832,2014-01-20,20.0,NaN,Pico,Negro,Montevideo,0.0,38
29893,29894,2007-06-26,71.0,NaN,Pala hogar,Negro,Montevideo,0.0,10
29922,29923,2009-12-11,NaN,800.0,Puerta,Negro,Montevideo,0.0,43
29985,29986,2013-09-28,11.0,NaN,Pala hogar,Rojo,Montevideo,0.0,30
30039,30040,2014-12-31,NaN,NaN,Puerta,Rojo,Montevideo,0.0,71
30098,30099,2009-03-22,NaN,800.0,Puerta,Negro,Montevideo,0.0,43
30170,30171,2012-07-03,17.0,NaN,Ventana,Verde,Montevideo,0.0,34
58537,58538,2010-07-04,NaN,600.0,Ventana,Verde,Montevideo,0.0,76
58560,58561,2009-06-18,42.0,NaN,Hazada,Rojo,Montevideo,0.0,43
58576,58577,2010-05-08,36.0,NaN,Pala Dientes,Rojo,Montevideo,0.0,11
58609,58610,2011-02-16,116.0,NaN,Ventana,Negro,Montevideo,0.0,9
58610,58611,2013-09-11,107.0,NaN,Pala Pocera,Negro,Montevideo,0.0,63
58633,58634,2012-05-27,72.0,NaN,"Chapa 3,2",Negro,Montevideo,0.0,76
58643,58644,2009-02-06,NaN,NaN,Pala hogar,Verde,Montevideo,0.0,81
58699,58700,2010-05-19,NaN,800.0,Rastrillo,Verde,Montevideo,0.0,81
67211,67212,2014-01-05,NaN,600.0,Pala Dientes,Rojo,Montevideo,0.0,75
67276,67277,2008-07-16,NaN,NaN,Pala Pocera,Negro,Montevideo,0.0,68
67284,67285,2011-02-03,115.0,NaN,Pala Pocera,Rojo,Montevideo,0.0,56
67288,67289,2010-07-15,63.0,NaN,Pala Dientes,Negro,Montevideo,0.0,2
67323,67324,2012-08-16,45.0,NaN,Ventana,Negro,Montevideo,0.0,19
67374,67375,2013-04-29,NaN,800.0,Rastrillo,Verde,Montevideo,0.0,42
67601,67602,2009-03-05,5.0,NaN,Pico,Rojo,Montevideo,0.0,73
67726,67727,2008-02-18,NaN,387.0,Pala hogar,Verde,Montevideo,0.0,42
67782,67783,2008-09-16,41.0,NaN,Pala Dientes,Rojo,Montevideo,0.0,66
67785,67786,2007-10-31,94.0,NaN,Ventana,Verde,Montevideo,0.0,44
67796,67797,2014-10-24,NaN,1600.0,"Chapa 3,2",Verde,Montevideo,0.0,81
67863,67864,2007-11-18,105.0,NaN,Puerta,Negro,Montevideo,0.0,49
67878,67879,2012-12-13,24.0,NaN,Pala Pocera,Negro,Montevideo,0.0,46

In [ ]:
ventas.loc[(ventas['Cantidad'] == 0) | (ventas['Monto'] == 0)] # No existen valores iguales a 0 para las columnas Cantidad y Monto

Empty DataFrame
Columns: [IdVenta, Fecha, Cantidad, Monto, Producto, Departamento, Revenue, Barrio]
Index: []

In [ ]:
media_cantidad = ventas['Cantidad'].mean(skipna = True)
ventas['Cantidad'].fillna(media_cantidad, inplace = True)
media_monto = ventas['Monto'].mean(skipna = True)
ventas['Monto'].fillna(media_monto, inplace = True)

# ¿Se puede mejorar esto?
# ¿Que hacemos con la columna Revenue?
# ¿Hay algún outlier?
# ¿Debería preocuparme por los duplicados?

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
# ¿Se puede mejorar esto? -> Si, podríamos hacer la media de cada producto, debido a que son productos distintos
for columna in ventas['Producto'].value_counts().index:
  print(columna)

In [ ]:
# Al analizar la columna Revenue = Monto * Cantidad
ventas['Revenue'] = ventas['Monto'] * ventas['Cantidad']

In [ ]:
# Hay algún outlier?
ventas.describe()

            IdVenta    Cantidad        Monto       Revenue
count   7090.000000  7078.00000  7067.000000  7.090000e+03
mean   43777.653315    70.58039   676.923235  5.277289e+04
std    28466.269313    97.74949   456.778985  1.608022e+05
min        1.000000     1.00000   260.000000  0.000000e+00
25%    19888.000000    30.25000   390.000000  1.518000e+04
50%    36917.500000    61.00000   400.000000  3.040000e+04
75%    67868.500000    92.00000   800.000000  5.040000e+04
max    99988.000000  1200.00000  4800.000000  5.376000e+06

In [ ]:
ventas.loc[(ventas['Monto'] == 4800) | (ventas['Cantidad'] == 1200)] # Identifican algún patron?

,IdVenta,Fecha,Cantidad,Monto,Producto,Color,Departamento,Revenue,Barrio
73,74,2008-03-22,1120.0,4800.0,Pala hogar,Negro,Montevideo,5376000.0,76
161,162,2009-04-03,890.0,4800.0,Hazada,Rojo,Montevideo,4272000.0,73
213,214,2009-06-27,340.0,4800.0,Hazada,Verde,Montevideo,1632000.0,57
225,226,2011-10-16,1020.0,4800.0,Rastrillo,Verde,Montevideo,4896000.0,57
1985,1986,2012-12-27,1200.0,900.0,"Chapa 3,2",Negro,Montevideo,1080000.0,81

### II. Cuando sean categóricos, elimínelos.

In [ ]:
for columna in ventas.columns:
  print(ventas[columna].value_counts()) # Vemos que valores tienen las columnas categóricas

In [ ]:
ventas.loc[(ventas['Barrio'] == 'Sin datos')] # Nos fijamos el DataFrame cuando la columna Barrio == Sin datos, para buscar patrones

Empty DataFrame
Columns: [IdVenta, Fecha, Cantidad, Monto, Producto, Color, Departamento, Revenue, Barrio]
Index: []

In [ ]:
ventas['Barrio'] = ventas['Barrio'].replace('Sin datos', np.nan) # Reemplazo textual
# o
ventas.loc[ventas['Barrio'].str.contains('sin datos', case=False, na= False), 'Barrio'] = np.nan # Reemplazo 'like'

In [ ]:
ventas = ventas.dropna(subset=['Barrio']) # Elimino las filas con valores NaN

In [ ]:
ventas.loc[(ventas['Barrio'].isnull())] # Me fijo si fueron borrados

Empty DataFrame
Columns: [IdVenta, Fecha, Cantidad, Monto, Producto, Color, Departamento, Revenue, Barrio]
Index: []

## e. Obtenga el dataset “barrios_mdeo”

In [ ]:
barrios = pd.read_csv('barrios_mdeo.csv', delimiter = ';',encoding = 'latin-1') # Observo un error de UTF-8 y luego de delimitador
barrios.head()

   código         Lugar
0       1  Ciudad Vieja
1       2        Centro
2       3    Barrio Sur
3       4        Cordón
4       5       Palermo

### I. Combine el dataset con data_ventas, teniendo éste último a la izquierda en un left-join.

In [ ]:
barrios.rename(columns={'código':'Barrio'}, inplace=True) # Es más sencillo para agrupar luego

In [ ]:
montevideo = ventas.merge(barrios, on='Barrio', how='left') # left-join utilizando la columna 'Barrio' como referencia
montevideo.head()

,IdVenta,Fecha,Cantidad,Monto,Producto,Color,Departamento,Revenue,Barrio,Lugar
0,1,2012-03-30,16.0,1600.0,Puerta,Negro,Montevideo,25600.0,1,Ciudad Vieja
1,16,2010-05-28,118.0,780.0,"Chapa 2,3",Negro,Montevideo,92040.0,53,Conciliación
2,28,2012-10-27,69.0,2400.0,Hazada,Verde,Montevideo,165600.0,21,Jardines del Hipódromo
3,54,2009-06-22,1190.0,1200.0,Pala Pocera,Negro,Montevideo,1428000.0,47,La Blanqueada
4,56,2013-01-25,570.0,2400.0,Hazada,Rojo,Montevideo,1368000.0,78,Lavalleja

### II. Elimine las variables que muestran el código de los barrios, quedándose solo con los nombres.
product

In [ ]:
montevideo.drop(columns='Barrio', inplace=True) # De no renombrar la columna 'código' deberian eliminarse dos columnas
montevideo.head()

### iii. Haga un conteo de valores por barrio.

Investigue la forma de exportar a un Excel el conteo

In [ ]:
montevideo['Lugar'].value_counts().to_excel('Conteo_barrios.xlsx')

# 2. Obtenga el dataset “registros.xlsx”. El Excel tiene registros por ventas para dos meses, obtenga ambos datasets.

In [ ]:
registros_1 = pd.read_excel('registros.xlsx', sheet_name='mes1')
registros_2 = pd.read_excel('registros.xlsx', sheet_name='mes2')

## a. Genere una dataset final “registros” que sea la anexión de ambos archivos.

In [ ]:
registros = pd.concat([registros_1,registros_2], ignore_index=True)
registros

,id,first_name,last_name,email,gender,product,value
0,1,Lambert,Beaford,lbeaford0@wikipedia.org,Genderfluid,Mitsubishi,151
1,2,Fredrika,Atthow,fatthow1@msu.edu,Genderqueer,Isuzu,278
2,3,Tawnya,Debrick,tdebrick2@ox.ac.uk,Polygender,Toyota,315
3,4,Joshuah,Kubacki,jkubacki3@marketwatch.com,Genderqueer,Mercury,252
4,5,Josy,Beauly,jbeauly4@domainmarket.com,Female,Buick,196
...,...,...,...,...,...,...,...
545,246,Elaina,Johns,ejohns6t@umn.edu,Genderqueer,Mazda,276
546,247,Jasen,De Domenico,jdedomenico6u@yale.edu,Polygender,Bentley,118
547,248,Nickie,Have,nhave6v@nps.gov,Agender,Chevrolet,315
548,249,Avigdor,Speechley,aspeechley6w@biglobe.ne.jp,Genderfluid,MINI,236
549,250,Sax,Wrathall,swrathall6x@g.co,Polygender,Chevrolet,337

## b. La columna Id debe ser el index, asegúrese que éste no tenga duplicados.

In [ ]:
registros['id'].value_counts() # Vemos que la columna id tiene valores duplicados

In [ ]:
registros.drop(columns=['id'], inplace=True) # En este caso si no se utiliza en bases de datos relacionales, es mejor eliminarla

In [ ]:
registros.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  550 non-null    object
 1   last_name   550 non-null    object
 2   email       550 non-null    object
 3   gender      550 non-null    object
 4   product     550 non-null    object
 5   value       550 non-null    int64
dtypes: int64(1), object(5)
memory usage: 25.9+ KB

## Se necesita obtener el precio de los productos en dólares a valor actual, por tanto, utilice la función
read_html (ejemplo), para obtener este dato directamente de la página de cotizaciones del BCU, y
genere una columna nueva valor_dolares, utilizando el número obtenido1

In [ ]:
url = 'https://www.bcu.gub.uy/Estadisticas-e-Indicadores/Paginas/Cotizaciones.aspx'
cotizaciones = pd.read_html(url, thousands = '.')
cotizacion = cotizaciones[4]

In [ ]:
valor_dolar = cotizacion.loc[0,2]
valor_dolar = valor_dolar.replace(',', '.')

In [ ]:
registros['valor_dolares'] = registros['value'] / float(valor_dolar)

In [ ]:
registros

,first_name,last_name,email,gender,product,value,valor_dolares,miles_pesos
0,Lambert,Beaford,lbeaford0@wikipedia.org,Genderfluid,Mitsubishi,151,3.673966,6206.1
1,Fredrika,Atthow,fatthow1@msu.edu,Genderqueer,Isuzu,278,6.763990,11425.8
2,Tawnya,Debrick,tdebrick2@ox.ac.uk,Polygender,Toyota,315,7.664234,12946.5
3,Joshuah,Kubacki,jkubacki3@marketwatch.com,Genderqueer,Mercury,252,6.131387,10357.2
4,Josy,Beauly,jbeauly4@domainmarket.com,Female,Buick,196,4.768856,8055.6
...,...,...,...,...,...,...,...,...
545,Elaina,Johns,ejohns6t@umn.edu,Genderqueer,Mazda,276,6.715328,11343.6
546,Jasen,De Domenico,jdedomenico6u@yale.edu,Polygender,Bentley,118,2.871046,4849.8
547,Nickie,Have,nhave6v@nps.gov,Agender,Chevrolet,315,7.664234,12946.5
548,Avigdor,Speechley,aspeechley6w@biglobe.ne.jp,Genderfluid,MINI,236,5.742092,9699.6
549,Sax,Wrathall,swrathall6x@g.co,Polygender,Chevrolet,337,8.199513,13850.7