In [1]:

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from unicodedata import normalize

PRACTICO 3
################## Parte 1 ##################
Obtenga el dataset 'data_ventas'

In [2]:
mi_path = os.path.abspath('')
data_ventas = pd.read_excel(mi_path + '/data_ventas.xlsx')
data_ventas.head()

,IdVenta,Fecha,Cantidad,Monto,Producto,Color,Departamento,Revenue,Barrio
0,1,2012-03-30,16.0,1600.0,Puerta,Negro,Montevideo,25600.0,1
1,2,2014-06-16,120.0,2400.0,Ventana,Negro,Durazno,288000.0,Sin datos
2,3,2014-08-20,61.0,520.0,Puerta,Negro,Paysandú,31720.0,Sin datos
3,4,2010-02-16,4.0,780.0,Hazada,Rojo,Salto,3120.0,Sin datos
4,5,2009-06-11,16.0,520.0,"Chapa 3,2",Negro,Cerro Largo,8320.0,Sin datos

a. Filtre el dataset de modo de trabajar solo con datos de Montevideo

In [53]:
v_mvd = data_ventas.loc[data_ventas["Departamento"] == 'Montevideo']
#ventas = ventas.loc[(ventas['Departamento'] == 'Montevideo')]
#ventas.where(ventas['Departamento'] == 'Montevideo').head()
#ventas.query("Departamento == 'Montevideo'").head()
v_mvd.head()

,IdVenta,Fecha,Cantidad,Monto,Producto,Color,Departamento,Revenue,Barrio
0,1,2012-03-30,16.0,1600.0,Puerta,Negro,Montevideo,25600.0,1
15,16,2010-05-28,118.0,780.0,"Chapa 2,3",Negro,Montevideo,92040.0,53
27,28,2012-10-27,69.0,2400.0,Hazada,Verde,Montevideo,165600.0,21
53,54,2009-06-22,1190.0,1200.0,Pala Pocera,Negro,Montevideo,1428000.0,47
55,56,2013-01-25,570.0,2400.0,Hazada,Rojo,Montevideo,1368000.0,78

b. Elimine la columna “Color”

In [54]:
v_mvd.drop(columns = 'Color')
v_mvd.head()

,IdVenta,Fecha,Cantidad,Monto,Producto,Color,Departamento,Revenue,Barrio
0,1,2012-03-30,16.0,1600.0,Puerta,Negro,Montevideo,25600.0,1
15,16,2010-05-28,118.0,780.0,"Chapa 2,3",Negro,Montevideo,92040.0,53
27,28,2012-10-27,69.0,2400.0,Hazada,Verde,Montevideo,165600.0,21
53,54,2009-06-22,1190.0,1200.0,Pala Pocera,Negro,Montevideo,1428000.0,47
55,56,2013-01-25,570.0,2400.0,Hazada,Rojo,Montevideo,1368000.0,78

c. Identifique los valores faltantes (no necesariamente son valores nulos)

In [55]:
v_mvd.isnull().sum()

IdVenta          0
Fecha            0
Cantidad        12
Monto           23
Producto         0
Color            0
Departamento     0
Revenue          0
Barrio           0
dtype: int64

In [56]:
v_mvd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7090 entries, 0 to 99987
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IdVenta       7090 non-null   int64
 1   Fecha         7090 non-null   datetime64[ns]
 2   Cantidad      7078 non-null   float64
 3   Monto         7067 non-null   float64
 4   Producto      7090 non-null   object
 5   Color         7090 non-null   object
 6   Departamento  7090 non-null   object
 7   Revenue       7090 non-null   float64
 8   Barrio        7090 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 553.9+ KB

In [57]:
print("Analizamos que pasa cuando cantidad o monto son nulos")
# Analizamos que sucede cuando las columnas 'Cantidad' y 'Monto' son nulas
# Recordar que el simbolo "|" implica "or"
condicion1 = v_mvd['Cantidad'].isnull()
condicion2 = v_mvd['Monto'].isnull()
v_mvd.loc[condicion1 | condicion2]
# v_mvd.loc[condicion1 | condicion2].count()

Analizamos que pasa cuando cantidad o monto son nulos

,IdVenta,Fecha,Cantidad,Monto,Producto,Color,Departamento,Revenue,Barrio
87,88,2012-08-04,790.0,NaN,Pala hogar,Negro,Montevideo,0.0,13
193,194,2011-09-17,1140.0,NaN,Pico,Rojo,Montevideo,0.0,17
219,220,2014-06-02,70.0,NaN,Pico,Verde,Montevideo,0.0,15
29829,29830,2014-02-13,NaN,800.0,Rastrillo,Verde,Montevideo,0.0,37
29831,29832,2014-01-20,20.0,NaN,Pico,Negro,Montevideo,0.0,38
29893,29894,2007-06-26,71.0,NaN,Pala hogar,Negro,Montevideo,0.0,10
29922,29923,2009-12-11,NaN,800.0,Puerta,Negro,Montevideo,0.0,43
29985,29986,2013-09-28,11.0,NaN,Pala hogar,Rojo,Montevideo,0.0,30
30039,30040,2014-12-31,NaN,NaN,Puerta,Rojo,Montevideo,0.0,71
30098,30099,2009-03-22,NaN,800.0,Puerta,Negro,Montevideo,0.0,43
30170,30171,2012-07-03,17.0,NaN,Ventana,Verde,Montevideo,0.0,34
58537,58538,2010-07-04,NaN,600.0,Ventana,Verde,Montevideo,0.0,76
58560,58561,2009-06-18,42.0,NaN,Hazada,Rojo,Montevideo,0.0,43
58576,58577,2010-05-08,36.0,NaN,Pala Dientes,Rojo,Montevideo,0.0,11
58609,58610,2011-02-16,116.0,NaN,Ventana,Negro,Montevideo,0.0,9
58610,58611,2013-09-11,107.0,NaN,Pala Pocera,Negro,Montevideo,0.0,63
58633,58634,2012-05-27,72.0,NaN,"Chapa 3,2",Negro,Montevideo,0.0,76
58643,58644,2009-02-06,NaN,NaN,Pala hogar,Verde,Montevideo,0.0,81
58699,58700,2010-05-19,NaN,800.0,Rastrillo,Verde,Montevideo,0.0,81
67211,67212,2014-01-05,NaN,600.0,Pala Dientes,Rojo,Montevideo,0.0,75
67276,67277,2008-07-16,NaN,NaN,Pala Pocera,Negro,Montevideo,0.0,68
67284,67285,2011-02-03,115.0,NaN,Pala Pocera,Rojo,Montevideo,0.0,56
67288,67289,2010-07-15,63.0,NaN,Pala Dientes,Negro,Montevideo,0.0,2
67323,67324,2012-08-16,45.0,NaN,Ventana,Negro,Montevideo,0.0,19
67374,67375,2013-04-29,NaN,800.0,Rastrillo,Verde,Montevideo,0.0,42
67601,67602,2009-03-05,5.0,NaN,Pico,Rojo,Montevideo,0.0,73
67726,67727,2008-02-18,NaN,387.0,Pala hogar,Verde,Montevideo,0.0,42
67782,67783,2008-09-16,41.0,NaN,Pala Dientes,Rojo,Montevideo,0.0,66
67785,67786,2007-10-31,94.0,NaN,Ventana,Verde,Montevideo,0.0,44
67796,67797,2014-10-24,NaN,1600.0,"Chapa 3,2",Verde,Montevideo,0.0,81
67863,67864,2007-11-18,105.0,NaN,Puerta,Negro,Montevideo,0.0,49
67878,67879,2012-12-13,24.0,NaN,Pala Pocera,Negro,Montevideo,0.0,46

In [ ]:
print("Para esasa filas con nulos, vemos que revenue es cero siempre")
v_mvd.loc[v_mvd["Revenue"]==0]
# v_mvd.loc[v_mvd["Revenue"] == 0].count()

In [58]:
print("Analizamos que pasa cuando cantidad o monto son cero")
# Analizamos que sucede cuando las columnas 'Cantidad' y 'Monto' son nulas
# Recordar que el simbolo "|" implica "or"
condicion1 = v_mvd['Cantidad'] == 0 
condicion2 = v_mvd['Monto'] == 0
v_mvd.loc[condicion1 | condicion2]

Analizamos que pasa cuando cantidad o monto son cero

Empty DataFrame
Columns: [IdVenta, Fecha, Cantidad, Monto, Producto, Color, Departamento, Revenue, Barrio]
Index: []

In [59]:
v_mvd.shape

(7090, 9)

i. Cuando sean datos numéricos, reemplace los faltantes por la media del valor de la columna.

In [60]:
#Esto seria porque da una alerta
pd.options.mode.chained_assignment = None  # default='warn'

media_cantidad = v_mvd["Cantidad"].mean()
media_monto = v_mvd["Monto"].mean()

v_mvd.fillna({'Cantidad' : media_cantidad}, inplace = True)
v_mvd.fillna({ 'Monto' : media_monto}, inplace=True)
pd.options.mode.chained_assignment = 'warn'
v_mvd.isnull().sum()

IdVenta         0
Fecha           0
Cantidad        0
Monto           0
Producto        0
Color           0
Departamento    0
Revenue         0
Barrio          0
dtype: int64

ii. Cuando sean categóricos, elimínelos. En casos de que tengan nulls !!!!

In [61]:
v_mvd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7090 entries, 0 to 99987
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IdVenta       7090 non-null   int64
 1   Fecha         7090 non-null   datetime64[ns]
 2   Cantidad      7090 non-null   float64
 3   Monto         7090 non-null   float64
 4   Producto      7090 non-null   object
 5   Color         7090 non-null   object
 6   Departamento  7090 non-null   object
 7   Revenue       7090 non-null   float64
 8   Barrio        7090 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 553.9+ KB

d. Transforme la columna Fecha en tipo date.

In [64]:
pd.options.mode.chained_assignment = None  # default='warn'
v_mvd["Fecha"] = pd.to_datetime(v_mvd['Fecha'], format="%d/%m/%Y")
moda = v_mvd["Fecha"].mode()
moda
v_mvd.fillna({'Fecha': moda}, inplace=True)
v_mvd['Fecha'] = v_mvd['Fecha'].dt.strftime('%d/%m/%Y')
pd.options.mode.chained_assignment = 'warn'
v_mvd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7091 entries, 0 to Fecha
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IdVenta       7090 non-null   object
 1   Fecha         7090 non-null   object
 2   Cantidad      7090 non-null   object
 3   Monto         7090 non-null   object
 4   Producto      7090 non-null   object
 5   Color         7090 non-null   object
 6   Departamento  7090 non-null   object
 7   Revenue       7090 non-null   object
 8   Barrio        7090 non-null   object
dtypes: object(9)
memory usage: 554.0+ KB

Obtenga el dataset “barrios_mdeo”

In [83]:
barrios = pd.read_csv(mi_path + '/barrios_mdeo.csv',delimiter = ';',encoding='latin-1')

barrios.head()

   código         Lugar
0       1  Ciudad Vieja
1       2        Centro
2       3    Barrio Sur
3       4        Cordón
4       5       Palermo

i. Combine el dataset con data_ventas, teniendo éste último a la izquierda en un left-join.

In [98]:
barrios.rename(columns={'código': 'Barrio'}, inplace=True)

In [99]:
barrios.head()

   Barrio         Lugar
0       1  Ciudad Vieja
1       2        Centro
2       3    Barrio Sur
3       4        Cordón
4       5       Palermo

In [100]:
datos = v_mvd.merge(barrios, on='Barrio', how="left")
datos.head()

,IdVenta,Fecha,Cantidad,Monto,Producto,Color,Departamento,Revenue,Barrio,Lugar
0,1,30/03/2012,16.0,1600.0,Puerta,Negro,Montevideo,25600.0,1,Ciudad Vieja
1,16,28/05/2010,118.0,780.0,"Chapa 2,3",Negro,Montevideo,92040.0,53,Conciliación
2,28,27/10/2012,69.0,2400.0,Hazada,Verde,Montevideo,165600.0,21,Jardines del Hipódromo
3,54,22/06/2009,1190.0,1200.0,Pala Pocera,Negro,Montevideo,1428000.0,47,La Blanqueada
4,56,25/01/2013,570.0,2400.0,Hazada,Rojo,Montevideo,1368000.0,78,Lavalleja

ii. Elimine las variables que muestran el código de los barrios, quedándose solo con los nombres. product

In [102]:
datos.drop(columns={'Barrio'},inplace=True)
datos.head()

,IdVenta,Fecha,Cantidad,Monto,Producto,Color,Departamento,Revenue,Lugar
0,1,30/03/2012,16.0,1600.0,Puerta,Negro,Montevideo,25600.0,Ciudad Vieja
1,16,28/05/2010,118.0,780.0,"Chapa 2,3",Negro,Montevideo,92040.0,Conciliación
2,28,27/10/2012,69.0,2400.0,Hazada,Verde,Montevideo,165600.0,Jardines del Hipódromo
3,54,22/06/2009,1190.0,1200.0,Pala Pocera,Negro,Montevideo,1428000.0,La Blanqueada
4,56,25/01/2013,570.0,2400.0,Hazada,Rojo,Montevideo,1368000.0,Lavalleja

iii. Haga un conteo de valores por barrio.

In [108]:
#datos["Lugar"].value_counts()
#datos["Lugar"].value_counts().to_Excel("CantidadLugares.xls")
pd.DataFrame(datos["Lugar"].value_counts()).to_excel("result.xlsx")

Obtenga el dataset “registros.xlsx”. El Excel tiene registros por ventas para dos meses, obtenga ambos datasets

In [109]:
r1 = pd.read_excel("registros.xlsx",sheet_name="mes1")
r2 = pd.read_excel("registros.xlsx", sheet_name="mes2")

In [110]:
r1.head()

,id,first_name,last_name,email,gender,product,value
0,1,Lambert,Beaford,lbeaford0@wikipedia.org,Genderfluid,Mitsubishi,151
1,2,Fredrika,Atthow,fatthow1@msu.edu,Genderqueer,Isuzu,278
2,3,Tawnya,Debrick,tdebrick2@ox.ac.uk,Polygender,Toyota,315
3,4,Joshuah,Kubacki,jkubacki3@marketwatch.com,Genderqueer,Mercury,252
4,5,Josy,Beauly,jbeauly4@domainmarket.com,Female,Buick,196

In [111]:
r2.head()

,id,first_name,last_name,email,gender,product,value
0,1,Georgine,Floodgate,gfloodgate0@oaic.gov.au,Non-binary,Jeep,245
1,2,Diandra,Walaron,dwalaron1@edublogs.org,Agender,Oldsmobile,169
2,3,Sibylla,Syalvester,ssyalvester2@google.ca,Male,Chevrolet,294
3,4,Martina,McIllroy,mmcillroy3@a8.net,Genderfluid,Subaru,105
4,5,Wendy,Condie,wcondie4@domainmarket.com,Bigender,Mercury,227

In [114]:
rf = pd.concat([r1,r2],ignore_index=True)
rf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          550 non-null    int64
 1   first_name  550 non-null    object
 2   last_name   550 non-null    object
 3   email       550 non-null    object
 4   gender      550 non-null    object
 5   product     550 non-null    object
 6   value       550 non-null    int64
dtypes: int64(2), object(5)
memory usage: 30.2+ KB

In [115]:
rf["id"].value_counts()

id
1      2
173    2
160    2
161    2
162    2
      ..
270    1
271    1
272    1
273    1
300    1
Name: count, Length: 300, dtype: int64

Borro las filas con id repetidos, mejorborro toda la columna en este caso

In [117]:
# En este caso si no se utiliza en bases de datos relacionales, es mejor eliminarla
rf.drop(columns=['id'], inplace=True)

In [118]:
rf.duplicated().sum()

0

Se necesita obtener el precio de los productos en dólares a valor actual, por tanto, utilice la función read_html (ejemplo), para obtener este dato directamente de la página de cotizaciones del BCU, y genere una columna nueva valor_dolares, utilizando el número obtenido1.

In [ ]:
url = 'https://www.bcu.gub.uy/Estadisticas-e-Indicadores/Paginas/Cotizaciones.aspx'
cotizaciones = pd.read_html(url, thousands = '.')
cotizacion = cotizaciones[4]

: