In [1]:
import pandas as pd

In [2]:
print("Punto 1")
ventas = pd.read_excel('data_ventas.xlsx')
ventas.head()

Punto 1

,IdVenta,Fecha,Cantidad,Monto,Producto,Color,Departamento,Revenue,Barrio
0,1,2012-03-30,16.0,1600.0,Puerta,Negro,Montevideo,25600.0,1
1,2,2014-06-16,120.0,2400.0,Ventana,Negro,Durazno,288000.0,Sin datos
2,3,2014-08-20,61.0,520.0,Puerta,Negro,Paysandú,31720.0,Sin datos
3,4,2010-02-16,4.0,780.0,Hazada,Rojo,Salto,3120.0,Sin datos
4,5,2009-06-11,16.0,520.0,"Chapa 3,2",Negro,Cerro Largo,8320.0,Sin datos

In [ ]:
ventas.info()

In [ ]:
ventas.describe()

In [ ]:
print("Punto 1 - a")
#ventas_montevideo= ventas.query("Departamento == 'Montevideo'")
ventas_montevideo = ventas.loc[(ventas['Departamento'] == 'Montevideo')]
ventas_montevideo.head()

In [ ]:
print ("Punto 1 - b")
#del ventas_montevideo['Color']
ventas_montevideo = ventas_montevideo.drop(columns='Color')



ventas_montevideo.head()

In [ ]:
print("Punto 1 -c ")
ventas_montevideo.info()

In [ ]:
ventas_montevideo.isnull().sum()

In [ ]:

print("Revision de los datos")
print("Buscar que tenga Cantidad o Monto 0")
condicion1 = ventas_montevideo["Cantidad"]==0
condicion2 = ventas_montevideo["Monto"]==0
ventas_montevideo.loc[condicion1 | condicion2]

In [ ]:
print("Buscar que tenga Cantidad o Monto null")
#ventas_montevideo.loc[(ventas_montevideo['Cantidad'].isnull()) | (ventas_montevideo['Monto'].isnull())]
condicion3 = ventas_montevideo["Cantidad"].isnull()
condicion4 = ventas_montevideo["Monto"].isnull()

print("Revision de los datos")
print("Buscar que tenga cantidad o Monto null")

ventas_montevideo.loc[condicion3 | condicion4]

In [ ]:
ventas_montevideo.loc[condicion3 & (~(condicion4)) & (ventas_montevideo["Revenue"]==0)]

In [ ]:
import numpy as np
import math
def  mediaCantidad(fila):
    if math.isnan(fila["Cantidad"]):
        filtroProducto = ventas_montevideo["Producto"] == fila["Producto"]
        filtroDepartamento=ventas_montevideo["Departamento"]==fila["Departamento"]
        mediaCantidad = ventas_montevideo.loc[(filtroProducto & filtroDepartamento),"Cantidad"].mean(skipna=True).astype('float')
        return mediaCantidad
    else:
        return fila["Cantidad"]
cantidades = ventas_montevideo.apply(mediaCantidad,axis='columns')
cantidades
ventas_montevideo["Cantidad"]=cantidades

In [ ]:
def  mediaMonto(fila):
    if math.isnan(fila["Monto"]):
        filtroProducto = ventas_montevideo["Producto"] == fila["Producto"]
        filtroDepartamento=ventas_montevideo["Departamento"]==fila["Departamento"]
        mediaMonto = ventas_montevideo.loc[(filtroProducto & filtroDepartamento),"Monto"].mean(skipna=True).astype('float')
        return mediaMonto
    else:
        
        return fila["Monto"]

montos = ventas_montevideo.apply(mediaMonto,axis='columns')
montos

ventas_montevideo["Monto"]=montos

In [ ]:
ventas_montevideo["Revenue"]=ventas_montevideo["Monto"]*ventas_montevideo["Cantidad"]

In [ ]:
ventas_montevideo['Fecha'] = pd.to_datetime(ventas_montevideo['Fecha'], format="%d/%m/%Y")
moda = ventas_montevideo["Fecha"].mode()
moda
ventas_montevideo.fillna({'Fecha' : moda}, inplace = True)
ventas_montevideo['Fecha'] = ventas_montevideo['Fecha'].dt.strftime('%d/%m/%Y')
#ventas_montevideo.describe()
#fechasNulas = ventas_montevideo["Fecha"].isna()
#fechasNulas.value_counts()
ventas_montevideo

In [ ]:
import locale

# Cambiar el idioma a español
locale.setlocale(locale.LC_TIME, "es_ES")

ventas_montevideo

In [ ]:
## Variables categoricas y numericas
df_categoricas = ventas_montevideo.select_dtypes(include=['object','category'],exclude=['datetime'])
df_numericas = ventas_montevideo.select_dtypes(include='number')
df_categoricas.info()

df_numericas.info()

for columna in ventas_montevideo.columns:
    print(ventas_montevideo[columna].value_counts()) # Vemos que valores tienen las columnas categóricas

In [ ]:
df_categoricas.describe()
ventas_montevideo.describe()
ventas_montevideo.head()

In [ ]:
# Borrar na
#ventas['Barrio'] = ventas['Barrio'].replace('Sin datos', np.nan) # Reemplazo textual
# o
ventas_montevideo.loc[ventas['Barrio'].str.contains('sin datos', case=False, na= False), 'Barrio'] = np.nan # Reemplazo 'like'
ventas_montevideo.dropna(    
    axis='index',
    how='any',
    subset=['Producto','Departamento','Barrio'],
    inplace= True,
    ignore_index=True
)
ventas_montevideo.head()