In [1]:
import pandas as pd

In [2]:
print("Punto 1")
ventas = pd.read_excel('data_ventas.xlsx')
ventas.head()

Punto 1

,IdVenta,Fecha,Cantidad,Monto,Producto,Color,Departamento,Revenue,Barrio
0,1,2012-03-30,16.0,1600.0,Puerta,Negro,Montevideo,25600.0,1
1,2,2014-06-16,120.0,2400.0,Ventana,Negro,Durazno,288000.0,Sin datos
2,3,2014-08-20,61.0,520.0,Puerta,Negro,Paysandú,31720.0,Sin datos
3,4,2010-02-16,4.0,780.0,Hazada,Rojo,Salto,3120.0,Sin datos
4,5,2009-06-11,16.0,520.0,"Chapa 3,2",Negro,Cerro Largo,8320.0,Sin datos

In [3]:
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   IdVenta       100000 non-null  int64
 1   Fecha         100000 non-null  datetime64[ns]
 2   Cantidad      99988 non-null   float64
 3   Monto         99977 non-null   float64
 4   Producto      100000 non-null  object
 5   Color         100000 non-null  object
 6   Departamento  100000 non-null  object
 7   Revenue       100000 non-null  float64
 8   Barrio        100000 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 6.9+ MB

In [4]:
ventas.shape

(100000, 9)

In [5]:
ventas.describe()

,IdVenta,Fecha,Cantidad,Monto,Revenue
count,100000.000000,100000,99988.000000,99977.000000,1.000000e+05
mean,50000.500000,2011-01-23 00:40:36.480000,72.891747,675.288016,5.480474e+04
min,1.000000,2007-01-01 00:00:00,1.000000,260.000000,0.000000e+00
25%,25000.750000,2009-01-09 00:00:00,31.000000,387.000000,1.534000e+04
50%,50000.500000,2011-01-28 00:00:00,62.000000,400.000000,3.042000e+04
75%,75000.250000,2013-02-04 00:00:00,93.000000,800.000000,5.280000e+04
max,100000.000000,2015-02-18 00:00:00,1200.000000,4800.000000,5.760000e+06
std,28867.657797,NaN,102.278427,448.049767,1.455684e+05

In [6]:
ventas.ndim

2

In [7]:
print("Punto 1 - a")
#ventas_montevideo= ventas.query("Departamento == 'Montevideo'")
ventas_montevideo = ventas.loc[(ventas['Departamento'] == 'Montevideo')]
ventas_montevideo = ventas.where(ventas['Departamento'] == 'Montevideo')]
ventas_montevideo = ventas.loc[(ventas['Departamento'] == 'Montevideo')]
ventas_montevideo.head()

Punto 1 - a

,IdVenta,Fecha,Cantidad,Monto,Producto,Color,Departamento,Revenue,Barrio
0,1,2012-03-30,16.0,1600.0,Puerta,Negro,Montevideo,25600.0,1
15,16,2010-05-28,118.0,780.0,"Chapa 2,3",Negro,Montevideo,92040.0,53
27,28,2012-10-27,69.0,2400.0,Hazada,Verde,Montevideo,165600.0,21
53,54,2009-06-22,1190.0,1200.0,Pala Pocera,Negro,Montevideo,1428000.0,47
55,56,2013-01-25,570.0,2400.0,Hazada,Rojo,Montevideo,1368000.0,78

In [8]:
print ("Punto 1 - b")
#del ventas_montevideo['Color']
ventas_montevideo = ventas_montevideo.drop(columns='Color')



ventas_montevideo.head()

Punto 1 - b

,IdVenta,Fecha,Cantidad,Monto,Producto,Departamento,Revenue,Barrio
0,1,2012-03-30,16.0,1600.0,Puerta,Montevideo,25600.0,1
15,16,2010-05-28,118.0,780.0,"Chapa 2,3",Montevideo,92040.0,53
27,28,2012-10-27,69.0,2400.0,Hazada,Montevideo,165600.0,21
53,54,2009-06-22,1190.0,1200.0,Pala Pocera,Montevideo,1428000.0,47
55,56,2013-01-25,570.0,2400.0,Hazada,Montevideo,1368000.0,78

In [9]:
print("Punto 1 -c ")
ventas_montevideo.info()

Punto 1 -c
<class 'pandas.core.frame.DataFrame'>
Index: 7090 entries, 0 to 99987
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IdVenta       7090 non-null   int64
 1   Fecha         7090 non-null   datetime64[ns]
 2   Cantidad      7078 non-null   float64
 3   Monto         7067 non-null   float64
 4   Producto      7090 non-null   object
 5   Departamento  7090 non-null   object
 6   Revenue       7090 non-null   float64
 7   Barrio        7090 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 498.5+ KB

In [10]:
ventas_montevideo.isnull().sum()

IdVenta          0
Fecha            0
Cantidad        12
Monto           23
Producto         0
Departamento     0
Revenue          0
Barrio           0
dtype: int64

In [11]:

print("Revision de los datos")
print("Buscar que tenga Cantidad o Monto 0")
condicion1 = ventas_montevideo["Cantidad"]==0
condicion2 = ventas_montevideo["Monto"]==0
ventas_montevideo.loc[condicion1 | condicion2]

Revision de los datos
Buscar que tenga Cantidad o Monto 0

Empty DataFrame
Columns: [IdVenta, Fecha, Cantidad, Monto, Producto, Departamento, Revenue, Barrio]
Index: []

In [13]:
#ventas_montevideo.loc[(ventas_montevideo['Cantidad'].isnull()) | (ventas_montevideo['Monto'].isnull())]
condicion3 = ventas_montevideo["Cantidad"].isnull()
condicion4 = ventas_montevideo["Monto"].isnull()

print("Revision de los datos")
print("Buscar que tenga cantidad o Monto null")

ventas_montevideo.loc[condicion3 | condicion4]

Revision de los datos
Buscar que tenga cantidad o Monto null

,IdVenta,Fecha,Cantidad,Monto,Producto,Departamento,Revenue,Barrio
87,88,2012-08-04,790.0,NaN,Pala hogar,Montevideo,0.0,13
193,194,2011-09-17,1140.0,NaN,Pico,Montevideo,0.0,17
219,220,2014-06-02,70.0,NaN,Pico,Montevideo,0.0,15
29829,29830,2014-02-13,NaN,800.0,Rastrillo,Montevideo,0.0,37
29831,29832,2014-01-20,20.0,NaN,Pico,Montevideo,0.0,38
29893,29894,2007-06-26,71.0,NaN,Pala hogar,Montevideo,0.0,10
29922,29923,2009-12-11,NaN,800.0,Puerta,Montevideo,0.0,43
29985,29986,2013-09-28,11.0,NaN,Pala hogar,Montevideo,0.0,30
30039,30040,2014-12-31,NaN,NaN,Puerta,Montevideo,0.0,71
30098,30099,2009-03-22,NaN,800.0,Puerta,Montevideo,0.0,43
30170,30171,2012-07-03,17.0,NaN,Ventana,Montevideo,0.0,34
58537,58538,2010-07-04,NaN,600.0,Ventana,Montevideo,0.0,76
58560,58561,2009-06-18,42.0,NaN,Hazada,Montevideo,0.0,43
58576,58577,2010-05-08,36.0,NaN,Pala Dientes,Montevideo,0.0,11
58609,58610,2011-02-16,116.0,NaN,Ventana,Montevideo,0.0,9
58610,58611,2013-09-11,107.0,NaN,Pala Pocera,Montevideo,0.0,63
58633,58634,2012-05-27,72.0,NaN,"Chapa 3,2",Montevideo,0.0,76
58643,58644,2009-02-06,NaN,NaN,Pala hogar,Montevideo,0.0,81
58699,58700,2010-05-19,NaN,800.0,Rastrillo,Montevideo,0.0,81
67211,67212,2014-01-05,NaN,600.0,Pala Dientes,Montevideo,0.0,75
67276,67277,2008-07-16,NaN,NaN,Pala Pocera,Montevideo,0.0,68
67284,67285,2011-02-03,115.0,NaN,Pala Pocera,Montevideo,0.0,56
67288,67289,2010-07-15,63.0,NaN,Pala Dientes,Montevideo,0.0,2
67323,67324,2012-08-16,45.0,NaN,Ventana,Montevideo,0.0,19
67374,67375,2013-04-29,NaN,800.0,Rastrillo,Montevideo,0.0,42
67601,67602,2009-03-05,5.0,NaN,Pico,Montevideo,0.0,73
67726,67727,2008-02-18,NaN,387.0,Pala hogar,Montevideo,0.0,42
67782,67783,2008-09-16,41.0,NaN,Pala Dientes,Montevideo,0.0,66
67785,67786,2007-10-31,94.0,NaN,Ventana,Montevideo,0.0,44
67796,67797,2014-10-24,NaN,1600.0,"Chapa 3,2",Montevideo,0.0,81
67863,67864,2007-11-18,105.0,NaN,Puerta,Montevideo,0.0,49
67878,67879,2012-12-13,24.0,NaN,Pala Pocera,Montevideo,0.0,46

In [14]:
ventas_montevideo.loc[condicion3 & (~(condicion4)) & (ventas_montevideo["Revenue"]==0)]

,IdVenta,Fecha,Cantidad,Monto,Producto,Departamento,Revenue,Barrio
29829,29830,2014-02-13,NaN,800.0,Rastrillo,Montevideo,0.0,37
29922,29923,2009-12-11,NaN,800.0,Puerta,Montevideo,0.0,43
30098,30099,2009-03-22,NaN,800.0,Puerta,Montevideo,0.0,43
58537,58538,2010-07-04,NaN,600.0,Ventana,Montevideo,0.0,76
58699,58700,2010-05-19,NaN,800.0,Rastrillo,Montevideo,0.0,81
67211,67212,2014-01-05,NaN,600.0,Pala Dientes,Montevideo,0.0,75
67374,67375,2013-04-29,NaN,800.0,Rastrillo,Montevideo,0.0,42
67726,67727,2008-02-18,NaN,387.0,Pala hogar,Montevideo,0.0,42
67796,67797,2014-10-24,NaN,1600.0,"Chapa 3,2",Montevideo,0.0,81

In [16]:
import numpy as np
import math
def  mediaCantidad(fila):
    if math.isnan(fila["Cantidad"]):
        filtroProducto = ventas_montevideo["Producto"] == fila["Producto"]
        filtroDepartamento=ventas_montevideo["Departamento"]==fila["Departamento"]
        mediaCantidad = ventas_montevideo.loc[(filtroProducto & filtroDepartamento),"Cantidad"].mean(skipna=True).astype('float')
        return mediaCantidad
    else:
        return fila["Cantidad"]
cantidades = ventas_montevideo.apply(mediaCantidad,axis='columns')
cantidades
ventas_montevideo["Cantidad"]=cantidades

In [17]:
def  mediaMonto(fila):
    if math.isnan(fila["Monto"]):
        filtroProducto = ventas_montevideo["Producto"] == fila["Producto"]
        filtroDepartamento=ventas_montevideo["Departamento"]==fila["Departamento"]
        mediaMonto = ventas_montevideo.loc[(filtroProducto & filtroDepartamento),"Monto"].mean(skipna=True).astype('float')
        return mediaMonto
    else:
        
        return fila["Monto"]

montos = ventas_montevideo.apply(mediaMonto,axis='columns')
montos

ventas_montevideo["Monto"]=montos

In [18]:
ventas_montevideo["Revenue"]=ventas_montevideo["Monto"]*ventas_montevideo["Cantidad"]

In [19]:
ventas_montevideo['Fecha'] = pd.to_datetime(ventas_montevideo['Fecha'], format="%d/%m/%Y")
moda = ventas_montevideo["Fecha"].mode()
moda
ventas_montevideo.fillna({'Fecha' : moda}, inplace = True)
ventas_montevideo['Fecha'] = ventas_montevideo['Fecha'].dt.strftime('%d/%m/%Y')
#ventas_montevideo.describe()
#fechasNulas = ventas_montevideo["Fecha"].isna()
#fechasNulas.value_counts()
ventas_montevideo

,IdVenta,Fecha,Cantidad,Monto,Producto,Departamento,Revenue,Barrio
0,1,30/03/2012,16.0,1600.0,Puerta,Montevideo,25600.0,1
15,16,28/05/2010,118.0,780.0,"Chapa 2,3",Montevideo,92040.0,53
27,28,27/10/2012,69.0,2400.0,Hazada,Montevideo,165600.0,21
53,54,22/06/2009,1190.0,1200.0,Pala Pocera,Montevideo,1428000.0,47
55,56,25/01/2013,570.0,2400.0,Hazada,Montevideo,1368000.0,78
...,...,...,...,...,...,...,...,...
99938,99939,17/04/2013,36.0,390.0,Pala Pocera,Montevideo,14040.0,33
99946,99947,15/02/2007,22.0,345.0,Pico,Montevideo,7590.0,54
99969,99970,02/12/2008,47.0,387.0,Rastrillo,Montevideo,18189.0,49
99981,99982,11/06/2009,62.0,800.0,Puerta,Montevideo,49600.0,73
99987,99988,05/10/2008,105.0,400.0,Pala hogar,Montevideo,42000.0,8

In [20]:
import locale

# Cambiar el idioma a español
locale.setlocale(locale.LC_TIME, "es_ES")

ventas_montevideo

,IdVenta,Fecha,Cantidad,Monto,Producto,Departamento,Revenue,Barrio
0,1,30/03/2012,16.0,1600.0,Puerta,Montevideo,25600.0,1
15,16,28/05/2010,118.0,780.0,"Chapa 2,3",Montevideo,92040.0,53
27,28,27/10/2012,69.0,2400.0,Hazada,Montevideo,165600.0,21
53,54,22/06/2009,1190.0,1200.0,Pala Pocera,Montevideo,1428000.0,47
55,56,25/01/2013,570.0,2400.0,Hazada,Montevideo,1368000.0,78
...,...,...,...,...,...,...,...,...
99938,99939,17/04/2013,36.0,390.0,Pala Pocera,Montevideo,14040.0,33
99946,99947,15/02/2007,22.0,345.0,Pico,Montevideo,7590.0,54
99969,99970,02/12/2008,47.0,387.0,Rastrillo,Montevideo,18189.0,49
99981,99982,11/06/2009,62.0,800.0,Puerta,Montevideo,49600.0,73
99987,99988,05/10/2008,105.0,400.0,Pala hogar,Montevideo,42000.0,8

In [21]:
## Variables categoricas y numericas
df_categoricas = ventas_montevideo.select_dtypes(include=['object','category'],exclude=['datetime'])
df_numericas = ventas_montevideo.select_dtypes(include='number')
df_categoricas.info()

df_numericas.info()

for columna in ventas_montevideo.columns:
    print(ventas_montevideo[columna].value_counts()) # Vemos que valores tienen las columnas categóricas

<class 'pandas.core.frame.DataFrame'>
Index: 7090 entries, 0 to 99987
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha         7090 non-null   object
 1   Producto      7090 non-null   object
 2   Departamento  7090 non-null   object
 3   Barrio        7090 non-null   object
dtypes: object(4)
memory usage: 277.0+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 7090 entries, 0 to 99987
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   IdVenta   7090 non-null   int64
 1   Cantidad  7090 non-null   float64
 2   Monto     7090 non-null   float64
 3   Revenue   7090 non-null   float64
dtypes: float64(3), int64(1)
memory usage: 277.0 KB
IdVenta
1        1
56338    1
56488    1
56464    1
56444    1
        ..
25339    1
25328    1
25321    1
25319    1
99988    1
Name: count, Length: 7090, dtype: int64
Fecha
11/03/2008    9
12/02/2015    8
19/01/2012    8
08/01/2008    8
19/11/2007    8
             ..
21/09/2011    1
14/10/2007    1
21/08/2009    1
10/02/2007    1
08/04/2012    1
Name: count, Length: 2730, dtype: int64
Cantidad
19.000000      83
47.000000      83
93.000000      79
45.000000      76
30.000000      73
               ..
240.000000      1
410.000000      1
1020.000000     1
1040.000000     1
70.567524       1
Name: count, Length: 196, dtype: int64
Monto
400.000000     1234
600.000000      958
800.000000      924
1200.000000     656
390.000000      638
345.000000      622
1600.000000     597
387.000000      597
260.000000      546
2400.000000      64
900.000000       45
585.000000       25
517.500000       24
580.500000       23
690.000000       21
1800.000000      19
774.000000       19
780.000000       17
520.000000       14
3200.000000      12
3600.000000       5
575.692585        4
483.078343        4
4800.000000       4
535.841353        4
814.891641        4
526.300955        3
1170.000000       2
576.457746        2
1035.000000       1
344.195246        1
1570.320740       1
Name: count, dtype: int64
Producto
Pico            1006
Puerta           996
Pala hogar       975
Ventana          669
Pala Pocera      650
Rastrillo        635
Pala Dientes     631
Chapa 3,2        623
Hazada           590
Chapa 2,3        315
Name: count, dtype: int64
Departamento
Montevideo    7090
Name: count, dtype: int64
Revenue
33600.0      44
19200.0      43
9600.0       42
40800.0      42
48000.0      41
             ..
92880.0       1
307200.0      1
2400000.0     1
89700.0       1
49800.0       1
Name: count, Length: 984, dtype: int64
Barrio
Sin datos    252
30           110
79           109
45           102
27           100
            ...
54            69
10            68
51            67
23            67
71            66
Name: count, Length: 82, dtype: int64

In [22]:
df_categoricas.describe()
ventas_montevideo.describe()
ventas_montevideo.head()

,IdVenta,Fecha,Cantidad,Monto,Producto,Departamento,Revenue,Barrio
0,1,30/03/2012,16.0,1600.0,Puerta,Montevideo,25600.0,1
15,16,28/05/2010,118.0,780.0,"Chapa 2,3",Montevideo,92040.0,53
27,28,27/10/2012,69.0,2400.0,Hazada,Montevideo,165600.0,21
53,54,22/06/2009,1190.0,1200.0,Pala Pocera,Montevideo,1428000.0,47
55,56,25/01/2013,570.0,2400.0,Hazada,Montevideo,1368000.0,78

In [23]:
# Borrar na
#ventas['Barrio'] = ventas['Barrio'].replace('Sin datos', np.nan) # Reemplazo textual
# o
ventas_montevideo.loc[ventas['Barrio'].str.contains('sin datos', case=False, na= False), 'Barrio'] = np.nan # Reemplazo 'like'
ventas_montevideo.dropna(    
    axis='index',
    how='any',
    subset=['Producto','Departamento','Barrio'],
    inplace= True,
    ignore_index=True
)
ventas_montevideo.head()

,IdVenta,Fecha,Cantidad,Monto,Producto,Departamento,Revenue,Barrio
0,1,30/03/2012,16.0,1600.0,Puerta,Montevideo,25600.0,1
1,16,28/05/2010,118.0,780.0,"Chapa 2,3",Montevideo,92040.0,53
2,28,27/10/2012,69.0,2400.0,Hazada,Montevideo,165600.0,21
3,54,22/06/2009,1190.0,1200.0,Pala Pocera,Montevideo,1428000.0,47
4,56,25/01/2013,570.0,2400.0,Hazada,Montevideo,1368000.0,78

In [24]:
ventas_montevideo.shape

(6838, 8)