In [17]:
import pandas as pd

In [18]:
ventas = pd.read_excel('data_ventas.xlsx')
ventas.head()

,IdVenta,Fecha,Cantidad,Monto,Producto,Color,Departamento,Revenue,Barrio
0,1,2012-03-30,16.0,1600.0,Puerta,Negro,Montevideo,25600.0,1
1,2,2014-06-16,120.0,2400.0,Ventana,Negro,Durazno,288000.0,Sin datos
2,3,2014-08-20,61.0,520.0,Puerta,Negro,Paysandú,31720.0,Sin datos
3,4,2010-02-16,4.0,780.0,Hazada,Rojo,Salto,3120.0,Sin datos
4,5,2009-06-11,16.0,520.0,"Chapa 3,2",Negro,Cerro Largo,8320.0,Sin datos

In [19]:
ventas_montevideo= ventas.query("Departamento == 'Montevideo'")
ventas_montevideo.head()

,IdVenta,Fecha,Cantidad,Monto,Producto,Color,Departamento,Revenue,Barrio
0,1,2012-03-30,16.0,1600.0,Puerta,Negro,Montevideo,25600.0,1
15,16,2010-05-28,118.0,780.0,"Chapa 2,3",Negro,Montevideo,92040.0,53
27,28,2012-10-27,69.0,2400.0,Hazada,Verde,Montevideo,165600.0,21
53,54,2009-06-22,1190.0,1200.0,Pala Pocera,Negro,Montevideo,1428000.0,47
55,56,2013-01-25,570.0,2400.0,Hazada,Rojo,Montevideo,1368000.0,78

In [20]:
del ventas_montevideo['Color']
ventas.head()

,IdVenta,Fecha,Cantidad,Monto,Producto,Color,Departamento,Revenue,Barrio
0,1,2012-03-30,16.0,1600.0,Puerta,Negro,Montevideo,25600.0,1
1,2,2014-06-16,120.0,2400.0,Ventana,Negro,Durazno,288000.0,Sin datos
2,3,2014-08-20,61.0,520.0,Puerta,Negro,Paysandú,31720.0,Sin datos
3,4,2010-02-16,4.0,780.0,Hazada,Rojo,Salto,3120.0,Sin datos
4,5,2009-06-11,16.0,520.0,"Chapa 3,2",Negro,Cerro Largo,8320.0,Sin datos

In [26]:
#ventas_montevideo.info()
print("Revision de los datos")
print("Buscar que tenga cantidad | Monto 0")
condicion1 = ventas_montevideo["Cantidad"]==0
condicion2 = ventas_montevideo["Monto"]==0
ventas_montevideo.loc[condicion1 | condicion2]

Revision de los datos
Buscar que tenga cantidad | Monto 0

Empty DataFrame
Columns: [IdVenta, Fecha, Cantidad, Monto, Producto, Departamento, Revenue, Barrio]
Index: []

In [35]:
condicion3 = ventas_montevideo["Cantidad"].isnull()
condicion4 = ventas_montevideo["Monto"].isnull()
print("Revision de los datos")
print("Buscar que tenga cantidad o Monto null")

ventas_montevideo.loc[condicion3 | condicion4]

Revision de los datos
Buscar que tenga cantidad o Monto null

,IdVenta,Fecha,Cantidad,Monto,Producto,Departamento,Revenue,Barrio
87,88,2012-08-04,790.0,NaN,Pala hogar,Montevideo,0.0,13
193,194,2011-09-17,1140.0,NaN,Pico,Montevideo,0.0,17
219,220,2014-06-02,70.0,NaN,Pico,Montevideo,0.0,15
29829,29830,2014-02-13,NaN,800.0,Rastrillo,Montevideo,0.0,37
29831,29832,2014-01-20,20.0,NaN,Pico,Montevideo,0.0,38
29893,29894,2007-06-26,71.0,NaN,Pala hogar,Montevideo,0.0,10
29922,29923,2009-12-11,NaN,800.0,Puerta,Montevideo,0.0,43
29985,29986,2013-09-28,11.0,NaN,Pala hogar,Montevideo,0.0,30
30039,30040,2014-12-31,NaN,NaN,Puerta,Montevideo,0.0,71
30098,30099,2009-03-22,NaN,800.0,Puerta,Montevideo,0.0,43
30170,30171,2012-07-03,17.0,NaN,Ventana,Montevideo,0.0,34
58537,58538,2010-07-04,NaN,600.0,Ventana,Montevideo,0.0,76
58560,58561,2009-06-18,42.0,NaN,Hazada,Montevideo,0.0,43
58576,58577,2010-05-08,36.0,NaN,Pala Dientes,Montevideo,0.0,11
58609,58610,2011-02-16,116.0,NaN,Ventana,Montevideo,0.0,9
58610,58611,2013-09-11,107.0,NaN,Pala Pocera,Montevideo,0.0,63
58633,58634,2012-05-27,72.0,NaN,"Chapa 3,2",Montevideo,0.0,76
58643,58644,2009-02-06,NaN,NaN,Pala hogar,Montevideo,0.0,81
58699,58700,2010-05-19,NaN,800.0,Rastrillo,Montevideo,0.0,81
67211,67212,2014-01-05,NaN,600.0,Pala Dientes,Montevideo,0.0,75
67276,67277,2008-07-16,NaN,NaN,Pala Pocera,Montevideo,0.0,68
67284,67285,2011-02-03,115.0,NaN,Pala Pocera,Montevideo,0.0,56
67288,67289,2010-07-15,63.0,NaN,Pala Dientes,Montevideo,0.0,2
67323,67324,2012-08-16,45.0,NaN,Ventana,Montevideo,0.0,19
67374,67375,2013-04-29,NaN,800.0,Rastrillo,Montevideo,0.0,42
67601,67602,2009-03-05,5.0,NaN,Pico,Montevideo,0.0,73
67726,67727,2008-02-18,NaN,387.0,Pala hogar,Montevideo,0.0,42
67782,67783,2008-09-16,41.0,NaN,Pala Dientes,Montevideo,0.0,66
67785,67786,2007-10-31,94.0,NaN,Ventana,Montevideo,0.0,44
67796,67797,2014-10-24,NaN,1600.0,"Chapa 3,2",Montevideo,0.0,81
67863,67864,2007-11-18,105.0,NaN,Puerta,Montevideo,0.0,49
67878,67879,2012-12-13,24.0,NaN,Pala Pocera,Montevideo,0.0,46