In [19]:
import pandas as pd

# 1 - Dataset

Vamos a trabajar con cuatro datasets diferentes, relacionados entre si:
* Lista de clientes del restaurant
* Lista de comidas
* Ventas de la semana 1
* Ventas de la semana 2

In [20]:
# from google.colab import drive
# drive.mount('/content/drive')

In [21]:
#week1 = pd.read_csv("./sample_data/Restaurant_Ventas1.csv")
#week2 = pd.read_csv("./sample_data/Restaurant_Ventas2.csv")
#clientes = pd.read_csv("./sample_data/Restaurant_Clientes.csv")
#comidas = pd.read_csv("./sample_data/Restaurant_Comidas.csv")

semana1 = pd.read_csv("../DataSets/Restaurant_Datasets/Restaurant_Ventas1.csv")
semana2 = pd.read_csv("../DataSets/Restaurant_Datasets/Restaurant_Ventas2.csv")
clientes = pd.read_csv("../DataSets/Restaurant_Datasets/Restaurant_Clientes.csv")
comidas = pd.read_csv("../DataSets/Restaurant_Datasets/Restaurant_Comidas.csv")

In [22]:
semana1.head()

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9

In [23]:
semana2.head()

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10
3          189        5
4          267        3

In [24]:
clientes.head()

   ID First Name Last Name  Gender  Company                     Occupation
0   1     Joseph   Perkins    Male  Dynazzy  Community Outreach Specialist
1   2   Jennifer   Alvarez  Female     DabZ        Senior Quality Engineer
2   3      Roger     Black    Male  Tagfeed              Account Executive
3   4     Steven     Evans    Male     Fatz               Registered Nurse
4   5       Judy  Morrison  Female  Demivee                Legal Assistant

In [25]:
comidas.head()

   Food ID Food Item  Price
0        1    Pastas   3.99
1        2      Pure   9.99
2        3  Ensalada   2.99
3        4     Pizza   4.25
4        5    Snacks   2.49

In [26]:
# Reemplazamos los espacios en los nombres de las columnas
semana1.columns = semana1.columns.str.replace(' ','_')
semana2.columns = semana2.columns.str.replace(' ','_')
clientes.columns = clientes.columns.str.replace(' ','_')
comidas.columns = comidas.columns.str.replace(' ','_')

In [27]:
print(semana1.columns)
print(semana2.columns)
print(clientes.columns)
print(comidas.columns)

Index(['Customer_ID', 'Food_ID'], dtype='object')
Index(['Customer_ID', 'Food_ID'], dtype='object')
Index(['ID', 'First_Name', 'Last_Name', 'Gender', 'Company', 'Occupation'], dtype='object')
Index(['Food_ID', 'Food_Item', 'Price'], dtype='object')

# 2 - *concat* y *append* 

Union de datasets uno a continuacion del otro. Vamos a unir dos datasets similares, *week1* y *week2* de forma que queden uno a continuacion del otro, utilizando doss formas en pandas: **concat** y **append**

In [28]:
# Validamos nombre y orden de las columna
semana1.columns == semana2.columns

array([ True,  True])

In [29]:
print("Largo de la semana 1: {}".format(len(semana1)))
print("Largo de la semana 2: {}".format(len(semana2)))

Largo de la semana 1: 250
Largo de la semana 2: 250

## 2.1 - Comando *concat*

In [30]:
ventas_comb = pd.concat([semana1, semana2])
ventas_comb.head()

   Customer_ID  Food_ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9

In [31]:
print("Largo combinado: {}".format(len(ventas_comb)))

Largo combinado: 500

In [32]:
# Le agregamos un indice para saber de que semana es

ventas_comb_2 = pd.concat([semana1, semana2], keys = ["A", "B"])
ventas_comb_2.head()

     Customer_ID  Food_ID
A 0          537        9
  1           97        4
  2          658        1
  3          202        2
  4          155        9

In [33]:
ventas_comb_2.tail()

       Customer_ID  Food_ID
B 245          783       10
  246          556       10
  247          547        9
  248          252        9
  249          249        6

In [34]:
# Podemos acceder por el indice agregado mas el original a un registro
ventas_comb_2.loc[("B", 240)]

Customer_ID    734
Food_ID          1
Name: (B, 240), dtype: int64

In [35]:
# Puede haber clientes repetidos 
ventas_comb_2.loc[ventas_comb_2.Customer_ID == 155]
#ventas_comb_2.query('Customer_ID == 155')

       Customer_ID  Food_ID
A 4            155        9
  17           155        1
B 208          155        3

## 2.2 - Comando *append*

A esta funcion se le agrega el parametro *ignore_index*. Veamos que pasa cuando lo modificamos.

In [36]:
ventas_append = semana2.append(semana1, ignore_index = True)   
print(len(ventas_append))
ventas_append.head()

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
ventas_append.tail()

In [ ]:
ventas_append_2 = semana2.append(semana1, ignore_index = False)   
print(len(ventas_append_2))
ventas_append_2.head()

In [ ]:
ventas_append_2.tail()

In [ ]:
ventas_append_3 = semana2.append(semana1, ignore_index = False, verify_integrity=False)   
print(len(ventas_append_3))
ventas_append_3.head()


# 3 - Joins

##3.1 - *inner join*

Vamos a unir los datasets *week1* y *week2* seleccionando el tipo de union que queremos realizar, Primero vamos a hacer el join por *Customer_ID*.

In [ ]:
ventas_merge = semana1.merge(semana2, 
                             how = "inner", 
                             on = "Customer_ID", 
                             suffixes = [" - A", " - B"])

ventas_merge.head()

In [ ]:
pd.merge(left = semana1, 
         right = semana2, 
         left_on = "Customer_ID",
         right_on = "Customer_ID",
         how = "inner", 
         #on = "Customer_ID", 
         suffixes = [" - A", " - B"])

In [ ]:
# Veamos como queda el join para el customer 155 
semana1[semana1["Customer_ID"] == 155]

In [ ]:
semana2[semana2["Customer_ID"] == 155]

In [ ]:
ventas_merge[ventas_merge["Customer_ID"] == 155]

Ahora vamos a usar todas las columnas para hacer el join.

In [ ]:
semana1[semana1["Customer_ID"] == 578]

In [ ]:
semana2[semana2["Customer_ID"] == 578]

In [ ]:
ventas_merge2 = semana1.merge(semana2, how = "inner", on = ["Customer_ID","Food_ID"])

ventas_merge2.head()

In [ ]:
ventas_merge2[ventas_merge2["Customer_ID"] == 578]

## 3.2 - *outer join*

In [ ]:
ventas_o = semana1.merge(semana2, 
                         how = "outer", 
                         on = "Customer_ID", 
                         suffixes = [" - Week 1", " - Week 2"],
                         indicator = True)

ventas_o.head()

In [ ]:
print("Quedaron {} filas en vez de 500 ... ¿Por qué?".format(len(ventas_o)))

In [ ]:
ventas_o["_merge"].value_counts()

In [ ]:
# Si queremos ver las que estan en un solo datasets
ventas_o[ventas_o["_merge"].isin(["left_only", "right_only"])]

## 3.3 - *left join*

In [ ]:
semana1.head()

In [ ]:
len(semana1.Food_ID.unique())

In [ ]:
comidas.head()

In [ ]:
len(comidas)

In [ ]:
comidas_semana1 = semana1.merge(comidas, 
                                how = "left", 
                                on = "Food_ID", 
                                sort = True)
comidas_semana1.head()

In [ ]:
#Veamos los parámetros left_on y right_on
? pd.merge

In [ ]:
#Observemos el indice y la variable ID sobre el dataset de clientes
clientes.head()

In [ ]:
#Hay un desfasaje entre el Indice y el ID, por lo tanto si solo indicamos la parte izquierda del merge 
clientes.query('ID == 941')

In [ ]:
ventas_cliente = semana1.merge(clientes, 
                               how = "left", 
                               left_on = "Customer_ID", 
                               right_index = True)
ventas_cliente.head()

In [ ]:
ventas_cliente.query('Customer_ID == 941')

In [ ]:
ventas_cliente_2 = semana1.merge(clientes, 
                                 how = "left", 
                                 left_on = "Customer_ID", 
                                 right_on = "ID")
ventas_cliente_2.head()

In [ ]:
#Ahora si tenemos el cliente correcto, pero nos sobra una columna!
ventas_cliente_2.query('Customer_ID == 941')

In [ ]:
ventas_cliente_2 = ventas_cliente_2.drop(['ID'], axis = 1)
ventas_cliente_2.head()

In [ ]:
ventas_final = ventas_cliente_2.merge(comidas, 
                                      how = "left", 
                                      left_on = "Food_ID", 
                                      right_on = "Food_ID")
ventas_final.head()

Agregamos informacion sobre la calificacion dada por el cliente.

In [37]:
ventas1_rating = pd.read_csv("../DataSets/Restaurant_DataSets/Restaurant_Ventas1_Rating.csv")
ventas1_rating.head()

   Satisfaction Rating
0                    2
1                    7
2                    3
3                    7
4                   10

In [ ]:
ventas_con_rating = ventas_final.merge(ventas1_rating, 
                                       how = "left", 
                                       left_index = True, 
                                       right_index = True)

In [ ]:
ventas_con_rating.head()