### Ejercicio 1:
Dado el vector x=(2,4,6,20,30,7,8,22,11,13,45,60,51,32,1) utilizar condicionales y bucles para obtener el valor máximo de ese vector y la posición en la que se encuentra

Opción 1

In [ ]:
x=[2,4,6,20,30,7,8,22,11,13,45,60,51,32,1]
maximo = x[0]
posicion = 0

for i in range(len(x)):
  if x[i] > maximo:
    maximo = x[i]
    posicion = i

print(f"El valor máximo es {maximo} y la posición es {posicion}")

El valor máximo es 60 y la posición es 11

Opción 2

In [ ]:
x=[2,4,6,20,30,60, 7,8,22,11,13,45,60,51,32,1]

maximo = x[0] 

for numero in x: 
  if numero > maximo:
    maximo = numero
posicion = x.index(maximo)

print('El valor máximo es: '+str(maximo)+' y la posición del elemento es: '+ str(posicion))

### Ejercicio 2:
Utilizar condicionales y bucles para calcular el factorial de un numero, por ejemplo 8!

Opción 1

In [ ]:
# 8*7*6...
fact = 1
n = 8
while n >= 1:
  fact = fact*n
  print(n)
  n -= 1

fact

8
7
6
5
4
3
2
1

40320

Opción 2

In [ ]:
n = 8
factorial = 1
for numero in range(1, n+1):
  
  factorial = factorial * numero

print(factorial)

Opción 3

In [ ]:
n = 0
factorial = 1
while n < 8:
  n += 1
  factorial = n * factorial 
print(factorial)

40320

Opción 4

In [ ]:
numero = int(input("Ingrese un número entero positivo: "))

if numero >= 0:
  factorial = 1

  if numero == 0 or numero == 1:
    factorial = 1
  else:
    for i in range (1, numero + 1):
      factorial *= i
  
  print(f'{numero}! = {factorial}')
else:
  print("Ha escrito un valor negativo. La función factorial no está definida para números negativos.")

Ingrese un número entero positivo: 8
8! = 40320

Opción 5

In [ ]:
numero=int(input("Ingrese número a factorizar: "))
resultado=int(numero)
for i in range (1,numero):
  resultado=resultado*(numero-i)
print("Factorial de ", numero, ":",resultado)

Ingrese número a factorizar: 8
Factorial de  8 : 40320

### Ejercicio 3:
Crear una función que dado dos vectores numéricos realice el siguiente cálculo: contar cuantos números negativos aparecerán como resultado de multiplicar un vector por el otro.
Aplicarla a los vectores x= (1, 3, -2, 5, -10, -20), y= (-3, 4, -5, 6, 15, 5)

Opción 1

In [ ]:
def negativos(x, y):
  producto = 0
  cont = 0
  for i in range(len(x)):
    producto = x[i] * y[i]
    if producto < 0:
      cont = cont + 1
  return cont

In [ ]:
x = [1, 3, -2, 5, -10, -20]
y= (-3, 4, -5, 6, 15, 5)

In [ ]:
negativos(x,y)

3

Opción 2

In [ ]:
x= (1, 3, -2, 5, -10, -20)
y= (-3, 4, -5, 6, 15, 5)

def cantidad_negativos(vector1, vector2):
  cantidad_negativo = 0
  for numero1, numero2 in zip(vector1, vector2): 
    producto = numero1 * numero2
    if producto < 0:
      cantidad_negativo +=  1
  return cantidad_negativo

negativos = cantidad_negativos(x,y)
print(negativos)

Opción 3

In [ ]:
x= [1, 3, -2, 5, -10, -20]
y= [-3, 4, -5, 6, 15, 5]
n=0
for i in range(0,len(x)):

  if x[i] > 0 and y[i] <0:
    n += 1
  elif x[i] < 0 and y[i] >0:
    n += 1
print(n)

3

Opción 4

In [ ]:
x= [1, 3, -2, 5, -10, -20]
y= [-3, 4, -5, 6, 15, 5]


def con_neg(x,y):
  result = 0
  review = ''
  
  for i in range(len(x)):
     if x[i] * y[i] > 0:
       result
     elif x[i] * y[i] < 0:
       result = result + 1
     else:
       result 
       review = ' and '+ str(x[i]) + ' * ' + str(y[i]) + ' gave an error'

  return "Total negatives: " + str(result) + str(review)
    
con_neg(x,y)

'Total negatives: 3'

### Ejercicio 4:
Crear una función que dado un vector x y un numero natural n sume las primeras n componentes del vector y devuelva el valor de la suma. Aplicarla al vector del ejercicio 1

Opción 1

In [ ]:
x=[2,4,6,20,30,7,8,22,11,13,45,60,51,32,1]

def sumador(x, n):
  suma = 0
  i = 0
  while i < n:
    suma += x[i]
    i += 1
  return suma

In [ ]:
sumador(x, 4)

32

Opción 2

In [ ]:
def sumar_vector(x,n):
  suma = 0
  for i in x[:n]:
    suma += i
  return  suma

x=[2,4,6,20,30,7,8,22,11,13,45,60,51,32,1]
n = 4
sumar_vector(x,n)

32

### Ejercicio 5:
Considere la lista e = [2,6,8,1,4,8,7,3,9,6,1,4,15] que simboliza la cantidad de años de educación de una población. Crear una función que me devuelva un vector con el nivel educativo de cada individuo separado en 3 categorías: Bajo (entre 0 y 6 años de educación), Medio (entre 7 y 12 años de educación) y Alto (más de 12 años de educación)

Opción 1

In [ ]:
e = [2,6,8,1,4,8,7,3,9,6,1,4,15]
def nivel(x):
  niveles = []
  for i in range(len(x)):
    if x[i] <= 6:
      niveles.append("Bajo")
    elif x[i] > 6 and x[i] <= 12:
      niveles.append("Medio")
    else:
      niveles.append("Alto")
  return niveles

In [ ]:
nivel(e)

['Bajo',
 'Bajo',
 'Medio',
 'Bajo',
 'Bajo',
 'Medio',
 'Medio',
 'Bajo',
 'Medio',
 'Bajo',
 'Bajo',
 'Bajo',
 'Alto']

Opción 2

In [ ]:
años_edu = [2,6,8,1,4,8,7,3,9,6,1,4,15]

def niveles(lista):
  niveles_educativos = []
  
  for numero in lista:
    if numero <= 6:
      niveles_educativos.append('Bajo')
    elif numero > 6 and numero <= 12:
      niveles_educativos.append('Medio')
    else:
      niveles_educativos.append('Alto')

  return niveles_educativos

In [ ]:
niveles(años_edu)