# Funciones de agregación

In [1]:
# Librerías
import pandas as pd
import numpy as np

Las personas dueñas de la compañía quedaron tan satisfechas con los análisis de nos piden realizar algunos análisis de los productos:

* ¿Cuántas unidades fueron compradas de cada producto?
* ¿Cuál fue el monto de venta total, venta promedio y máxima de cada producto? 
* ¿Cuáles es el cliente que realizó la compra máxima de cada producto?
* Para los dos productos con más ventas ¿Cómo se distribuyeron el monto de ventas durante los meses del año? 

Para ello vamos a necesitar utilizar funciones de agregación


# 1. Análisis inicial de datos

Repetimos el análisis inicial de datos previo

In [2]:
# Leemos el dataset desde el link
df = pd.read_excel("https://github.com/chris1610/pbpython/blob/master/data/sample-salesv3.xlsx?raw=True")
df.head()

,account number,name,sku,quantity,unit price,ext price,date
0,740150,Barton LLC,B1-20000,39,86.69,3380.91,2014-01-01 07:21:51
1,714466,Trantow-Barrows,S2-77896,-1,63.16,-63.16,2014-01-01 10:00:47
2,218895,Kulas Inc,B1-69924,23,90.70,2086.10,2014-01-01 13:24:58
3,307599,"Kassulke, Ondricka and Metz",S1-65481,41,21.05,863.05,2014-01-01 15:05:22
4,412290,Jerde-Hilpert,S2-34077,6,83.21,499.26,2014-01-01 23:26:55

In [3]:
# Renombramos las columnas
df.rename(columns={'account number': 'numero_cuenta', 'name':'nombre', 'sku':'producto', 'quantity': 'cantidad',
                   'unit price':'precio_unitario', 'ext price':'total_ventas', 'date':'fecha'}, inplace=True)

Vamos a utilizar los métodos `pandas.info()` y `pandas.describe()` para conocer el dataset

In [4]:
# Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   numero_cuenta    1500 non-null   int64
 1   nombre           1500 non-null   object
 2   producto         1500 non-null   object
 3   cantidad         1500 non-null   int64
 4   precio_unitario  1500 non-null   float64
 5   total_ventas     1500 non-null   float64
 6   fecha            1500 non-null   object
dtypes: float64(2), int64(2), object(3)
memory usage: 82.2+ KB

1. **¿Cuáles son las observaciones?**

  Son las lineas de ventas de una companía 

2. **¿Cuáles son las variables?**

  El numero de cuenta, el nombre, el codigo de producto, la cantidad vendida, el precio unitario, el total de ventas y la fecha.

Observamos que no hay valores faltantes

# 2. Agregaciones

Las dos primeras preguntas se pueden contestar utilizando el procedimiento `groupby-aggregate`

* ¿Cuántas unidades fueron compradas de cada producto?
* ¿Cuál fue el monto de venta total, venta promedio y máxima de cada producto? 

Dependiendo de la forma en la que se plantee el código es posible responder todas las preguntas en una misma tabla de resultados

¿Cuántas unidades fueron compradas de cada producto?

In [5]:
# Agrupamos por producto

In [6]:
# Obtenemos la cantidad total vendida de nuestro dataset agrupado

¿Cuál fue el monto de venta total, venta promedio y máxima de cada producto?

In [7]:
# Obtenemos la información de las ventas de nuestro dataset agrupado

# 3. Transform

Para contestar la pregunta:

¿Cuál es el cliente que realizó la compra máxima de cada producto?

Vamos a utilizar un proceso de `groupby-transform`

Para ello es necesario:

1. Obtener el monto máximo de ventas de un producto cliente
2. Crear la columna
3. Filtrar los datos de manera acorde a la pregunta

In [8]:
# Creamos una columna con la venta máxima por producto (recordar que ya tenemos el dataset agrupado)

In [9]:
# Observamos el resultado

In [10]:
# Filtrar por la condicion de la pregunta

# 4. Trabajo con fechas

La pregunta que involucra una frecuencia temporal es:


Para los dos productos con más ventas ¿Cómo se distribuyeron el monto de ventas durante los meses del año?

Para ello vamos a utilizar el objeto `pandas.Grouper`.

In [11]:
# Convertimos la fecha a datetime

In [12]:
# Con la información de la primera pregunta podemos obtener los dos productos con más ventas

In [13]:
# Construimos un dataframe sólo con esos productos

In [14]:
# Agrupamos por producto y mes