# Funciones de agregación

En esta práctica desarrollaremos los usos más comunes de las funciones 

`groupby, agg ` y `transform` y una forma posible de agregación con datos tipo datetime

In [1]:
# Librerías
import pandas as pd
import numpy as np


# 1. Análisis inicial de datos

In [2]:
# Leemos el dataset desde el link
df = pd.read_excel("https://github.com/chris1610/pbpython/blob/master/data/sample-salesv3.xlsx?raw=True")
df.head()

,account number,name,sku,quantity,unit price,ext price,date
0,740150,Barton LLC,B1-20000,39,86.69,3380.91,2014-01-01 07:21:51
1,714466,Trantow-Barrows,S2-77896,-1,63.16,-63.16,2014-01-01 10:00:47
2,218895,Kulas Inc,B1-69924,23,90.70,2086.10,2014-01-01 13:24:58
3,307599,"Kassulke, Ondricka and Metz",S1-65481,41,21.05,863.05,2014-01-01 15:05:22
4,412290,Jerde-Hilpert,S2-34077,6,83.21,499.26,2014-01-01 23:26:55

In [3]:
# Renombramos las columnas
df.rename(columns={'account number': 'numero_cuenta', 'name':'nombre', 'sku':'producto', 'quantity': 'cantidad',
                   'unit price':'precio_unitario', 'ext price':'total_ventas', 'date':'fecha'}, inplace=True)

Vamos a utilizar los métodos `pandas.info()` y `pandas.describe()` para conocer el dataset

In [4]:
# Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   numero_cuenta    1500 non-null   int64
 1   nombre           1500 non-null   object
 2   producto         1500 non-null   object
 3   cantidad         1500 non-null   int64
 4   precio_unitario  1500 non-null   float64
 5   total_ventas     1500 non-null   float64
 6   fecha            1500 non-null   object
dtypes: float64(2), int64(2), object(3)
memory usage: 82.2+ KB

1. **¿Cuáles son las observaciones?**

  Son las lineas de ventas de una companía 

2. **¿Cuáles son las variables?**

  El numero de cuenta, el nombre, el codigo de producto, la cantidad vendida, el precio unitario, el total de ventas y la fecha.

Observamos que no hay valores faltantes

In [5]:
# Describe
df.describe(include='all')

,numero_cuenta,nombre,producto,cantidad,precio_unitario,total_ventas,fecha
count,1500.000000,1500,1500,1500.000000,1500.000000,1500.000000,1500
unique,NaN,20,30,NaN,NaN,NaN,1500
top,NaN,Kulas Inc,S2-77896,NaN,NaN,NaN,2014-01-01 07:21:51
freq,NaN,94,73,NaN,NaN,NaN,1
mean,485957.841333,NaN,NaN,24.308667,55.007527,1345.856213,NaN
std,223974.044572,NaN,NaN,14.439265,25.903267,1084.914881,NaN
min,141962.000000,NaN,NaN,-1.000000,10.030000,-97.160000,NaN
25%,257198.000000,NaN,NaN,12.000000,32.500000,472.177500,NaN
50%,527099.000000,NaN,NaN,25.000000,55.465000,1050.390000,NaN
75%,714466.000000,NaN,NaN,37.000000,77.075000,2068.330000,NaN
max,786968.000000,NaN,NaN,49.000000,99.850000,4824.540000,NaN

Las personas dueñas de la compañía nos piden realizar algunos análisis de los clientes:

* ¿Qué cantidad de productos compró cada cliente?
* ¿Cuál fue el monto de venta total de cada cliente? ¿Y la venta promedio?
* ¿Hubo ventas que representaron más del 5% del monto total de ventas de un cliente?
* ¿Cómo se distribuyeron el monto de ventas durante los trimestres del año? ¿Todos los clientes tienen perfiles similares?

Para ello vamos a necesitar utilizar funciones de agregación

# 2. Función groupby

In [6]:
# Observemos la documentación de la función
? pd.DataFrame.groupby()

En nuestro caso se nos pidió realizar ciertos análisis por cliente, por lo tanto debemos indicar que queremos agrupar por esa variable en el argumento `by`

In [7]:
# Agrupamos por cliente
grupo_clientes = df.groupby(by='nombre')

Obtenemos un dataset agrupado del cual podemos observar algunos atributos relevantes como:
* **groups**: diccionario de los grupos con las categorías como llaves y los indices de las filas 
como valores
* **ngroups**: cantidad de grupos

In [8]:
# Dataset agrupado
grupo_clientes

In [9]:
# Grupos
grupo_clientes.groups

{'Barton LLC': [0, 85, 91, 96, 99, 105, 117, 125, 158, 182, 183, 195, 202, 226, 237, 268, 306, 310, 397, 420, 423, 427, 430, 456, 459, 482, 505, 516, 524, 530, 540, 605, 622, 635, 636, 646, 650, 652, 666, 667, 691, 718, 733, 740, 830, 853, 854, 895, 906, 907, 915, 920, 930, 963, 985, 989, 1008, 1015, 1017, 1019, 1031, 1071, 1077, 1078, 1081, 1094, 1108, 1132, 1147, 1149, 1158, 1175, 1208, 1218, 1257, 1321, 1330, 1346, 1350, 1414, 1422, 1473], 'Cronin, Oberbrunner and Spencer': [51, 110, 148, 168, 179, 181, 191, 197, 216, 222, 224, 252, 253, 270, 280, 292, 314, 358, 363, 374, 395, 454, 491, 495, 511, 527, 545, 556, 579, 630, 673, 680, 710, 788, 817, 848, 942, 948, 956, 973, 994, 1026, 1059, 1061, 1073, 1100, 1115, 1116, 1148, 1157, 1174, 1177, 1195, 1198, 1211, 1222, 1245, 1305, 1316, 1351, 1364, 1389, 1390, 1464, 1469, 1487, 1491], 'Frami, Hills and Schmidt': [12, 22, 24, 81, 82, 100, 217, 223, 278, 301, 319, 333, 337, 354, 359, 392, 408, 432, 485, 490, 494, 538, 564, 603, 609, 640, 656, 676, 693, 700, 736, 761, 796, 799, 813, 826, 834, 865, 903, 909, 952, 969, 996, 1022, 1028, 1039, 1041, 1050, 1062, 1125, 1156, 1160, 1225, 1233, 1242, 1251, 1277, 1286, 1296, 1306, 1352, 1378, 1401, 1408, 1417, 1419, 1430, 1467, 1472, 1488, 1494, 1496], 'Fritsch, Russel and Anderson': [9, 14, 26, 32, 42, 63, 69, 101, 115, 124, 130, 149, 159, 200, 212, 214, 225, 245, 258, 336, 339, 379, 413, 416, 453, 484, 488, 497, 510, 519, 521, 541, 544, 566, 602, 664, 723, 752, 765, 778, 789, 808, 810, 819, 840, 845, 866, 875, 893, 968, 1024, 1046, 1072, 1087, 1112, 1131, 1142, 1143, 1178, 1179, 1182, 1184, 1201, 1202, 1223, 1240, 1313, 1325, 1343, 1345, 1349, 1375, 1377, 1394, 1410, 1432, 1436, 1446, 1452, 1485, 1495], 'Halvorson, Crona and Champlin': [67, 79, 90, 126, 170, 174, 177, 178, 208, 228, 299, 326, 328, 331, 346, 372, 377, 391, 412, 439, 476, 580, 583, 594, 623, 644, 681, 682, 722, 738, 797, 807, 818, 827, 828, 852, 867, 908, 912, 927, 1080, 1088, 1091, 1114, 1120, 1130, 1189, 1213, 1258, 1259, 1271, 1304, 1324, 1407, 1418, 1441, 1458, 1490], 'Herman LLC': [18, 49, 54, 59, 62, 87, 118, 119, 156, 169, 204, 219, 230, 251, 307, 347, 425, 437, 458, 461, 528, 570, 638, 657, 658, 690, 696, 717, 725, 732, 741, 750, 836, 884, 886, 890, 898, 916, 939, 1021, 1025, 1056, 1060, 1067, 1068, 1085, 1096, 1103, 1124, 1134, 1192, 1214, 1230, 1244, 1318, 1368, 1384, 1403, 1435, 1443, 1459, 1477], 'Jerde-Hilpert': [4, 19, 48, 53, 56, 60, 83, 116, 121, 127, 135, 136, 137, 162, 172, 175, 187, 249, 260, 284, 297, 317, 318, 344, 355, 364, 381, 400, 404, 417, 419, 435, 508, 513, 535, 550, 572, 592, 595, 608, 616, 632, 649, 655, 660, 703, 744, 755, 757, 763, 783, 802, 805, 850, 857, 877, 887, 904, 936, 938, 958, 967, 975, 1034, 1053, 1079, 1102, 1139, 1155, 1163, 1200, 1203, 1206, 1219, 1238, 1254, 1266, 1280, 1282, 1284, 1285, 1299, 1340, 1358, 1409, 1424, 1428, 1444, 1462], 'Kassulke, Ondricka and Metz': [3, 13, 34, 58, 70, 143, 248, 250, 273, 287, 291, 323, 382, 386, 387, 462, 475, 498, 502, 560, 591, 617, 619, 653, 663, 668, 692, 694, 809, 822, 859, 876, 892, 913, 919, 922, 946, 1000, 1029, 1032, 1076, 1097, 1101, 1111, 1126, 1136, 1141, 1168, 1215, 1231, 1236, 1292, 1307, 1317, 1328, 1335, 1337, 1354, 1367, 1395, 1421, 1450, 1457, 1478], 'Keeling LLC': [11, 55, 84, 98, 120, 122, 128, 146, 173, 220, 240, 246, 254, 305, 330, 332, 343, 349, 353, 361, 362, 411, 415, 431, 436, 489, 514, 518, 542, 559, 569, 573, 574, 578, 610, 627, 672, 687, 688, 699, 701, 712, 742, 777, 792, 794, 804, 806, 821, 861, 868, 888, 998, 1104, 1106, 1137, 1146, 1173, 1294, 1302, 1327, 1332, 1333, 1339, 1376, 1379, 1380, 1397, 1405, 1437, 1453, 1456, 1461, 1484], 'Kiehn-Spinka': [10, 41, 71, 73, 76, 131, 165, 184, 198, 229, 259, 276, 288, 294, 302, 304, 315, 324, 360, 426, 460, 466, 492, 517, 532, 575, 581, 586, 618, 625, 633, 651, 654, 671, 675, 678, 720, 737, 747, 770, 785, 790, 814, 833, 856, 881, 889, 896, 917, 949, 959, 991, 997, 1005, 1012, 1027, 1035, 1048, 1066, 1070, 1144, 1176, 1194, 1241, 1289, 1298, 1310, 1355, 1370, 1382, 1388, 1396, 1415, 1440, 1448, 1451, 1463, 1480, 1493], 'Koepp Ltd': [7, 25, 29, 39, 44, 45, 80, 103, 104, 132, 151, 215, 247, 262, 283, 293, 334, 373, 390, 409, 428, 429, 440, 450, 464, 467, 470, 481, 520, 529, 547, 555, 585, 587, 596, 600, 629, 631, 645, 677, 704, 705, 709, 774, 815, 901, 910, 925, 935, 953, 960, 974, 981, 988, 990, 999, 1006, 1014, 1044, 1045, 1047, 1051, 1057, 1113, 1152, 1180, 1237, 1253, 1262, 1283, 1290, 1291, 1341, 1353, 1360, 1386, 1392, 1426, 1468, 1474, 1476, 1483], 'Kuhn-Gusikowski': [16, 27, 50, 57, 64, 86, 112, 138, 142, 203, 233, 264, 267, 271, 290, 296, 300, 308, 316, 329, 340, 383, 393, 402, 410, 444, 452, 478, 512, 614, 624, 639, 642, 729, 772, 781, 786, 787, 829, 847, 855, 863, 918, 924, 947, 1003, 1049, 1055, 1075, 1089, 1105, 1109, 1121, 1135, 1167, 1172, 1191, 1209, 1235, 1243, 1249, 1287, 1300, 1308, 1314, 1326, 1344, 1356, 1357, 1400, 1425, 1439, 1482], 'Kulas Inc': [2, 6, 33, 36, 43, 47, 65, 88, 95, 102, 109, 154, 157, 186, 199, 221, 238, 256, 266, 269, 282, 286, 321, 325, 352, 356, 378, 388, 389, 406, 422, 474, 496, 503, 507, 522, 537, 554, 565, 582, 584, 601, 628, 702, 716, 726, 727, 735, 745, 751, 754, 779, 816, 831, 832, 843, 871, 872, 914, 934, 950, 992, 1013, 1018, 1030, 1033, 1037, 1098, 1107, 1119, 1140, 1185, 1188, 1193, 1197, 1228, 1234, 1252, 1263, 1270, 1279, 1293, 1303, 1338, 1359, 1366, 1369, 1383, 1404, 1434, 1445, 1466, 1470, 1471], 'Pollich LLC': [30, 78, 111, 144, 145, 241, 257, 277, 285, 357, 380, 396, 414, 465, 468, 469, 551, 552, 553, 561, 571, 598, 607, 637, 684, 739, 743, 759, 773, 782, 823, 824, 837, 839, 870, 879, 894, 900, 911, 945, 961, 971, 983, 987, 1010, 1074, 1084, 1095, 1118, 1153, 1162, 1164, 1204, 1207, 1247, 1250, 1269, 1312, 1315, 1320, 1323, 1331, 1342, 1365, 1372, 1385, 1387, 1391, 1393, 1398, 1431, 1465, 1498], 'Purdy-Kunde': [106, 114, 147, 171, 180, 189, 213, 242, 309, 312, 320, 351, 405, 457, 473, 480, 486, 509, 543, 546, 593, 597, 615, 685, 714, 719, 730, 731, 771, 780, 811, 812, 849, 864, 921, 923, 926, 932, 986, 1042, 1123, 1166, 1170, 1171, 1181, 1186, 1190, 1246, 1265, 1275, 1438, 1479, 1481], 'Sanford and Sons': [21, 35, 77, 92, 108, 185, 211, 218, 243, 244, 275, 279, 281, 327, 335, 341, 348, 421, 445, 477, 483, 515, 525, 526, 533, 539, 563, 577, 604, 620, 626, 648, 679, 689, 697, 708, 768, 791, 800, 835, 858, 862, 878, 883, 902, 931, 933, 954, 965, 970, 977, 978, 1038, 1040, 1052, 1058, 1086, 1092, 1093, 1122, 1151, 1161, 1227, 1264, 1273, 1278, 1329, 1348, 1371, 1447, 1460], 'Stokes LLC': [15, 17, 113, 141, 160, 161, 167, 194, 207, 227, 255, 265, 295, 303, 322, 366, 367, 376, 398, 399, 438, 443, 451, 455, 493, 501, 548, 590, 599, 612, 661, 662, 665, 683, 686, 695, 711, 715, 724, 728, 748, 758, 764, 820, 860, 880, 937, 944, 964, 1016, 1036, 1063, 1065, 1082, 1090, 1129, 1165, 1183, 1212, 1216, 1217, 1267, 1274, 1309, 1311, 1336, 1363, 1420, 1455, 1475, 1489, 1497], 'Trantow-Barrows': [1, 5, 8, 23, 28, 31, 40, 66, 75, 94, 140, 152, 155, 164, 190, 192, 193, 210, 236, 298, 313, 342, 365, 368, 385, 401, 418, 434, 463, 499, 523, 531, 534, 557, 562, 588, 589, 621, 659, 669, 698, 706, 734, 749, 756, 775, 776, 784, 798, 801, 825, 838, 873, 882, 905, 940, 943, 957, 966, 972, 976, 982, 984, 995, 1009, 1020, 1043, 1064, 1069, 1099, 1110, 1128, 1138, 1150, 1159, 1187, 1199, 1224, 1229, 1239, 1248, 1268, 1276, 1297, 1301, 1361, 1362, 1381, 1406, 1411, 1413, 1433, 1442, 1492], 'White-Trantow': [20, 52, 61, 68, 107, 123, 153, 163, 166, 188, 196, 201, 205, 206, 234, 263, 272, 338, 350, 370, 375, 394, 403, 407, 424, 433, 441, 442, 479, 500, 504, 506, 549, 567, 606, 611, 613, 670, 674, 746, 753, 762, 766, 769, 793, 842, 844, 846, 874, 885, 897, 899, 928, 929, 941, 955, 979, 993, 1001, 1002, 1004, 1007, 1011, 1054, 1083, 1127, 1145, 1169, 1205, 1210, 1220, 1221, 1226, 1255, 1281, 1295, 1319, 1322, 1334, 1347, 1373, 1402, 1412, 1423, 1449, 1486], 'Will LLC': [37, 38, 46, 72, 74, 89, 93, 97, 129, 133, 134, 139, 150, 176, 209, 231, 232, 235, 239, 261, 274, 289, 311, 345, 369, 371, 384, 446, 447, 448, 449, 471, 472, 487, 536, 558, 568, 576, 634, 641, 643, 647, 707, 713, 721, 760, 767, 795, 803, 841, 851, 869, 891, 951, 962, 980, 1023, 1117, 1133, 1154, 1196, 1232, 1256, 1260, 1261, 1272, 1288, 1374, 1399, 1416, 1427, 1429, 1454, 1499]}

In [10]:
# Cantidad de grupos
grupo_clientes.ngroups

20

Si queremos agrupar por más de una variable pasamos una lista con los nombres de las variables en el argumento `by`.

Aunque no es necesario para contestar las preguntas, agrupemos según cliente y producto

In [11]:
# Agrupamos por cliente y producto
grupos_clientes_producto = df.groupby(by=['nombre', 'producto'])

In [12]:
# Grupos
grupos_clientes_producto.groups

{('Barton LLC', 'B1-04202'): [1077], ('Barton LLC', 'B1-05914'): [646], ('Barton LLC', 'B1-20000'): [0, 195, 306, 1008], ('Barton LLC', 'B1-33087'): [226, 733], ('Barton LLC', 'B1-33364'): [125, 963, 1218], ('Barton LLC', 'B1-38851'): [183, 202, 427, 456, 636, 930, 989, 1017], ('Barton LLC', 'B1-50809'): [85, 423, 505, 540], ('Barton LLC', 'B1-53102'): [91, 1350, 1473], ('Barton LLC', 'B1-53636'): [516, 1108], ('Barton LLC', 'B1-65551'): [430, 524, 1071, 1149], ('Barton LLC', 'B1-69924'): [459, 605], ('Barton LLC', 'B1-86481'): [99, 1132], ('Barton LLC', 'S1-06532'): [105, 397, 622, 666, 853, 854], ('Barton LLC', 'S1-27722'): [650, 906, 1019], ('Barton LLC', 'S1-30248'): [237, 915], ('Barton LLC', 'S1-47412'): [117, 895, 1147, 1158], ('Barton LLC', 'S1-50961'): [1015, 1208], ('Barton LLC', 'S1-65481'): [1081, 1175], ('Barton LLC', 'S1-82801'): [268, 830, 920, 1321], ('Barton LLC', 'S1-93683'): [158, 1330], ('Barton LLC', 'S2-10342'): [182, 635, 691, 1078, 1414], ('Barton LLC', 'S2-11481'): [652, 667], ('Barton LLC', 'S2-16558'): [96, 1422], ('Barton LLC', 'S2-34077'): [1031, 1257], ('Barton LLC', 'S2-77896'): [718, 740, 985, 1346], ('Barton LLC', 'S2-78676'): [1094], ('Barton LLC', 'S2-82423'): [420, 530], ('Barton LLC', 'S2-83881'): [310, 482, 907], ('Cronin, Oberbrunner and Spencer', 'B1-04202'): [1100, 1351], ('Cronin, Oberbrunner and Spencer', 'B1-05914'): [51, 848, 973], ('Cronin, Oberbrunner and Spencer', 'B1-20000'): [630, 673, 1148], ('Cronin, Oberbrunner and Spencer', 'B1-33087'): [224, 454, 545], ('Cronin, Oberbrunner and Spencer', 'B1-33364'): [511], ('Cronin, Oberbrunner and Spencer', 'B1-38851'): [179, 491], ('Cronin, Oberbrunner and Spencer', 'B1-50809'): [1061, 1469], ('Cronin, Oberbrunner and Spencer', 'B1-53102'): [191], ('Cronin, Oberbrunner and Spencer', 'B1-53636'): [181, 216], ('Cronin, Oberbrunner and Spencer', 'S1-06532'): [1305], ('Cronin, Oberbrunner and Spencer', 'S1-27722'): [197, 1116], ('Cronin, Oberbrunner and Spencer', 'S1-30248'): [148, 270, 363, 527, 680, 1222], ('Cronin, Oberbrunner and Spencer', 'S1-47412'): [222, 556], ('Cronin, Oberbrunner and Spencer', 'S1-50961'): [1073, 1245, 1487], ('Cronin, Oberbrunner and Spencer', 'S1-65481'): [948, 1316], ('Cronin, Oberbrunner and Spencer', 'S1-82801'): [168, 314], ('Cronin, Oberbrunner and Spencer', 'S1-93683'): [292, 1026, 1115], ('Cronin, Oberbrunner and Spencer', 'S2-00301'): [358, 1364], ('Cronin, Oberbrunner and Spencer', 'S2-10342'): [495, 710], ('Cronin, Oberbrunner and Spencer', 'S2-11481'): [956, 1157], ('Cronin, Oberbrunner and Spencer', 'S2-16558'): [110, 252, 788, 1177, 1211], ('Cronin, Oberbrunner and Spencer', 'S2-23246'): [253, 280], ('Cronin, Oberbrunner and Spencer', 'S2-34077'): [395, 1174, 1195, 1464], ('Cronin, Oberbrunner and Spencer', 'S2-77896'): [374, 942, 1389, 1491], ('Cronin, Oberbrunner and Spencer', 'S2-78676'): [994, 1390], ('Cronin, Oberbrunner and Spencer', 'S2-82423'): [817, 1059, 1198], ('Cronin, Oberbrunner and Spencer', 'S2-83881'): [579], ('Frami, Hills and Schmidt', 'B1-04202'): [22, 319, 1251], ('Frami, Hills and Schmidt', 'B1-05914'): [1225], ('Frami, Hills and Schmidt', 'B1-20000'): [217, 337, 903], ('Frami, Hills and Schmidt', 'B1-33087'): [82, 301, 834, 1467], ('Frami, Hills and Schmidt', 'B1-33364'): [485], ('Frami, Hills and Schmidt', 'B1-38851'): [1041, 1378], ('Frami, Hills and Schmidt', 'B1-50809'): [432, 1039, 1242, 1352], ('Frami, Hills and Schmidt', 'B1-53102'): [490, 799], ('Frami, Hills and Schmidt', 'B1-53636'): [354, 640], ('Frami, Hills and Schmidt', 'B1-69924'): [996, 1156], ('Frami, Hills and Schmidt', 'B1-86481'): [813, 865, 969, 1494], ('Frami, Hills and Schmidt', 'S1-06532'): [826, 909, 1419, 1496], ('Frami, Hills and Schmidt', 'S1-27722'): [81, 693, 700, 1160], ('Frami, Hills and Schmidt', 'S1-30248'): [1472], ('Frami, Hills and Schmidt', 'S1-47412'): [359, 1488], ('Frami, Hills and Schmidt', 'S1-65481'): [278, 1401], ('Frami, Hills and Schmidt', 'S1-82801'): [1277], ('Frami, Hills and Schmidt', 'S1-93683'): [223, 333], ('Frami, Hills and Schmidt', 'S2-00301'): [564, 1408, 1430], ('Frami, Hills and Schmidt', 'S2-10342'): [609, 656, 736, 952, 1125, 1233], ('Frami, Hills and Schmidt', 'S2-16558'): [392, 408, 538, 1028, 1296], ('Frami, Hills and Schmidt', 'S2-23246'): [12, 603, 1022], ('Frami, Hills and Schmidt', 'S2-34077'): [100, 796], ('Frami, Hills and Schmidt', 'S2-77896'): [494], ('Frami, Hills and Schmidt', 'S2-78676'): [1050, 1417], ('Frami, Hills and Schmidt', 'S2-82423'): [761, 1286], ('Frami, Hills and Schmidt', 'S2-83881'): [24, 676, 1062, 1306], ('Fritsch, Russel and Anderson', 'B1-04202'): [819, 1485], ('Fritsch, Russel and Anderson', 'B1-05914'): [541, 810], ('Fritsch, Russel and Anderson', 'B1-20000'): [566, 1024, 1201, 1345], ('Fritsch, Russel and Anderson', 'B1-33087'): [484, 1182], ('Fritsch, Russel and Anderson', 'B1-33364'): [1046, 1436], ('Fritsch, Russel and Anderson', 'B1-38851'): [488, 1375], ('Fritsch, Russel and Anderson', 'B1-50809'): [245, 544, 893], ('Fritsch, Russel and Anderson', 'B1-53102'): [14, 101], ('Fritsch, Russel and Anderson', 'B1-53636'): [26, 765, 808, 1178, 1325], ('Fritsch, Russel and Anderson', 'B1-65551'): [115, 379, 723, 1184, 1410], ('Fritsch, Russel and Anderson', 'B1-69924'): [453, 1313, 1377, 1394], ('Fritsch, Russel and Anderson', 'B1-86481'): [752, 875], ('Fritsch, Russel and Anderson', 'S1-06532'): [159, 664, 1179, 1495], ('Fritsch, Russel and Anderson', 'S1-27722'): [32, 200, 413, 1087], ('Fritsch, Russel and Anderson', 'S1-47412'): [149, 1143], ('Fritsch, Russel and Anderson', 'S1-50961'): [130, 1112, 1202, 1343], ('Fritsch, Russel and Anderson', 'S1-65481'): [124, 778], ('Fritsch, Russel and Anderson', 'S1-82801'): [1072], ...}

Observamos que al agrupar por dos columnas ahora la clave del diccionario es una tupla con dos valores: cliente y producto

In [13]:
# Cantidad de grupos
grupos_clientes_producto.ngroups

544

¿Es posible agrupar primero por una variable y luego por otra?

In [14]:
grupo_clientes.groupby(by='producto')

AttributeError: ignored

# 3. Agregación

Los procesos agregación consisten en generar información de resumen de los grupos.

**Manera directa**: consiste en la aplicación de la función de resumen de manera directa

**Método aggregate**: usar la función agg. Esta forma nos va a permitir varias cosas:
  * Aplicar distintas funciones a distintas variables
  * Aplicar funciones propias
  * Nombrar las columnas agregadas (útil por prolijidad)

## 3.1 Manera directa

Podemos utilizar distintas funciones para obtener estadísticas de resumen.

Un listado de las funciones más comunes se encuentra [aquí](https://pandas.pydata.org/docs/user_guide/groupby.html#aggregation)

Buscamos responder dos de las preguntas de interés:
* ¿Qué cantidad de productos compró cada cliente?
* ¿Cuál fue el monto de venta total de cada cliente?

In [15]:
# Aplicamos la función sum al dataframe agrupado
grupo_clientes.sum()

,numero_cuenta,cantidad,precio_unitario,total_ventas
nombre,,,,
Barton LLC,60692300,2041,4409.06,109438.50
"Cronin, Oberbrunner and Spencer",17232266,1673,3336.99,89734.55
"Frami, Hills and Schmidt",56661696,1903,3942.49,103569.59
"Fritsch, Russel and Anderson",59741550,2112,4350.41,112214.71
"Halvorson, Crona and Champlin",35046790,1284,3244.92,70004.36
Herman LLC,8801644,1538,3259.15,82865.00
Jerde-Hilpert,36693810,1999,4635.54,112591.43
"Kassulke, Ondricka and Metz",19686336,1647,3266.76,86451.07
Keeling LLC,50984594,1806,4223.63,100934.30
Kiehn-Spinka,11599728,1756,4389.32,99608.77
Koepp Ltd,59846306,1790,4459.96,103660.54
Kuhn-Gusikowski,49084470,1665,4075.87,91094.28
Kulas Inc,20576130,2265,5608.19,137351.96
Pollich LLC,46920969,1707,4126.92,87347.18
Purdy-Kunde,8661048,1450,2668.07,77898.21
Sanford and Sons,37424029,1704,4142.25,98822.98
Stokes LLC,17232768,1766,3711.26,91535.92
Trantow-Barrows,67159804,2271,5280.93,123381.38
White-Trantow,36542604,2258,5040.73,135841.99
Will LLC,28347920,1828,4338.84,104437.60

Esta forma nos permite contestar las preguntas. Sin embargo, es un poco desprolija ya que realiza la suma de todas las variables que son **numéricas**.

Podemos mejorar el resultado seleccionando sólo las columnas de interés.

In [16]:
# Aplicamos la función sum al dataframe agrupado seleccionando las columnas de interés
grupo_suma_clientes = grupo_clientes[['cantidad', 'total_ventas']].sum()
grupo_suma_clientes

                                 cantidad  total_ventas
nombre
Barton LLC                           2041     109438.50
Cronin, Oberbrunner and Spencer      1673      89734.55
Frami, Hills and Schmidt             1903     103569.59
Fritsch, Russel and Anderson         2112     112214.71
Halvorson, Crona and Champlin        1284      70004.36
Herman LLC                           1538      82865.00
Jerde-Hilpert                        1999     112591.43
Kassulke, Ondricka and Metz          1647      86451.07
Keeling LLC                          1806     100934.30
Kiehn-Spinka                         1756      99608.77
Koepp Ltd                            1790     103660.54
Kuhn-Gusikowski                      1665      91094.28
Kulas Inc                            2265     137351.96
Pollich LLC                          1707      87347.18
Purdy-Kunde                          1450      77898.21
Sanford and Sons                     1704      98822.98
Stokes LLC                           1766      91535.92
Trantow-Barrows                      2271     123381.38
White-Trantow                        2258     135841.99
Will LLC                             1828     104437.60

Esta forma de agrupar tiene como particularidad que el o las variables de agrupación se encuentran como índice del dataset de resultado y no como columnas

In [17]:
# Indice del dataframe resultado
grupo_suma_clientes.index

Index(['Barton LLC', 'Cronin, Oberbrunner and Spencer',
       'Frami, Hills and Schmidt', 'Fritsch, Russel and Anderson',
       'Halvorson, Crona and Champlin', 'Herman LLC', 'Jerde-Hilpert',
       'Kassulke, Ondricka and Metz', 'Keeling LLC', 'Kiehn-Spinka',
       'Koepp Ltd', 'Kuhn-Gusikowski', 'Kulas Inc', 'Pollich LLC',
       'Purdy-Kunde', 'Sanford and Sons', 'Stokes LLC', 'Trantow-Barrows',
       'White-Trantow', 'Will LLC'],
      dtype='object', name='nombre')

In [18]:
# Columnas del dataframe resultado
grupo_suma_clientes.columns

Index(['cantidad', 'total_ventas'], dtype='object')

### Grupo como columnas

Si deseamos conservar el o los grupos como columnas y no como índice del dataframe que resulta de una agregación podemos utilizar dos formas:

* El método `reset_index()` luego de la agregación
* Especificando el argumento **as_index=False** en la función `groupby()`

In [19]:
# Utilizando el método reset_index
grupo_clientes[['cantidad', 'total_ventas']].sum().reset_index()

                             nombre  cantidad  total_ventas
0                        Barton LLC      2041     109438.50
1   Cronin, Oberbrunner and Spencer      1673      89734.55
2          Frami, Hills and Schmidt      1903     103569.59
3      Fritsch, Russel and Anderson      2112     112214.71
4     Halvorson, Crona and Champlin      1284      70004.36
5                        Herman LLC      1538      82865.00
6                     Jerde-Hilpert      1999     112591.43
7       Kassulke, Ondricka and Metz      1647      86451.07
8                       Keeling LLC      1806     100934.30
9                      Kiehn-Spinka      1756      99608.77
10                        Koepp Ltd      1790     103660.54
11                  Kuhn-Gusikowski      1665      91094.28
12                        Kulas Inc      2265     137351.96
13                      Pollich LLC      1707      87347.18
14                      Purdy-Kunde      1450      77898.21
15                 Sanford and Sons      1704      98822.98
16                       Stokes LLC      1766      91535.92
17                  Trantow-Barrows      2271     123381.38
18                    White-Trantow      2258     135841.99
19                         Will LLC      1828     104437.60

In [20]:
# Utilizando el argumento as_index
df.groupby(by='nombre', as_index=False)[['cantidad', 'total_ventas']].sum()

                             nombre  cantidad  total_ventas
0                        Barton LLC      2041     109438.50
1   Cronin, Oberbrunner and Spencer      1673      89734.55
2          Frami, Hills and Schmidt      1903     103569.59
3      Fritsch, Russel and Anderson      2112     112214.71
4     Halvorson, Crona and Champlin      1284      70004.36
5                        Herman LLC      1538      82865.00
6                     Jerde-Hilpert      1999     112591.43
7       Kassulke, Ondricka and Metz      1647      86451.07
8                       Keeling LLC      1806     100934.30
9                      Kiehn-Spinka      1756      99608.77
10                        Koepp Ltd      1790     103660.54
11                  Kuhn-Gusikowski      1665      91094.28
12                        Kulas Inc      2265     137351.96
13                      Pollich LLC      1707      87347.18
14                      Purdy-Kunde      1450      77898.21
15                 Sanford and Sons      1704      98822.98
16                       Stokes LLC      1766      91535.92
17                  Trantow-Barrows      2271     123381.38
18                    White-Trantow      2258     135841.99
19                         Will LLC      1828     104437.60

## 3.2 Método agg(regate)

Como se mencionó el método agg es mucho más flexible y nos permite construir agregaciones más complejas y prolijas.

Existen múltiples maneras de trabajar:

1.   Funciones
2.   Diccionario {columna:funcion}
3.   Agregaciones con nombre

### 3.2.1 Aggregate con funciones

En el argumento `func` especificamos el nombre de la función de agregación como función o string.
También podemos pasar una lista de funciones.

In [21]:
# Especificando una única función de agregación
grupo_clientes.agg(func=sum)

,numero_cuenta,cantidad,precio_unitario,total_ventas
nombre,,,,
Barton LLC,60692300,2041,4409.06,109438.50
"Cronin, Oberbrunner and Spencer",17232266,1673,3336.99,89734.55
"Frami, Hills and Schmidt",56661696,1903,3942.49,103569.59
"Fritsch, Russel and Anderson",59741550,2112,4350.41,112214.71
"Halvorson, Crona and Champlin",35046790,1284,3244.92,70004.36
Herman LLC,8801644,1538,3259.15,82865.00
Jerde-Hilpert,36693810,1999,4635.54,112591.43
"Kassulke, Ondricka and Metz",19686336,1647,3266.76,86451.07
Keeling LLC,50984594,1806,4223.63,100934.30
Kiehn-Spinka,11599728,1756,4389.32,99608.77
Koepp Ltd,59846306,1790,4459.96,103660.54
Kuhn-Gusikowski,49084470,1665,4075.87,91094.28
Kulas Inc,20576130,2265,5608.19,137351.96
Pollich LLC,46920969,1707,4126.92,87347.18
Purdy-Kunde,8661048,1450,2668.07,77898.21
Sanford and Sons,37424029,1704,4142.25,98822.98
Stokes LLC,17232768,1766,3711.26,91535.92
Trantow-Barrows,67159804,2271,5280.93,123381.38
White-Trantow,36542604,2258,5040.73,135841.99
Will LLC,28347920,1828,4338.84,104437.60

In [22]:
# Especificando la función como string
grupo_clientes.agg(func='sum')

,numero_cuenta,cantidad,precio_unitario,total_ventas
nombre,,,,
Barton LLC,60692300,2041,4409.06,109438.50
"Cronin, Oberbrunner and Spencer",17232266,1673,3336.99,89734.55
"Frami, Hills and Schmidt",56661696,1903,3942.49,103569.59
"Fritsch, Russel and Anderson",59741550,2112,4350.41,112214.71
"Halvorson, Crona and Champlin",35046790,1284,3244.92,70004.36
Herman LLC,8801644,1538,3259.15,82865.00
Jerde-Hilpert,36693810,1999,4635.54,112591.43
"Kassulke, Ondricka and Metz",19686336,1647,3266.76,86451.07
Keeling LLC,50984594,1806,4223.63,100934.30
Kiehn-Spinka,11599728,1756,4389.32,99608.77
Koepp Ltd,59846306,1790,4459.96,103660.54
Kuhn-Gusikowski,49084470,1665,4075.87,91094.28
Kulas Inc,20576130,2265,5608.19,137351.96
Pollich LLC,46920969,1707,4126.92,87347.18
Purdy-Kunde,8661048,1450,2668.07,77898.21
Sanford and Sons,37424029,1704,4142.25,98822.98
Stokes LLC,17232768,1766,3711.26,91535.92
Trantow-Barrows,67159804,2271,5280.93,123381.38
White-Trantow,36542604,2258,5040.73,135841.99
Will LLC,28347920,1828,4338.84,104437.60

### 3.2.2 Diccionario {columna:funcion}

Esta forma es más flexible ya que podemos indicar distintas funciones de agregación para cada variable obteniendo las estadísticas que queremos sólo para las variables que queremos.

Al igual que antes la función se puede indicar como función o string y también es posible indicar una lista de funciones de agregación.

In [23]:
# Diccionario con una única función por columna
grupo_clientes.agg(func={'cantidad':'sum', 'total_ventas':sum})

                                 cantidad  total_ventas
nombre
Barton LLC                           2041     109438.50
Cronin, Oberbrunner and Spencer      1673      89734.55
Frami, Hills and Schmidt             1903     103569.59
Fritsch, Russel and Anderson         2112     112214.71
Halvorson, Crona and Champlin        1284      70004.36
Herman LLC                           1538      82865.00
Jerde-Hilpert                        1999     112591.43
Kassulke, Ondricka and Metz          1647      86451.07
Keeling LLC                          1806     100934.30
Kiehn-Spinka                         1756      99608.77
Koepp Ltd                            1790     103660.54
Kuhn-Gusikowski                      1665      91094.28
Kulas Inc                            2265     137351.96
Pollich LLC                          1707      87347.18
Purdy-Kunde                          1450      77898.21
Sanford and Sons                     1704      98822.98
Stokes LLC                           1766      91535.92
Trantow-Barrows                      2271     123381.38
White-Trantow                        2258     135841.99
Will LLC                             1828     104437.60

In [24]:
# Diccionario con lista de funciones
grupo_clientes.agg(func={'cantidad':'sum', 'total_ventas':[sum, np.mean]})

                                cantidad total_ventas
                                     sum          sum         mean
nombre
Barton LLC                          2041    109438.50  1334.615854
Cronin, Oberbrunner and Spencer     1673     89734.55  1339.321642
Frami, Hills and Schmidt            1903    103569.59  1438.466528
Fritsch, Russel and Anderson        2112    112214.71  1385.366790
Halvorson, Crona and Champlin       1284     70004.36  1206.971724
Herman LLC                          1538     82865.00  1336.532258
Jerde-Hilpert                       1999    112591.43  1265.072247
Kassulke, Ondricka and Metz         1647     86451.07  1350.797969
Keeling LLC                         1806    100934.30  1363.977027
Kiehn-Spinka                        1756     99608.77  1260.870506
Koepp Ltd                           1790    103660.54  1264.152927
Kuhn-Gusikowski                     1665     91094.28  1247.866849
Kulas Inc                           2265    137351.96  1461.191064
Pollich LLC                         1707     87347.18  1196.536712
Purdy-Kunde                         1450     77898.21  1469.777547
Sanford and Sons                    1704     98822.98  1391.872958
Stokes LLC                          1766     91535.92  1271.332222
Trantow-Barrows                     2271    123381.38  1312.567872
White-Trantow                       2258    135841.99  1579.558023
Will LLC                            1828    104437.60  1411.318919

Con este resultado podemos contestar facilmente las tres primeras preguntas que nos solicitaron:

* ¿Qué cantidad de productos compró cada cliente?
* ¿Cuál fue el monto de venta total de cada cliente? ¿Y la venta promedio?

Si bien este resultado es útil puede ser necesario mejorar la prolijidad con nombres de columnas más claros

### 3.2.3 Agregaciones con nombre

Las agregaciones con nombre permiten obtener columnas con nombres designados por nosotros. Existen dos maneras de realizarlo:

1. Mediante el uso de `pandas.NamedAgg`
2. Sintaxis "implícita"

Estas dos formas tienen como desventaja que se debe indicar las funciones de agregación de a una (no se pueden utilizar listas)

**NamedAgg**

En `NamedAgg` indicamos la columna (**column**) y la función de agregación que queremos utilizar (**aggfunc**)

In [ ]:
# Uso de NamedAgg
grupo_clientes.agg(cantidad_total=pd.NamedAgg(column="cantidad", aggfunc="sum"),
                   venta_total=pd.NamedAgg(column="total_ventas", aggfunc="sum"),
                   venta_promedio=pd.NamedAgg(column="total_ventas", aggfunc="mean"))

                                 cantidad_total  venta_total  venta_promedio
nombre
Barton LLC                                 2041    109438.50     1334.615854
Cronin, Oberbrunner and Spencer            1673     89734.55     1339.321642
Frami, Hills and Schmidt                   1903    103569.59     1438.466528
Fritsch, Russel and Anderson               2112    112214.71     1385.366790
Halvorson, Crona and Champlin              1284     70004.36     1206.971724
Herman LLC                                 1538     82865.00     1336.532258
Jerde-Hilpert                              1999    112591.43     1265.072247
Kassulke, Ondricka and Metz                1647     86451.07     1350.797969
Keeling LLC                                1806    100934.30     1363.977027
Kiehn-Spinka                               1756     99608.77     1260.870506
Koepp Ltd                                  1790    103660.54     1264.152927
Kuhn-Gusikowski                            1665     91094.28     1247.866849
Kulas Inc                                  2265    137351.96     1461.191064
Pollich LLC                                1707     87347.18     1196.536712
Purdy-Kunde                                1450     77898.21     1469.777547
Sanford and Sons                           1704     98822.98     1391.872958
Stokes LLC                                 1766     91535.92     1271.332222
Trantow-Barrows                            2271    123381.38     1312.567872
White-Trantow                              2258    135841.99     1579.558023
Will LLC                                   1828    104437.60     1411.318919

**Sintaxis implícita**

Se indica en una tupla (columna,función de agregación)

In [25]:
# Sin utilizar NamedAgg (sintaxis implícita)
grupo_clientes.agg(cantidad_total =('cantidad','sum'),
                   venta_total = ('total_ventas',sum),
                   venta_promedio = ('total_ventas', np.mean))

                                 cantidad_total  venta_total  venta_promedio
nombre
Barton LLC                                 2041    109438.50     1334.615854
Cronin, Oberbrunner and Spencer            1673     89734.55     1339.321642
Frami, Hills and Schmidt                   1903    103569.59     1438.466528
Fritsch, Russel and Anderson               2112    112214.71     1385.366790
Halvorson, Crona and Champlin              1284     70004.36     1206.971724
Herman LLC                                 1538     82865.00     1336.532258
Jerde-Hilpert                              1999    112591.43     1265.072247
Kassulke, Ondricka and Metz                1647     86451.07     1350.797969
Keeling LLC                                1806    100934.30     1363.977027
Kiehn-Spinka                               1756     99608.77     1260.870506
Koepp Ltd                                  1790    103660.54     1264.152927
Kuhn-Gusikowski                            1665     91094.28     1247.866849
Kulas Inc                                  2265    137351.96     1461.191064
Pollich LLC                                1707     87347.18     1196.536712
Purdy-Kunde                                1450     77898.21     1469.777547
Sanford and Sons                           1704     98822.98     1391.872958
Stokes LLC                                 1766     91535.92     1271.332222
Trantow-Barrows                            2271    123381.38     1312.567872
White-Trantow                              2258    135841.99     1579.558023
Will LLC                                   1828    104437.60     1411.318919

# 4. Transform

Los procesos apply de transformación consisten en la aplicación de una función o transformación de datos a nivel grupo sin reducir la cantidad de registros del dataset.

En este caso vamos a trabajar en la creación de nuevas variables usando información de los grupos. En particular, buscaremos contestar la pregunta:

* ¿Hubo ventas que representaron más del 5% del monto total de ventas de un cliente?

Para ello es necesario:

1. Calcular el monto total de ventas por cliente
2. Expresar cada venta como un porcentaje del total
3. Filtrar los datos de manera acorde a la pregunta

La sintaxis que vamos a utilizar es:

```
df['columna'].transform(funcion)
```

In [ ]:
# Calculamos las ventas totales para cada cliente
grupo_clientes['total_ventas'].transform('sum')

0       109438.50
1       123381.38
2       137351.96
3        86451.07
4       112591.43
          ...
1495    112214.71
1496    103569.59
1497     91535.92
1498     87347.18
1499    104437.60
Name: total_ventas, Length: 1500, dtype: float64

Observemos que nos el método `transform` nos devuelve una serie de 1500 elementos (cantidad de registros del dataset)

In [ ]:
# Creamos una columna con la venta total por cliente
df['venta_total_cliente'] = grupo_clientes['total_ventas'].transform('sum')

In [ ]:
# Observamos el resultado
df[['nombre', 'total_ventas', 'venta_total_cliente']].sample(10)

                              nombre  total_ventas  venta_total_cliente
524                       Barton LLC       1528.36            109438.50
437                       Herman LLC       1866.48             82865.00
651                     Kiehn-Spinka       3799.74             99608.77
942  Cronin, Oberbrunner and Spencer       2303.25             89734.55
335                 Sanford and Sons        977.84             98822.98
777                      Keeling LLC        919.23            100934.30
503                        Kulas Inc       1048.44            137351.96
884                       Herman LLC       3733.92             82865.00
429                        Koepp Ltd        938.20            103660.54
404                    Jerde-Hilpert        535.50            112591.43

In [ ]:
# Creamos una variable que indica para cada venta de un cliente 
# qué porcentaje de su venta total representa 
df['porcentaje_ventas_cliente'] = (df.total_ventas/df.venta_total_cliente)*100

In [ ]:
# Observamos el resultado
df[['nombre', 'total_ventas', 'venta_total_cliente', 'porcentaje_ventas_cliente']].sample(10)

,nombre,total_ventas,venta_total_cliente,porcentaje_ventas_cliente
294,Kiehn-Spinka,96.07,99608.77,0.096447
1221,White-Trantow,4251.78,135841.99,3.129945
1006,Koepp Ltd,1891.12,103660.54,1.824339
1184,"Fritsch, Russel and Anderson",992.80,112214.71,0.884732
96,Barton LLC,181.82,109438.50,0.166139
211,Sanford and Sons,2205.00,98822.98,2.231262
86,Kuhn-Gusikowski,110.91,91094.28,0.121753
504,White-Trantow,2707.38,135841.99,1.993036
627,Keeling LLC,3318.90,100934.30,3.288179
690,Herman LLC,736.80,82865.00,0.889157

In [ ]:
# Conservamos las ventas que representan más de un 5% de la venta total del cliente
df.query("porcentaje_ventas_cliente>5")[['nombre', 'producto', 'total_ventas',
                                         'venta_total_cliente', 'porcentaje_ventas_cliente']]

,nombre,producto,total_ventas,venta_total_cliente,porcentaje_ventas_cliente
90,"Halvorson, Crona and Champlin",S2-11481,3578.27,70004.36,5.111496
476,"Halvorson, Crona and Champlin",S1-47412,4011.04,70004.36,5.729700
781,Kuhn-Gusikowski,B1-04202,4770.72,91094.28,5.237124
852,"Halvorson, Crona and Champlin",S1-93683,4174.72,70004.36,5.963514
900,Pollich LLC,S1-93683,4621.04,87347.18,5.290428
932,Purdy-Kunde,B1-20000,4414.62,77898.21,5.667165
1032,"Kassulke, Ondricka and Metz",S1-27722,4418.47,86451.07,5.110949
1042,Purdy-Kunde,B1-38851,4046.29,77898.21,5.194330

# 5. Trabajo con fechas

Para el trabajo con fechas vamos a utilizar el objeto `pandas.Grouper`. Recordemos que en el Grouper debemos especificar la columna (**key**) y la frecuencia de agrupación (**freq**). 

Un listado exhaustivo de las frecuencias se encuentra [aquí](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases) 

Las preguntas para responder respecto al tiempo eran:

¿Cómo se distribuyeron el monto de ventas durante los trimestres del año? ¿Todos los clientes tienen perfiles similares en ventas por cuatrimestre?

In [ ]:
# Convertimos la fecha a datetime
df['fecha'] = pd.to_datetime(df.fecha)

In [ ]:
# Indicamos freq=Q para indicar agrupación cuatrimestral 
df.groupby(by=pd.Grouper(key='fecha', freq='Q')).agg(ventas_totales=('total_ventas',sum))

            ventas_totales
fecha
2014-03-31       535494.66
2014-06-30       514081.99
2014-09-30       513883.87
2014-12-31       455323.80

In [ ]:
# Agrupamos por cliente y trimestre
df.groupby(['nombre', pd.Grouper(key='fecha', freq='Q')]).agg(ventas_totales=('total_ventas',sum))

                                            ventas_totales
nombre                          fecha
Barton LLC                      2014-03-31        21909.13
                                2014-06-30        32158.10
                                2014-09-30        38345.55
                                2014-12-31        17025.72
Cronin, Oberbrunner and Spencer 2014-03-31        26809.63
...                                                    ...
White-Trantow                   2014-12-31        34248.39
Will LLC                        2014-03-31        44405.86
                                2014-06-30        20371.41
                                2014-09-30        16803.35
                                2014-12-31        22856.98

[80 rows x 1 columns]