## Paquetes y Series

Una librería en Python es un conjunto de funciones y herramientas predefinidas que están diseñadas para realizar tareas específicas. Estas librerías están escritas en Python o en otros lenguajes y pueden ser utilizadas por los desarrolladores para facilitar la implementación de ciertas funcionalidades sin tener que escribir todo el código desde cero.

Por ejemplo, pandas es una librería en Python que proporciona estructuras de datos y herramientas de análisis de datos. Está diseñada para trabajar con datos tabulares y ofrece funcionalidades para la manipulación, limpieza, visualización y análisis de datos.

**En resumen, una librería en Python es un conjunto de funciones y herramientas que se pueden importar y utilizar en un programa para realizar tareas específicas de manera más eficiente.**

In [1]:
import pandas as pd

La serie es una estructura de datos unidimensional en donde cada dato tiene además una etiqueta.

In [2]:
sabores_helados = ["Chocolate" , "Fresa", "Vainilla", "Sambayon"]
sabores_helados

['Chocolate', 'Fresa', 'Vainilla', 'Sambayon']

Para crear una serie se usa el constructor pd.Series() que es capaz de convertir a serie distintas estructuras como listas,
diccionarios,etc.

In [3]:
pd.Series(sabores_helados)

0    Chocolate
1        Fresa
2     Vainilla
3     Sambayon
dtype: object

In [4]:
loteria = [1,2,3,65,34,11]

pd.Series(loteria)

0     1
1     2
2     3
3    65
4    34
5    11
dtype: int64

In [5]:
registros = [True, False, True, True, False]

pd.Series(registros)

0     True
1    False
2     True
3     True
4    False
dtype: bool

## Atributos de una serie

In [6]:
prices = [ 2.99, 4.45, 1.36]
product = ["leche", "pan", "fideos"]

supermercado = pd.Series(data = prices, index = product )

supermercado

leche     2.99
pan       4.45
fideos    1.36
dtype: float64

In [7]:
supermercado.index

Index(['leche', 'pan', 'fideos'], dtype='object')

In [8]:
supermercado.values # Me muestra los valores de la serie

array([2.99, 4.45, 1.36])

In [9]:
supermercado.dtype

dtype('float64')

In [12]:
supermercado.shape

(3,)

In [11]:
supermercado.size

3

In [13]:
supermercado.ndim

1

La serie tiene, además, un atributo name, atributo que también encontramos en el índice. Una vez los hemos fijado, se muestran junto con la estructura al imprimir la serie

In [14]:
supermercado.name = "Mi lista de supermercado"
supermercado.head(4)

leche     2.99
pan       4.45
fideos    1.36
Name: Mi lista de supermercado, dtype: float64

## Selección de registros

In [15]:
supermercado[0]

/tmp/ipykernel_25389/4205133078.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  supermercado[0]

2.99

In [16]:
supermercado[0:2]

leche    2.99
pan      4.45
Name: Mi lista de supermercado, dtype: float64

In [17]:
supermercado['leche']

2.99

In [18]:
supermercado.items

<bound method Series.items of leche     2.99
pan       4.45
fideos    1.36
Name: Mi lista de supermercado, dtype: float64>

## Fragmentos de comienzo a fin 
A nivel exploratorio, es bastante cómodo acceder a una porción inicial (o final) de los datos que manejamos. Esto se puede hacer de forma muy sencilla con series:

In [19]:
supermercado.head(3) #primeras 3 filas

leche     2.99
pan       4.45
fideos    1.36
Name: Mi lista de supermercado, dtype: float64

In [20]:
supermercado.tail(4) #últimas 4 filas

leche     2.99
pan       4.45
fideos    1.36
Name: Mi lista de supermercado, dtype: float64

## Operaciones con series

**Operaciones logicas:**

In [21]:
supermercado > 2

leche      True
pan        True
fideos    False
Name: Mi lista de supermercado, dtype: bool

In [22]:
supermercado[supermercado > 2]

leche    2.99
pan      4.45
Name: Mi lista de supermercado, dtype: float64

**Operaciones Aritméticas**:

Podemos operar entre series y escalares sin ningún tipo de problema:

In [23]:
supermercado/2

leche     1.495
pan       2.225
fideos    0.680
Name: Mi lista de supermercado, dtype: float64

In [24]:
descuentos = [0.15,0.18,0.02]

In [25]:
supermercado*descuentos

leche     0.4485
pan       0.8010
fideos    0.0272
Name: Mi lista de supermercado, dtype: float64

In [26]:
prueba_descuento = [0.15,0.18,0.02,0.1]

In [27]:
supermercado * prueba_descuento

ValueError: operands could not be broadcast together with shapes (3,) (4,)

In [ ]:
#ValueError: operands could not be broadcast together with shapes (3,) (4,)

📢 Tener en cuenta que las operaciones se realizan entre registros que tienen el mismo índice (etiqueta)

## Ordenación

In [28]:
pokemon = pd.read_csv("pokemon.csv", 
                      usecols= ["Pokemon"])

In [29]:
pokemon = pokemon.squeeze('columns')
# Squeeze es lo que transforma el dataset en una Serie
# Los DataFrames con una sola columna o una sola fila se comprimen en una Serie.

In [31]:
type(pokemon)
pokemon= pd.Series(sorted(pokemon))

In [32]:
pokemon.sort_index(inplace = True)
pokemon.head(7)

0     Abomasnow
1          Abra
2         Absol
3      Accelgor
4     Aegislash
5    Aerodactyl
6        Aggron
dtype: object

In [49]:
pokemon.sort_values(ascending= False,inplace= False)

720      Zygarde
719     Zweilous
718        Zubat
717        Zorua
716      Zoroark
         ...
4      Aegislash
3       Accelgor
2          Absol
1           Abra
0      Abomasnow
Length: 721, dtype: object

## Contando valores

In [34]:
google = pd.read_csv("google_stock_price.csv")

In [35]:
google = google.squeeze('columns')

In [36]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [37]:
google.value_counts()

Stock Price
291.21    5
307.94    3
289.71    3
243.26    3
194.80    3
         ..
195.05    1
193.26    1
185.42    1
172.83    1
782.22    1
Name: count, Length: 2886, dtype: int64

In [38]:
google.count() #devuelve el número de valores «no nulos» que contiene la serie

3012

In [39]:
google.shape  #hay nulos en la serie?

(3012,)

## Funciones estadisticas
Existen multitud de funciones estadísticas que podemos aplicar a una serie. Dependiendo del tipo de dato con el que estamos trabajando, serán más útiles unas que otras. Veamos  a modo de ejemplo:

In [40]:
google.mean()

334.3100929614874

In [41]:
google.median()

283.315

In [42]:
google.mode()

0    291.21
Name: Stock Price, dtype: float64

In [43]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

## Máximos y mínimos

In [44]:
google.max()

782.22

In [45]:
google.argmin() #Posición (índice) del valor mínimo

11

In [46]:
google.nsmallest(3) # Obtener los n valores menores de una serie

11    49.95
9     50.07
0     50.12
Name: Stock Price, dtype: float64

## Exportación de series

In [47]:
google.to_list()

[50.12,
 54.1,
 54.65,
 52.38,
 52.95,
 53.9,
 53.02,
 50.95,
 51.13,
 50.07,
 50.7,
 49.95,
 50.74,
 51.1,
 51.1,
 52.61,
 53.7,
 55.69,
 55.94,
 56.93,
 58.69,
 59.62,
 58.86,
 59.13,
 60.35,
 59.86,
 59.07,
 63.37,
 65.47,
 64.74,
 66.22,
 67.46,
 69.12,
 68.47,
 69.36,
 68.8,
 67.56,
 68.63,
 70.38,
 70.93,
 71.98,
 74.51,
 73.9,
 70.17,
 74.62,
 86.13,
 93.61,
 90.81,
 92.89,
 96.55,
 95.22,
 97.92,
 97.34,
 95.74,
 92.26,
 84.59,
 86.19,
 84.27,
 83.85,
 91.42,
 90.91,
 92.34,
 86.19,
 86.16,
 83.69,
 84.62,
 82.47,
 83.68,
 87.29,
 89.61,
 90.43,
 90.9,
 89.89,
 89.61,
 90.11,
 88.06,
 85.63,
 84.91,
 86.63,
 85.74,
 85.14,
 89.26,
 89.8,
 88.15,
 89.95,
 92.42,
 91.78,
 93.06,
 93.86,
 95.86,
 96.28,
 96.35,
 98.7,
 96.3,
 101.25,
 97.15,
 96.66,
 94.18,
 96.83,
 97.43,
 96.67,
 97.59,
 97.57,
 99.89,
 101.85,
 98.55,
 96.86,
 94.05,
 90.27,
 88.47,
 94.53,
 93.95,
 95.07,
 97.71,
 95.85,
 102.88,
 105.32,
 102.08,
 97.92,
 99.22,
 95.69,
 93.9,
 93.61,
 96.4,
 97.52,
 99.11,
 98.85,
 98.88,
 95.59,
 96.88,
 94.35,
 92.84,
 93.9,
 92.94,
 92.5,
 93.41,
 92.86,
 94.31,
 92.51,
 90.58,
 89.9,
 88.81,
 87.41,
 89.22,
 87.71,
 89.56,
 89.93,
 90.35,
 89.21,
 89.4,
 89.54,
 90.62,
 89.7,
 90.13,
 90.16,
 89.93,
 92.55,
 94.19,
 94.52,
 96.78,
 95.93,
 96.52,
 96.88,
 96.37,
 95.63,
 92.41,
 93.39,
 95.6,
 98.95,
 102.01,
 107.8,
 111.65,
 109.27,
 109.78,
 109.62,
 109.89,
 111.03,
 112.98,
 114.14,
 113.38,
 113.9,
 112.9,
 113.79,
 115.53,
 114.25,
 114.51,
 115.41,
 116.45,
 119.46,
 119.47,
 120.68,
 127.6,
 127.87,
 130.27,
 129.47,
 132.87,
 138.5,
 143.86,
 143.81,
 139.99,
 145.32,
 146.41,
 139.64,
 143.01,
 141.11,
 141.23,
 139.04,
 137.26,
 138.58,
 140.0,
 143.21,
 143.78,
 144.51,
 144.71,
 148.48,
 151.9,
 150.85,
 146.21,
 146.93,
 145.48,
 147.71,
 145.62,
 147.62,
 147.97,
 146.53,
 145.75,
 149.28,
 150.29,
 150.44,
 149.62,
 154.8,
 155.84,
 156.81,
 151.05,
 147.78,
 147.9,
 148.32,
 146.6,
 143.74,
 145.66,
 149.45,
 148.5,
 148.72,
 146.03,
 145.48,
 145.64,
 142.7,
 141.88,
 144.72,
 141.86,
 142.68,
 142.41,
 139.86,
 139.86,
 136.87,
 139.65,
 141.14,
 141.15,
 141.65,
 144.08,
 143.49,
 142.86,
 142.98,
 144.08,
 143.41,
 147.29,
 147.55,
 149.4,
 154.72,
 155.68,
 151.35,
 151.16,
 149.95,
 151.74,
 153.8,
 155.79,
 155.53,
 157.52,
 156.98,
 156.81,
 152.85,
 154.66,
 158.07,
 159.18,
 155.34,
 155.2,
 156.22,
 156.34,
 155.17,
 152.9,
 150.33,
 148.57,
 147.92,
 152.35,
 151.49,
 154.2,
 151.45,
 169.78,
 174.15,
 173.28,
 177.54,
 176.35,
 178.91,
 185.88,
 189.5,
 189.65,
 192.78,
 195.02,
 197.32,
 194.76,
 189.39,
 195.35,
 195.0,
 198.29,
 196.2,
 198.88,
 201.52,
 199.9,
 204.48,
 208.03,
 211.22,
 214.1,
 211.53,
 201.57,
 202.25,
 206.84,
 208.64,
 202.72,
 202.07,
 201.91,
 205.12,
 204.4,
 206.1,
 208.54,
 209.27,
 211.05,
 214.86,
 212.09,
 214.66,
 212.95,
 215.8,
 215.25,
 212.11,
 213.13,
 209.86,
 207.22,
 217.4,
 222.4,
 225.39,
 232.6,
 233.22,
 234.65,
 235.58,
 231.58,
 232.89,
 233.32,
 222.23,
 218.0,
 199.53,
 213.54,
 221.29,
 216.28,
 216.92,
 216.53,
 213.2,
 216.11,
 200.69,
 197.82,
 190.59,
 192.36,
 183.78,
 184.36,
 179.21,
 181.12,
 172.68,
 171.49,
 171.02,
 183.05,
 184.19,
 183.11,
 182.56,
 188.85,
 188.51,
 194.99,
 181.13,
 182.22,
 188.04,
 188.9,
 183.87,
 182.04,
 176.76,
 171.33,
 168.58,
 168.36,
 175.4,
 172.08,
 169.22,
 169.73,
 173.92,
 169.79,
 169.94,
 170.77,
 182.72,
 184.66,
 188.41,
 197.29,
 194.03,
 194.8,
 194.66,
 201.97,
 203.79,
 205.38,
 202.88,
 207.98,
 204.63,
 204.27,
 200.88,
 203.21,
 201.92,
 205.04,
 207.29,
 218.33,
 220.03,
 213.37,
 212.77,
 209.8,
 208.76,
 199.25,
 197.2,
 196.89,
 197.18,
 196.95,
 197.19,
 204.2,
 201.29,
 193.31,
 186.88,
 187.91,
 185.46,
 187.06,
 185.31,
 184.82,
 185.29,
 187.6,
 190.43,
 191.3,
 190.48,
 185.78,
 185.72,
 191.12,
 189.53,
 187.03,
 194.8,
 193.06,
 196.45,
 193.09,
 190.58,
 193.07,
 192.0,
 195.3,
 195.15,
 193.88,
 193.39,
 200.86,
 199.78,
 202.23,
 201.91,
 200.96,
 202.85,
 208.7,
 209.46,
 211.39,
 210.52,
 211.38,
 210.01,
 208.89,
 212.07,
 208.42,
 204.21,
 201.55,
 203.74,
 201.32,
 199.3,
 193.37,
 194.86,
 195.25,
 194.49,
 192.56,
 191.01,
 193.87,
 193.11,
 187.57,
 183.43,
 187.51,
 186.74,
 188.79,
 190.31,
 188.28,
 186.91,
 184.07,
 184.53,
 190.29,
 193.67,
 192.71,
 191.49,
 188.46,
 188.96,
 186.53,
 186.68,
 186.44,
 190.28,
 189.29,
 190.18,
 189.08,
 189.11,
 191.99,
 189.88,
 189.06,
 188.74,
 191.85,
 195.75,
 203.08,
 201.79,
 204.74,
 207.14,
 201.7,
 198.3,
 203.22,
 201.69,
 201.79,
 203.23,
 201.26,
 201.59,
 200.75,
 200.52,
 201.82,
 207.64,
 205.7,
 210.04,
 214.29,
 213.11,
 213.04,
 213.51,
 213.44,
 210.66,
 210.11,
 209.44,
 212.82,
 229.61,
 240.15,
 236.42,
 243.06,
 242.31,
 237.36,
 238.05,
 237.96,
 233.52,
 234.72,
 235.66,
 238.24,
 236.05,
 237.26,
 236.08,
 236.54,
 240.27,
 244.41,
 245.72,
 247.7,
 249.15,
 247.28,
 254.57,
 253.75,
 252.2,
 242.13,
 244.51,
 242.08,
 242.16,
 240.16,
 242.18,
 243.26,
 244.11,
 241.08,
 241.81,
 241.72,
 240.65,
 239.26,
 240.82,
 239.91,
 231.17,
 234.08,
 231.22,
 227.87,
 227.56,
 228.54,
 233.78,
 231.05,
 230.01,
 233.56,
 241.39,
 243.35,
 241.55,
 242.51,
 244.49,
 249.61,
 252.25,
 251.89,
 248.39,
 243.67,
 244.63,
 240.18,
 239.29,
 249.28,
 243.8,
 247.67,
 245.99,
 246.91,
 250.5,
 240.63,
 240.51,
 233.35,
 235.5,
 234.77,
 235.28,
 230.71,
 228.92,
 229.32,
 232.73,
 230.5,
 234.74,
 235.81,
 237.69,
 237.69,
 235.07,
 232.23,
 224.16,
 224.5,
 223.89,
 219.12,
 220.25,
 228.55,
 227.59,
 227.13,
 226.25,
 227.15,
 221.29,
 223.78,
 222.87,
 220.2,
 223.39,
 222.42,
 228.05,
 230.79,
 230.68,
 232.27,
 231.58,
 230.71,
 230.23,
 228.85,
 229.04,
 236.06,
 235.27,
 235.52,
 233.87,
 233.02,
 232.03,
 233.46,
 232.91,
 236.9,
 236.16,
 237.77,
 235.59,
 241.0,
 239.3,
 238.53,
 238.76,
 240.35,
 239.27,
 235.45,
 234.27,
 232.66,
 236.38,
 235.32,
 233.4,
 233.17,
 234.39,
 230.5,
 233.14,
 230.66,
 228.77,
 236.07,
 235.24,
 234.92,
 235.06,
 237.69,
 236.75,
 236.93,
 241.52,
 243.31,
 249.05,
 248.71,
 249.95,
 253.28,
 259.16,
 258.87,
 257.27,
 257.49,
 255.41,
 252.13,
 252.37,
 251.17,
 252.69,
 257.34,
 256.9,
 254.73,
 256.8,
 262.23,
 263.45,
 264.86,
 262.88,
 262.24,
 261.09,
 264.92,
 266.9,
 270.54,
 269.43,
 271.01,
 271.4,
 271.96,
 272.39,
 275.8,
 276.22,
 277.22,
 274.48,
 274.02,
 259.8,
 256.0,
 256.74,
 254.63,
 253.75,
 255.69,
 257.8,
 254.74,
 256.21,
 255.25,
 251.25,
 254.74,
 257.75,
 262.63,
 257.11,
 257.62,
 257.49,
 254.05,
 248.53,
 245.51,
 249.77,
 248.71,
 253.05,
 256.12,
 255.84,
 257.24,
 256.37,
 252.95,
 256.18,
 255.44,
 257.37,
 262.31,
 263.64,
 261.5,
 259.42,
 256.98,
 260.4,
 261.06,
 262.13,
 264.11,
 262.39,
 267.37,
 273.15,
 276.14,
 279.77,
 283.73,
 284.22,
 283.8,
 283.47,
 283.35,
 290.98,
 291.9,
 291.72,
 289.23,
 296.73,
 304.51,
 307.28,
 312.38,
 310.69,
 318.38,
 309.74,
 307.69,
 316.42,
 319.49,
 322.03,
 325.05,
 337.55,
 337.57,
 333.92,
 336.96,
 339.28,
 347.04,
 353.15,
 351.25,
 355.27,
 362.46,
 370.52,
 366.1,
 346.57,
 331.65,
 315.72,
 329.94,
 320.52,
 314.51,
 316.5,
 312.61,
 323.95,
 329.93,
 338.01,
 332.7,
 336.45,
 345.78,
 348.15,
 346.15,
 340.42,
 341.74,
 348.91,
 357.27,
 357.08,
 358.85,
 349.25,
 349.33,
 346.68,
 344.64,
 334.28,
 336.34,
 338.35,
 344.5,
 348.0,
 350.01,
 355.06,
 350.02,
 350.91,
 345.39,
 342.25,
 342.32,
 328.17,
 324.3,
 315.52,
 326.27,
 323.04,
 318.81,
 326.58,
 318.51,
 307.67,
 300.09,
 299.82,
 291.88,
 274.04,
 286.96,
 282.92,
 277.71,
 274.98,
 273.86,
 281.87,
 257.69,
 247.47,
 253.15,
 250.6,
 252.22,
 258.09,
 260.32,
 258.79,
 267.04,
 265.86,
 264.56,
 254.22,
 254.25,
 251.18,
 253.65,
 242.98,
 231.86,
 236.19,
 237.46,
 235.35,
 228.28,
 222.08,
 223.63,
 216.13,
 216.46,
 206.6,
 219.7,
 219.87,
 221.28,
 218.74,
 209.73,
 219.36,
 215.78,
 216.56,
 230.05,
 225.16,
 228.87,
 221.82,
 218.82,
 220.01,
 232.62,
 232.62,
 227.33,
 235.31,
 238.17,
 233.67,
 231.86,
 234.3,
 228.5,
 225.6,
 223.2,
 227.29,
 224.55,
 269.44,
 268.63,
 277.22,
 272.97,
 271.25,
 271.76,
 275.78,
 278.96,
 286.86,
 296.24,
 290.35,
 297.15,
 292.89,
 289.21,
 291.21,
 286.3,
 292.18,
 291.21,
 287.86,
 290.21,
 289.74,
 288.47,
 289.01,
 274.72,
 274.46,
 272.04,
 280.17,
 283.84,
 291.21,
 292.61,
 287.21,
 283.37,
 285.82,
 292.86,
 283.22,
 278.66,
 276.81,
 272.33,
 276.2,
 285.47,
 286.12,
 284.45,
 280.91,
 279.82,
 272.94,
 272.33,
 270.88,
 275.22,
 264.15,
 263.77,
 262.95,
 267.1,
 263.26,
 268.23,
 271.68,
 276.99,
 270.5,
 270.02,
 266.63,
 260.55,
 257.79,
 267.53,
 266.45,
 240.42,
 234.17,
 238.32,
 244.37,
 237.57,
 245.74,
 238.32,
 241.31,
 241.11,
 236.64,
 233.7,
 231.27,
 239.69,
 242.93,
 239.32,
 ...]

In [48]:
google.to_frame()

      Stock Price
0           50.12
1           54.10
2           54.65
3           52.38
4           52.95
...           ...
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

[3012 rows x 1 columns]

[Pandas Documentación de Series](https://pandas.pydata.org/pandas-docs/stable/reference/series.html)