# Práctico 2
## Parte 1

In [1]:
import pandas as pd

### Importación del dataset y quitar la notación científica

Opción 1

In [3]:
resultado_fiscal = pd.read_excel("resultados_fiscales.xlsx", 
              squeeze=True, 
              index_col="Año",
              thousands = [","]).astype('int64')
resultado_fiscal.name = "Dataset para práctico 2"

Opción 2

In [5]:
resultado = pd.read_excel("resultados_fiscales.xlsx", 
              squeeze=True, 
              index_col="Año")

pd.options.display.float_format = '{:.1f}'.format
resultado.head()

Año
1910       3341829.3
1911     153352920.3
1912    -602800419.4
1913   -3455294577.0
1914   -4031521611.0
Name: Resultado_Fiscal, dtype: float64

Extra: cómo subir archivos al colab mediante código

In [7]:
from google.colab import files
uploaded = files.upload()

Saving resultados_fiscales.xlsx to resultados_fiscales.xlsx

### Obtención de conteo, media y mediana

In [10]:
resultado_fiscal.count()
# o 
len(resultado_fiscal)

100

In [ ]:
resultado_fiscal.mean()

-5919392796.95

In [ ]:
resultado_fiscal.median()

-4457752925.5

In [9]:
resultado_fiscal.describe()

count            100.0
mean     -5919392796.9
std       6828141173.7
min     -34407752167.0
25%      -8654238051.0
50%      -4457752925.5
75%       -865066494.8
max       4526185464.0
Name: Dataset para práctico 2, dtype: float64

### Uso del método GET

In [11]:
resultado_fiscal.get([1916, 1917, 1920, 1923, 1924, 1926, 1935,1942, 1956, 1959, 1967, 1983, 1987, 1995]).sort_values(ascending = False)

Año
1959     4526185464
1926      913376838
1924      356186029
1923     -534822576
1920     -648921648
1917     -889128023
1935    -1407436011
1916    -2376278621
1956    -3889722499
1942    -5137825514
1987    -5472975733
1967    -8152016582
1995    -9379678915
1983   -15013613296
Name: Dataset para práctico 2, dtype: int64

In [13]:
resultado_fiscal.describe()

count            100.0
mean     -5919392796.9
std       6828141173.7
min     -34407752167.0
25%      -8654238051.0
50%      -4457752925.5
75%       -865066494.8
max       4526185464.0
Name: Dataset para práctico 2, dtype: float64

### Obtener año del valor mínimo y máximo con una función

In [14]:
resultado_fiscal.idxmax()

1959

In [15]:
resultado_fiscal.idxmin()

1982

## Parte  2

### Obtener dataset y poner de index la columna "id"

In [16]:
sales = pd.read_csv("sales_data.csv", index_col= ["id"])
sales.head()

                  name        dpto        date  revenue
id
1       Caryl Paoletti  Montevideo  2020/10/19    565.9
2   Pasquale Lightning       Salto  2021/02/01    722.4
3       Melinde Jearum  Montevideo  2020/09/23    797.9
4         Jazmin Speir  Montevideo  2021/03/13    346.8
5       Kirby Liepmann  Montevideo  2021/01/07   1037.0

### Listado de columnas por tipo

In [17]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     1000 non-null   object
 1   dpto     1000 non-null   object
 2   date     1000 non-null   object
 3   revenue  1000 non-null   float64
dtypes: float64(1), object(3)
memory usage: 39.1+ KB

In [18]:
sales.dtypes.value_counts()

object     3
float64    1
dtype: int64

### Transformación de tipos de datos de columnas

In [19]:
sales["dpto"] = sales["dpto"].astype('category')
sales["revenue"] = sales["revenue"].astype('int')

In [20]:
sales["date"] = pd.to_datetime(sales["date"])

### Cantidad de valores por dpto

In [ ]:
sales["dpto"].value_counts()

Montevideo    363
Salto         332
Colonia       305
Name: dpto, dtype: int64

Extra_2: cómo obtener los valores únicos de una serie

In [21]:
sales["dpto"].unique()

['Montevideo', 'Salto', 'Colonia']
Categories (3, object): ['Montevideo', 'Salto', 'Colonia']