In [1]:
import pandas as pd

In [6]:
print("PRACTICO 2 ")
print("Parte 1 - 1 ")
# links: 
    #https://stackoverflow.co/
    #https://chat.openai.com/
#Snippets
    #df_fechas["fecha_final"] = df_fechas["fecha_origen"] + pd.to_timedelta(df_fechas["hora_transaccion"], 'h')
    
    #pd.to_datetime('2018-10-26 12:00:00.0000000011',...                format='%Y-%m-%d %H:%M:%S.%f')
    #Timestamp('2018-10-26 12:00:00.000000001')
    
    #pd.options.display.float_format = '{:.1f}'.format


import os
miPath= os.path.abspath('')
# print(miPath)
#rf=pd.read_excel(miPath+"/resultados_fiscales.xlsx",thousands=',').squeeze("columns") #importamos y cargamos el dataframe
#rf = pd.read_excel(miPath+"/resultados_fiscales.xlsx",squeeze=True,index_col="Año",thousands = [","]).astype('int64')
rf = pd.read_excel(miPath+"/resultados_fiscales.xlsx",index_col="Año",thousands=[","]).squeeze("columns")
rf.name = "Dataset para práctico 2"
rf

PRACTICO 2
Parte 1

Año
1910    3.3E+06
1911    1.5E+08
1912   -6.0E+08
1913   -3.5E+09
1914   -4.0E+09
         ...
2005   -9.5E+09
2006   -6.2E+09
2007   -1.1E+10
2008   -8.0E+09
2009   -1.1E+10
Name: Dataset para práctico 2, Length: 100, dtype: float64

In [4]:
print("Parte 1 - 2 ")
print("# Muestra en formato decimal")
pd.options.display.float_format = '{:.1f}'.format
rf.head()

Parte 2
# Muestra en formato decimal

Año
1910       3341829.3
1911     153352920.3
1912    -602800419.4
1913   -3455294577.0
1914   -4031521611.0
Name: Dataset para práctico 2, dtype: float64

In [7]:
print("Parte 1 - 2 ")

print("# Muestra en formato cientifico")
pd.options.display.float_format = '{:.1E}'.format
rf.head()

Parte 2
# Muestra en formato cientifico

Año
1910    3.3E+06
1911    1.5E+08
1912   -6.0E+08
1913   -3.5E+09
1914   -4.0E+09
Name: Dataset para práctico 2, dtype: float64

In [13]:
print("Parte 1 - 3 ")

pd.options.display.float_format = '{:.1f}'.format
print("Cantidad:",rf.size, len(rf))
print("Media:",rf.mean())
print("Mediana:",rf.median())

Parte 3
Cantidad: 100 100
Media: -5919392796.965559
Mediana: -4457752925.5

In [14]:
print("Parte 1 - 4")
claves = [1916,1917,1920,1923,1924,1926,1935,1942,1956,1959,1967,1983,1987,1995]
rf.get(claves).sort_values(ascending=False)

Año
1959     4526185464.0
1926      913376838.8
1924      356186029.8
1923     -534822576.4
1920     -648921648.1
1917     -889128023.3
1935    -1407436011.0
1916    -2376278621.0
1956    -3889722499.0
1942    -5137825514.0
1987    -5472975733.0
1967    -8152016582.0
1995    -9379678915.0
1983   -15013613296.0
Name: Dataset para práctico 2, dtype: float64

In [15]:
print("Parte 1 - 5")
rf.describe()

Parte 1 - 5

count            100.0
mean     -5919392797.0
std       6828141173.7
min     -34407752167.0
25%      -8654238051.0
50%      -4457752925.5
75%       -865066495.2
max       4526185464.0
Name: Dataset para práctico 2, dtype: float64

In [16]:
print("Parte 1 - 6")

print(f"El año que se da el maximo es {rf.idxmax()}, y el año que se da el minimo es: {rf.idxmin()}")

Parte 1 - 6
El año que se da el maximo es 1959, y el año que se da el minimo es: 1982

In [26]:
print("Parte 2 - 1")
miPath = os.path.abspath('')

rf2 = pd.read_csv(miPath+"/sales_data.csv", index_col=["id"])
rf2.head(5)

Parte 2 - 1

                  name        dpto        date  revenue
id
1       Caryl Paoletti  Montevideo  2020/10/19    565.9
2   Pasquale Lightning       Salto  2021/02/01    722.4
3       Melinde Jearum  Montevideo  2020/09/23    797.9
4         Jazmin Speir  Montevideo  2021/03/13    346.8
5       Kirby Liepmann  Montevideo  2021/01/07   1037.0

In [27]:
print("Parte 2 - 2")
rf2.info()

Parte 2 - 2
<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     1000 non-null   object
 1   dpto     1000 non-null   object
 2   date     1000 non-null   object
 3   revenue  1000 non-null   float64
dtypes: float64(1), object(3)
memory usage: 39.1+ KB

In [32]:
print("Parte 2 - 3")
rf2["dpto"] = rf2["dpto"].astype("category")
rf2["date"] = pd.to_datetime(rf2["date"])
rf2["revenue"] = rf2["revenue"].astype("int32")
rf2.head()

Parte 2 - 3

                  name        dpto       date  revenue
id
1       Caryl Paoletti  Montevideo 2020-10-19      565
2   Pasquale Lightning       Salto 2021-02-01      722
3       Melinde Jearum  Montevideo 2020-09-23      797
4         Jazmin Speir  Montevideo 2021-03-13      346
5       Kirby Liepmann  Montevideo 2021-01-07     1037

In [33]:
print("Parte 2 - 4")
rf2["dpto"].value_counts()

Parte 2 - 4

dpto
Montevideo    363
Salto         332
Colonia       305
Name: count, dtype: int64