In [1]:
import pandas as pd
fortune = pd.read_csv("fortune1000.csv", index_col = 'Rank')
fortune.head()

                 Company       Sector  ... Profits Employees
Rank                                   ...
1                Walmart    Retailing  ...   14694   2300000
2            Exxon Mobil       Energy  ...   16150     75600
3                  Apple   Technology  ...   53394    110000
4     Berkshire Hathaway   Financials  ...   24083    331000
5               McKesson  Health Care  ...    1476     70400

[5 rows x 7 columns]

## Función Groupby

In [3]:
sectors = fortune.groupby("Sector")

In [4]:
type(fortune)

pandas.core.frame.DataFrame

In [5]:
type(sectors)

pandas.core.groupby.generic.DataFrameGroupBy

In [6]:
len(sectors)

21

In [7]:
fortune["Sector"].nunique()

21

In [ ]:
sectors.size()

In [ ]:
fortune["Sector"].value_counts()

Algunos métodos con el grupby

In [15]:
sectors.first().head(5)

                           Company               Industry  ... Profits  Employees
Sector                                                     ...
Aerospace & Defense         Boeing  Aerospace and Defense  ...    5176     161400
Apparel                       Nike                Apparel  ...    3273      62600
Business Services    ManpowerGroup         Temporary Help  ...     419      27000
Chemicals             Dow Chemical              Chemicals  ...    7685      49495
Energy                 Exxon Mobil     Petroleum Refining  ...   16150      75600

[5 rows x 6 columns]

In [16]:
sectors.last().head()

                                       Company  ... Employees
Sector                                          ...
Aerospace & Defense      Delta Tucker Holdings  ...     12000
Apparel                                  Guess  ...     13500
Business Services        DeVry Education Group  ...     11770
Chemicals                          H.B. Fuller  ...      4425
Energy               Portland General Electric  ...      2646

[5 rows x 6 columns]

In [18]:
sectors.groups

{'Aerospace & Defense': [24, 45, 60, 88, 118, 120, 209, 245, 282, 378, 389, 490, 560, 605, 785, 788, 836, 903, 958, 987], 'Apparel': [91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877, 882, 917], 'Business Services': [144, 186, 199, 204, 221, 248, 249, 294, 307, 312, 355, 392, 404, 440, 467, 468, 481, 485, 492, 503, 545, 626, 635, 652, 677, 694, 714, 729, 734, 735, 737, 744, 767, 776, 777, 783, 791, 792, 796, 801, 803, 816, 819, 820, 869, 870, 886, 939, 951, 952, 993], 'Chemicals': [56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549, 555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829, 865, 898, 934, 949], 'Energy': [2, 14, 30, 32, 42, 65, 90, 95, 98, 104, 115, 117, 121, 162, 163, 165, 166, 175, 178, 188, 190, 192, 193, 198, 214, 216, 217, 223, 225, 229, 243, 246, 247, 257, 272, 274, 279, 289, 319, 322, 324, 343, 348, 349, 350, 363, 364, 384, 387, 388, 394, 402, 403, 410, 425, 437, 438, 445, 458, 475, 483, 493, 507, 522, 541, 548, 556, 558, 569, 571, 579, 598, 600, 606, 633, 650, 656, 662, 679, 692, 696, 703, 703, 706, 711, 715, 732, 742, 743, 745, 754, 772, 784, 798, 802, 810, 817, 826, 843, 850, ...], 'Engineering & Construction': [155, 156, 235, 260, 301, 314, 352, 381, 433, 478, 498, 501, 516, 572, 576, 640, 719, 738, 822, 863, 874, 892, 929, 963, 985, 994], 'Financials': [4, 16, 23, 26, 27, 29, 35, 40, 43, 49, 50, 61, 69, 73, 74, 76, 78, 81, 82, 83, 85, 100, 105, 112, 114, 131, 135, 137, 152, 171, 179, 184, 205, 210, 222, 226, 227, 232, 236, 250, 252, 259, 264, 265, 271, 273, 275, 283, 298, 306, 311, 318, 326, 329, 332, 344, 347, 367, 368, 376, 382, 398, 401, 411, 421, 436, 442, 449, 453, 453, 471, 472, 472, 476, 479, 482, 486, 488, 494, 497, 499, 506, 509, 510, 520, 529, 531, 536, 540, 551, 561, 568, 573, 590, 603, 609, 611, 646, 651, 663, ...], 'Food and Drug Stores': [7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849, 928], 'Food, Beverages & Tobacco': [41, 44, 62, 66, 84, 94, 106, 149, 153, 161, 176, 207, 215, 242, 266, 304, 336, 337, 362, 397, 413, 429, 452, 456, 460, 535, 542, 567, 574, 587, 608, 615, 636, 664, 686, 702, 770, 787, 795, 804, 889, 902, 954], 'Health Care': [5, 6, 12, 21, 22, 33, 39, 46, 52, 55, 63, 72, 79, 86, 123, 124, 125, 130, 138, 140, 141, 168, 172, 200, 201, 202, 263, 268, 278, 286, 287, 290, 291, 305, 325, 358, 359, 372, 420, 430, 431, 447, 457, 465, 469, 515, 527, 537, 553, 559, 583, 618, 629, 661, 684, 693, 697, 708, 746, 749, 766, 775, 790, 799, 815, 818, 845, 868, 881, 883, 935, 960, 965, 977, 978], 'Hotels, Resturants & Leisure': [109, 146, 195, 218, 241, 254, 309, 371, 444, 466, 534, 546, 557, 562, 585, 731, 763, 764, 779, 797, 895, 915, 918, 941, 999], 'Household Products': [34, 151, 174, 256, 261, 328, 338, 345, 370, 434, 441, 450, 455, 533, 550, 554, 601, 665, 699, 716, 856, 890, 900, 907, 932, 950, 967, 992], 'Industrials': [11, 59, 75, 93, 97, 128, 134, 148, 211, 224, 360, 377, 396, 412, 419, 539, 544, 596, 622, 623, 630, 645, 655, 658, 666, 674, 690, 757, 782, 789, 806, 813, 823, 831, 832, 835, 841, 847, 866, 867, 873, 887, 942, 947, 964, 1000], 'Materials': [126, 127, 170, 244, 251, 303, 321, 341, 356, 373, 375, 383, 417, 418, 426, 435, 446, 480, 489, 514, 518, 577, 586, 616, 617, 620, 625, 628, 637, 639, 641, 660, 667, 687, 691, 751, 774, 793, 857, 885, 911, 982, 986], 'Media': [53, 96, 99, 203, 213, 255, 327, 366, 406, 414, 525, 530, 681, 705, 707, 722, 741, 752, 759, 762, 821, 913, 968, 969, 989], 'Motor Vehicles & Parts': [8, 9, 70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470, 588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979], 'Retailing': [1, 15, 28, 38, 47, 71, 89, 103, 111, 132, 136, 139, 143, 145, 177, 180, 191, 196, 197, 228, 234, 237, 238, 240, 258, 267, 269, 280, 293, 297, 299, 302, 330, 342, 346, 361, 365, 374, 379, 380, 393, 415, 427, 439, 495, 500, 502, 511, 512, 517, 523, 582, 592, 602, 607, 610, 621, 643, 644, 648, 657, 675, 689, 721, 748, 771, 773, 807, 812, 824, 825, 827, 840, 876, 894, 899, 922, 937, 940, 973], 'Technology': [3, 18, 20, 25, 31, 36, 51, 54, 77, 110, 113, 133, 150, 157, 158, 164, 173, 194, 219, 220, 230, 233, 284, 295, 300, 308, 313, 331, 385, 386, 400, 408, 409, 422, 451, 462, 464, 487, 491, 504, 505, 508, 513, 519, 524, 532, 543, 552, 563, 565, 584, 589, 593, 594, 612, 632, 634, 638, 649, 659, 673, 676, 678, 682, 688, 700, 725, 733, 736, 753, 760, 769, 778, 805, 830, 834, 842, 854, 864, 871, 888, 891, 893, 896, 904, 905, 906, 909, 912, 914, 919, 927, 931, 943, 944, 946, 956, 970, 971, 975, ...], 'Telecommunications': [10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619, 786], 'Transportation': [48, 58, 67, 68, 80, 129, 142, 208, 239, 270, 353, 390, 395, 405, 407, 416, 432, 459, 521, 528, 570, 578, 642, 672, 709, 713, 740, 800, 814, 858, 884, 930, 933, 945, 972, 974], 'Wholesalers': [57, 64, 92, 102, 108, 119, 122, 167, 183, 185, 212, 276, 285, 315, 317, 320, 323, 335, 351, 357, 369, 391, 423, 463, 474, 477, 484, 564, 581, 599, 627, 653, 685, 727, 747, 780, 808, 837, 875, 991]}

In [ ]:
sectors.get_group('Energy')

Operaciones con datasets agrupados

In [ ]:
sectors.max()
sectors.min()

In [ ]:
sectors.sum()

In [ ]:
round(sectors.mean(),1)

In [ ]:
sectors["Revenue"].sum()

In [ ]:
sectors["Profits"].min()

In [ ]:
sectors[["Revenue", "Profits"]].sum()

Agrupación por varias columnas

In [37]:
sectors = fortune.groupby(["Sector", "Industry"])

In [39]:
sectors.size().head(10)

Sector               Industry
Aerospace & Defense  Aerospace and Defense               20
Apparel              Apparel                             15
Business Services    Advertising, marketing               2
                     Diversified Outsourcing Services    14
                     Education                            3
                     Financial Data Services             19
                     Miscellaneous                        3
                     Temporary Help                       5
                     Waste Management                     5
Chemicals            Chemicals                           30
dtype: int64

In [ ]:
sectors.sum()

In [43]:
sectors["Revenue"].mean()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            17897.000000
Apparel              Apparel                                           6397.866667
Business Services    Advertising, marketing                           11374.000000
                     Diversified Outsourcing Services                  4630.642857
                     Education                                         2495.000000
                                                                          ...
Transportation       Trucking, Truck Leasing                           3994.444444
Wholesalers          Miscellaneous                                     8982.000000
                     Wholesalers: Diversified                          7045.520000
                     Wholesalers: Electronics and Office Equipment    18488.250000
                     Wholesalers: Food and Grocery                    18629.000000
Name: Revenue, Length: 79, dtype: float64

Función agg()

In [44]:
sectors = fortune.groupby('Sector')

In [ ]:
sectors.agg({
    "Revenue" : "sum",
    "Profits" : "sum",
    "Employees" : "mean"
})

In [47]:
sectors.agg(["size", "sum", "median"])

                             Revenue           ... Employees
                                size      sum  ...       sum   median
Sector                                         ...
Aerospace & Defense               20   357940  ...    968057  24803.0
Apparel                           15    95968  ...    346397  13500.0
Business Services                 51   272195  ...   1361050  13000.0
Chemicals                         30   243897  ...    463651   7431.5
Energy                           122  1517809  ...   1188927   5301.5
Engineering & Construction        26   153983  ...    406708   7380.0
Financials                       139  2217159  ...   3359948   7621.0
Food and Drug Stores              15   483769  ...   1395398  20000.0
Food, Beverages & Tobacco         43   555967  ...   1211632  11500.0
Health Care                       75  1614707  ...   2678289  18800.0
Hotels, Resturants & Leisure      25   169546  ...   2484245  46500.0
Household Products                28   234737  ...    646038  16561.0
Industrials                       46   497581  ...   1545229  12850.0
Materials                         43   259145  ...    638123  12000.0
Media                             25   220764  ...    550314  12200.0
Motor Vehicles & Parts            24   482540  ...   1082560  13550.0
Retailing                         80  1465076  ...   6227629  22704.0
Technology                       102  1377600  ...   3578949  12905.0
Telecommunications                15   461834  ...    832468  18000.0
Transportation                    36   408508  ...   1536793  16664.0
Wholesalers                       40   444800  ...    525597   8700.0

[21 rows x 9 columns]

In [ ]:
sectors.agg({
    "Revenue" : "sum",
    "Profits" : ["sum", "mean"],
    "Employees" : ["size", "sum"]
})

## Función pivot_table()

In [50]:
import numpy as np
mean_employees = fortune["Employees"].mean()
fortune["Company_size"] = np.where(fortune["Employees"] > mean_employees, "Big", "Small")

In [53]:
fortune["Company_size"].value_counts()

Small    784
Big      216
Name: Company_size, dtype: int64

In [ ]:
pd.pivot_table(data = fortune,
               values = 'Revenue',
               index = ['Sector'],
               columns = ['Company_size'],
               aggfunc = 'size')

In [62]:
pd.pivot_table(data = fortune,
               values = 'Revenue',
               index = ['Industry'],
               columns = ['Company_size'],
               aggfunc = 'size',
               fill_value = 0)

Company_size                                   Big  Small
Industry
Advertising, marketing                           2      0
Aerospace and Defense                            9     11
Airlines                                         4      5
Apparel                                          3     12
Automotive Retailing, Services                   0     10
...                                            ...    ...
Waste Management                                 1      4
Wholesalers: Diversified                         1     24
Wholesalers: Electronics and Office Equipment    1      7
Wholesalers: Food and Grocery                    1      5
Wholesalers: Health Care                         2      4

[73 rows x 2 columns]

In [ ]:
pd.pivot_table(data = fortune,
               values = 'Revenue',
               index = ['Sector','Industry'],
               columns = ['Company_size'],
               aggfunc = ["sum", 'size'],
               fill_value = 0)

## Función corr()

In [64]:
fortune.corr(method = 'pearson')

            Revenue   Profits  Employees
Revenue    1.000000  0.615181   0.725757
Profits    0.615181  1.000000   0.359126
Employees  0.725757  0.359126   1.000000