In [3]:
import pandas as pd

# 1 - Dataset

Vamos a trabajar con cuatro datasets diferentes, relacionados entre si:
* Lista de clientes del restaurant
* Lista de comidas
* Ventas de la semana 1
* Ventas de la semana 2

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
#week1 = pd.read_csv("./sample_data/Restaurant_Ventas1.csv")
#week2 = pd.read_csv("./sample_data/Restaurant_Ventas2.csv")
#clientes = pd.read_csv("./sample_data/Restaurant_Clientes.csv")
#comidas = pd.read_csv("./sample_data/Restaurant_Comidas.csv")

semana1 = pd.read_csv("/content/drive/MyDrive/Curso CPE Data Wrangling/Clases/datasets/Restaurant_Ventas1.csv")
semana2 = pd.read_csv("/content/drive/MyDrive/Curso CPE Data Wrangling/Clases/datasets/Restaurant_Ventas2.csv")
clientes = pd.read_csv("/content/drive/MyDrive/Curso CPE Data Wrangling/Clases/datasets/Restaurant_Clientes.csv")
comidas = pd.read_csv("/content/drive/MyDrive/Curso CPE Data Wrangling/Clases/datasets/Restaurant_Comidas.csv")

In [5]:
semana1.head()

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9

In [6]:
semana2.head()

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10
3          189        5
4          267        3

In [7]:
clientes.head()

   ID First Name Last Name  Gender  Company                     Occupation
0   1     Joseph   Perkins    Male  Dynazzy  Community Outreach Specialist
1   2   Jennifer   Alvarez  Female     DabZ        Senior Quality Engineer
2   3      Roger     Black    Male  Tagfeed              Account Executive
3   4     Steven     Evans    Male     Fatz               Registered Nurse
4   5       Judy  Morrison  Female  Demivee                Legal Assistant

In [8]:
comidas.head()

   Food ID Food Item  Price
0        1    Pastas   3.99
1        2      Pure   9.99
2        3  Ensalada   2.99
3        4     Pizza   4.25
4        5    Snacks   2.49

In [18]:
# Reemplazamos los espacios en los nombres de las columnas
semana1.columns = semana1.columns.str.replace(' ','_')
semana2.columns = semana2.columns.str.replace(' ','_')
clientes.columns = clientes.columns.str.replace(' ','_')
comidas.columns = comidas.columns.str.replace(' ','_')

In [19]:
print(semana1.columns)
print(semana2.columns)
print(clientes.columns)
print(comidas.columns)

Index(['Customer_ID', 'Food_ID'], dtype='object')
Index(['Customer_ID', 'Food_ID'], dtype='object')
Index(['ID', 'First_Name', 'Last_Name', 'Gender', 'Company', 'Occupation'], dtype='object')
Index(['Food_ID', 'Food_Item', 'Price'], dtype='object')

# 2 - *concat* y *append* 

Union de datasets uno a continuacion del otro. Vamos a unir dos datasets similares, *week1* y *week2* de forma que queden uno a continuacion del otro, utilizando doss formas en pandas: **concat** y **append**

In [20]:
# Validamos nombre y orden de las columna
semana1.columns == semana2.columns

array([ True,  True])

In [21]:
print("Largo de la semana 1: {}".format(len(semana1)))
print("Largo de la semana 2: {}".format(len(semana2)))

Largo de la semana 1: 250
Largo de la semana 2: 250

## 2.1 - Comando *concat*

In [22]:
ventas_comb = pd.concat([semana1, semana2])
ventas_comb.head()

   Customer_ID  Food_ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9

In [23]:
print("Largo combinado: {}".format(len(ventas_comb)))

Largo combinado: 500

In [24]:
# Le agregamos un indice para saber de que semana es

ventas_comb_2 = pd.concat([semana1, semana2], keys = ["A", "B"])
ventas_comb_2.head()

     Customer_ID  Food_ID
A 0          537        9
  1           97        4
  2          658        1
  3          202        2
  4          155        9

In [25]:
ventas_comb_2.tail()

       Customer_ID  Food_ID
B 245          783       10
  246          556       10
  247          547        9
  248          252        9
  249          249        6

In [26]:
# Podemos acceder por el indice agregado mas el original a un registro
ventas_comb_2.loc[("B", 240)]

Customer_ID    734
Food_ID          1
Name: (B, 240), dtype: int64

In [28]:
# Puede haber clientes repetidos 
ventas_comb_2.loc[ventas_comb_2.Customer_ID == 155]
#ventas_comb_2.query('Customer_ID == 155')

       Customer_ID  Food_ID
A 4            155        9
  17           155        1
B 208          155        3

## 2.2 - Comando *append*

A esta funcion se le agrega el parametro *ignore_index*. Veamos que pasa cuando lo modificamos.

In [29]:
ventas_append = semana2.append(semana1, ignore_index = True)   
print(len(ventas_append))
ventas_append.head()

500

   Customer_ID  Food_ID
0          688       10
1          813        7
2          495       10
3          189        5
4          267        3

In [30]:
ventas_append.tail()

     Customer_ID  Food_ID
495          413        9
496          926        6
497          134        3
498          396        6
499          535       10

In [31]:
ventas_append_2 = semana2.append(semana1, ignore_index = False)   
print(len(ventas_append_2))
ventas_append_2.head()

500

   Customer_ID  Food_ID
0          688       10
1          813        7
2          495       10
3          189        5
4          267        3

In [32]:
ventas_append_2.tail()

     Customer_ID  Food_ID
245          413        9
246          926        6
247          134        3
248          396        6
249          535       10

In [ ]:
ventas_append_3 = semana2.append(semana1, ignore_index = False, verify_integrity=False)   
print(len(ventas_append_3))
ventas_append_3.head()

500

   Customer_ID  Food_ID
0          688       10
1          813        7
2          495       10
3          189        5
4          267        3


# 3 - Joins

##3.1 - *inner join*

Vamos a unir los datasets *week1* y *week2* seleccionando el tipo de union que queremos realizar, Primero vamos a hacer el join por *Customer_ID*.

In [38]:
ventas_merge = semana1.merge(semana2, 
                             how = "inner", 
                             on = "Customer_ID", 
                             suffixes = [" - A", " - B"])

ventas_merge.head()

   Customer_ID  Food_ID - A  Food_ID - B
0          537            9            5
1          155            9            3
2          155            1            3
3          503            5            8
4          503            5            9

In [34]:
pd.merge(left = semana1, 
         right = semana2, 
         left_on = "Customer_ID",
         right_on = "Customer_ID",
         how = "inner", 
         #on = "Customer_ID", 
         suffixes = [" - A", " - B"])

    Customer_ID  Food_ID - A  Food_ID - B
0           537            9            5
1           155            9            3
2           155            1            3
3           503            5            8
4           503            5            9
..          ...          ...          ...
57          945            5            4
58          343            3            5
59          343            3            2
60          343            3            7
61          621            9            6

[62 rows x 3 columns]

In [35]:
# Veamos como queda el join para el customer 155 
semana1[semana1["Customer_ID"] == 155]

    Customer_ID  Food_ID
4           155        9
17          155        1

In [36]:
semana2[semana2["Customer_ID"] == 155]

     Customer_ID  Food_ID
208          155        3

In [39]:
ventas_merge[ventas_merge["Customer_ID"] == 155]

   Customer_ID  Food_ID - A  Food_ID - B
1          155            9            3
2          155            1            3

Ahora vamos a usar todas las columnas para hacer el join.

In [40]:
semana1[semana1["Customer_ID"] == 578]

     Customer_ID  Food_ID
224          578        5

In [41]:
semana2[semana2["Customer_ID"] == 578]

     Customer_ID  Food_ID
29           578        5
189          578        5

In [42]:
ventas_merge2 = semana1.merge(semana2, how = "inner", on = ["Customer_ID","Food_ID"])

ventas_merge2.head()

   Customer_ID  Food_ID
0          304        3
1          540        3
2          937       10
3          233        3
4           21        4

In [43]:
ventas_merge2[ventas_merge2["Customer_ID"] == 578]

   Customer_ID  Food_ID
7          578        5
8          578        5

## 3.2 - *outer join*

In [45]:
ventas_o = semana1.merge(semana2, 
                         how = "outer", 
                         on = "Customer_ID", 
                         suffixes = [" - Week 1", " - Week 2"],
                         indicator = True)

ventas_o.head()

   Customer_ID  Food_ID - Week 1  Food_ID - Week 2     _merge
0          537               9.0               5.0       both
1           97               4.0               NaN  left_only
2          658               1.0               NaN  left_only
3          202               2.0               NaN  left_only
4          155               9.0               3.0       both

In [46]:
print("Quedaron {} filas en vez de 500 ... Por qu?".format(len(ventas_o)))

Quedaron 454 filas en vez de 500 ... Por qu?

In [47]:
ventas_o["_merge"].value_counts()

right_only    197
left_only     195
both           62
Name: _merge, dtype: int64

In [48]:
# Si queremos ver las que estan en un solo datasets
ventas_o[ventas_o["_merge"].isin(["left_only", "right_only"])]

     Customer_ID  Food_ID - Week 1  Food_ID - Week 2      _merge
1             97               4.0               NaN   left_only
2            658               1.0               NaN   left_only
3            202               2.0               NaN   left_only
6            213               8.0               NaN   left_only
7            600               1.0               NaN   left_only
..           ...               ...               ...         ...
449          855               NaN               4.0  right_only
450          559               NaN              10.0  right_only
451          276               NaN               4.0  right_only
452          556               NaN              10.0  right_only
453          252               NaN               9.0  right_only

[392 rows x 4 columns]

## 3.3 - *left join*

In [49]:
semana1.head()

   Customer_ID  Food_ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9

In [50]:
len(semana1.Food_ID.unique())

10

In [51]:
comidas.head()

   Food_ID Food_Item  Price
0        1    Pastas   3.99
1        2      Pure   9.99
2        3  Ensalada   2.99
3        4     Pizza   4.25
4        5    Snacks   2.49

In [52]:
len(comidas)

10

In [53]:
comidas_semana1 = semana1.merge(comidas, 
                                how = "left", 
                                on = "Food_ID", 
                                sort = True)
comidas_semana1.head()

   Customer_ID  Food_ID Food_Item  Price
0          658        1    Pastas   3.99
1          600        1    Pastas   3.99
2          155        1    Pastas   3.99
3          341        1    Pastas   3.99
4           20        1    Pastas   3.99

In [54]:
#Veamos los parmetros left_on y right_on
? pd.merge

In [55]:
#Observemos el indice y la variable ID sobre el dataset de clientes
clientes.head()

   ID First_Name Last_Name  Gender  Company                     Occupation
0   1     Joseph   Perkins    Male  Dynazzy  Community Outreach Specialist
1   2   Jennifer   Alvarez  Female     DabZ        Senior Quality Engineer
2   3      Roger     Black    Male  Tagfeed              Account Executive
3   4     Steven     Evans    Male     Fatz               Registered Nurse
4   5       Judy  Morrison  Female  Demivee                Legal Assistant

In [56]:
#Hay un desfasaje entre el Indice y el ID, por lo tanto si solo indicamos la parte izquierda del merge 
clientes.query('ID == 941')

      ID First_Name Last_Name  Gender   Company    Occupation
940  941    Carolyn    Garcia  Female  Feedfish  Food Chemist

In [57]:
ventas_cliente = semana1.merge(clientes, 
                               how = "left", 
                               left_on = "Customer_ID", 
                               right_index = True)
ventas_cliente.head()

,Customer_ID,Food_ID,ID,First_Name,Last_Name,Gender,Company,Occupation
0,537,9,538.0,Sara,Washington,Female,Skimia,Database Administrator III
1,97,4,98.0,Jean,Mills,Female,Fivebridge,Product Engineer
2,658,1,659.0,Howard,Hudson,Male,Topicshots,Professor
3,202,2,203.0,Annie,Lane,Female,Skyble,Marketing Manager
4,155,9,156.0,Stephanie,Kelly,Female,Youopia,Automation Specialist III

In [58]:
ventas_cliente.query('Customer_ID == 941')

,Customer_ID,Food_ID,ID,First_Name,Last_Name,Gender,Company,Occupation
65,941,6,942.0,Deborah,Morgan,Female,Browsebug,Tax Accountant

In [60]:
ventas_cliente_2 = semana1.merge(clientes, 
                                 how = "left", 
                                 left_on = "Customer_ID", 
                                 right_on = "ID")
ventas_cliente_2.head()

,Customer_ID,Food_ID,ID,First_Name,Last_Name,Gender,Company,Occupation
0,537,9,537,Cheryl,Carroll,Female,Zoombeat,Registered Nurse
1,97,4,97,Amanda,Watkins,Female,Ozu,Account Coordinator
2,658,1,658,Patrick,Webb,Male,Browsebug,Community Outreach Specialist
3,202,2,202,Louis,Campbell,Male,Rhynoodle,Account Representative III
4,155,9,155,Carolyn,Diaz,Female,Gigazoom,Database Administrator III

In [61]:
#Ahora si tenemos el cliente correcto, pero nos sobra una columna!
ventas_cliente_2.query('Customer_ID == 941')

,Customer_ID,Food_ID,ID,First_Name,Last_Name,Gender,Company,Occupation
65,941,6,941,Carolyn,Garcia,Female,Feedfish,Food Chemist

In [63]:
ventas_cliente_2 = ventas_cliente_2.drop(['ID'], axis = 1)
ventas_cliente_2.head()

,Customer_ID,Food_ID,First_Name,Last_Name,Gender,Company,Occupation
0,537,9,Cheryl,Carroll,Female,Zoombeat,Registered Nurse
1,97,4,Amanda,Watkins,Female,Ozu,Account Coordinator
2,658,1,Patrick,Webb,Male,Browsebug,Community Outreach Specialist
3,202,2,Louis,Campbell,Male,Rhynoodle,Account Representative III
4,155,9,Carolyn,Diaz,Female,Gigazoom,Database Administrator III

In [64]:
ventas_final = ventas_cliente_2.merge(comidas, 
                                      how = "left", 
                                      left_on = "Food_ID", 
                                      right_on = "Food_ID")
ventas_final.head()

,Customer_ID,Food_ID,First_Name,Last_Name,Gender,Company,Occupation,Food_Item,Price
0,537,9,Cheryl,Carroll,Female,Zoombeat,Registered Nurse,Postre,0.99
1,97,4,Amanda,Watkins,Female,Ozu,Account Coordinator,Pizza,4.25
2,658,1,Patrick,Webb,Male,Browsebug,Community Outreach Specialist,Pastas,3.99
3,202,2,Louis,Campbell,Male,Rhynoodle,Account Representative III,Pure,9.99
4,155,9,Carolyn,Diaz,Female,Gigazoom,Database Administrator III,Postre,0.99

Agregamos informacion sobre la calificacion dada por el cliente.

In [65]:
ventas1_rating = pd.read_csv("/content/drive/MyDrive/Curso CPE Data Wrangling/Clases/datasets/Restaurant_Ventas1_Rating.csv")
ventas1_rating.head()

   Satisfaction Rating
0                    2
1                    7
2                    3
3                    7
4                   10

In [66]:
ventas_con_rating = ventas_final.merge(ventas1_rating, 
                                       how = "left", 
                                       left_index = True, 
                                       right_index = True)

In [67]:
ventas_con_rating.head()

,Customer_ID,Food_ID,First_Name,Last_Name,Gender,Company,Occupation,Food_Item,Price,Satisfaction Rating
0,537,9,Cheryl,Carroll,Female,Zoombeat,Registered Nurse,Postre,0.99,2
1,97,4,Amanda,Watkins,Female,Ozu,Account Coordinator,Pizza,4.25,7
2,658,1,Patrick,Webb,Male,Browsebug,Community Outreach Specialist,Pastas,3.99,3
3,202,2,Louis,Campbell,Male,Rhynoodle,Account Representative III,Pure,9.99,7
4,155,9,Carolyn,Diaz,Female,Gigazoom,Database Administrator III,Postre,0.99,10